<aside class="aside_catalog resp_hide_1000">
    <div class="left_block left_bg-gray">
        <div class="left_block-rep-menu">
            <a href="javascript:void(0);" onclick="history.go(-1)" class="button_3 resp_hide_1000 link_return_catalog">Вернуться в каталог</a>
            <ul id="rep_menu">
                {% for item in menu %}
                    <li><a href="#{{ item.href }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="left_block resp_hide_1000">
        <div class="bl-response_social">
            {# Список предметов #}
            {% set list = [] %}

            {% if repetitor.course.name %}
                {% set list = list|merge([repetitor.course.name]) %}
            {% endif %}

            {% if repetitor.courseSecond.name %}
                {% set list = list|merge([repetitor.courseSecond.name]) %}
            {% endif %}

            {% if repetitor.courseThird.name %}
                {% set list = list|merge([repetitor.courseThird.name]) %}
            {% endif %}

            {% if repetitor.courseFourth.name %}
                {% set list = list|merge([repetitor.courseFourth.name]) %}
            {% endif %}

            <div class="text">Рассказать о репетиторе:</div>
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
            <div class="ya-share2"
                 data-services="vkontakte,facebook,odnoklassniki"
                 data-yashareTitle="{{ repetitor.getPrefixName() ~ repetitor.name ~ ' ' ~ repetitor.middle_name }}"
                 data-yashareImage="{{ repetitor.getPhoto(true) }}"
                 data-yashareLink="https://{{ env('DOMAIN') }}/include/{{ repetitor.getLink() }}"
                 data-yashareDescription="{{ list|unique|join(', ') }}"
            ></div>
        </div>
    </div>
    <div class="left_block left_bg-white resp_hide_1000">
        <a class="left_block-banner-1" href="javascript:void(0);" onclick="callback_rep(null, 3, null, null, event); return false;"></a>
    </div>
    <div class="left_block left_bg-white resp_hide_1000">
        <span class="left_block-banner-2 external-reference" data-link="http://www.hospicefund.ru/help/">
            <img src="/assets/img/left_banner-2.gif">
        </span>
    </div>
</aside>
