<div class="rep_bc">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">Главная</span></a></span>

    {% if type is defined and type in [constant('Helper::REPETITOR'), constant('Helper::CAR_INSTRUCTOR')] %}
        {% if type == constant('Helper::REPETITOR') %}
           / <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/include/catalog.php" itemprop="url"><span itemprop="title">Каталог репетиторов</span></a></span>
        {% else %}
            / <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/include/avtoinstruktor_obuchenie_vozhdeniju_v_spb.php" itemprop="url"><span itemprop="title">Автоинструкторы</span></a></span>
        {% endif %}
    {% endif %}

    {% if array is defined %}
        {% for value in array %}
            / <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ value.url }}" itemprop="url"><span itemprop="title">{{ value.title }}</span></a></span>
        {% endfor %}
    {% endif %}

    / <span class="breadcrumb__last">{{ last }}</span>
</div>
