<ul class="index-lern_menu">
    <li class="lern_1 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Общеобразовательные <br>предметы</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/biology.php">Биология</a></li>
                <li><a href="/include/geography.php">География</a></li>
                <li><a href="/include/programming.php">Информатика</a></li>
                <li><a href="/include/history.php">История</a></li>
                <li><a href="/include/literature.php">Литература</a></li>
                <li><a href="/include/mathematics.php">Математика</a></li>
                <li><a href="/include/law.php">Обществознание</a></li>
                <li><a href="/include/russian.php">Русский язык</a></li>
                <li><a href="/include/physics.php">Физика</a></li>
                <li><a href="/include/chemistry.php">Химия</a></li>
            </ul>
        </div>
    </li><li class="lern_2 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Языки</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/english.php">Английский язык</a></li>
                <li><a href="/include/german.php">Немецкий язык</a></li>
                <li><a href="/include/french.php">Французский язык</a></li>
                <li><a href="/include/spanish.php">Испанский язык</a></li>
                <li><a href="/include/italian.php">Итальянский язык</a></li>
                <li><a href="/include/chinese.php">Китайский язык</a></li>
                <li><a href="/include/japanese.php">Японский язык</a></li>
                <li><a href="/include/arabic.php">Арабский язык</a></li>
                <li><a href="/include/native.php">Носители языков</a></li>
                <li><a href="/include/foreign_language_main.php">Другие языки</a></li>
            </ul>
        </div>
    </li><li class="lern_all">
        <div class="col_title"><span>Каталог <br>репетиторов</span></div>
    </li><li class="lern_3 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Музыка</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/singing.php">Вокал</a></li>
                <li><a href="/include/guitar.php">Гитара</a></li>
                <li><a href="/include/saxophone.php">Саксофон</a></li>
                <li><a href="/include/violin.php">Скрипка</a></li>
                <li><a href="/include/solfeggio.php">Сольфеджио</a></li>
                <li><a href="/include/flute.php">Флейта</a></li>
                <li><a href="/include/piano.php">Фортепиано</a></li>
                <li><a href="/include/muzyka.php">Другие музыкальные дисциплины</a></li>
            </ul>
        </div>
    </li><li class="lern_4 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Инструкторы <br>по вождению</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/avtoinstruktor_obuchenie_vozhdeniju_v_spb.php">Автоинструкторы</a></li>
                <li><a href="/include/akpp.php">Автоинструкторы АКПП</a></li>
                <li><a href="/include/mkpp.php">Автоинструкторы МКПП</a></li>
                <li><a href="/include/motoinstruktor.php">Мотоинструкторы</a></li>
                <li><a href="/include/instruktor_po_vozhdeniju_zhenshhina.php">Автоинструкторы женщины</a></li>
            </ul>
        </div>
    </li><li class="lern_5 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Танцы</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/pole_dance/">Pole dance</a></li>
                <li><a href="/include/bachata/">Бачата</a></li>
                <li><a href="/include/east.php">Восточные танцы</a></li>
                <li><a href="/include/gou_gou/">Гоу гоу</a></li>
                <li><a href="/include/zumba/">Зумба</a></li>
                <li><a href="/include/club.php">Клубные танцы</a></li>
                <li><a href="/include/latina.php">Латиноамериканские танцы</a></li>
                <li><a href="/include/rumba/">Румба</a></li>
                <li><a href="/include/salsa.php">Сальса</a></li>
                <li><a href="/include/mamba/">Самба</a></li>
                <li><a href="/include/ballroom.php">Спортивные бальные танцы</a></li>
                <li><a href="/include/strip.php">Стриппластика</a></li>
                <li><a href="/include/tango/">Танго</a></li>
                <li><a href="/include/belly.php">Танцы живота</a></li>
                <li><a href="/include/dance.php">Танцы</a></li>
                <li><a href="/include/hastl/">Хастл</a></li>
                <li><a href="/include/choreography.php">Хореография</a></li>
                <li><a href="/include/tancy.php">Другие танцы</a></li>
            </ul>
        </div>
    </li><li class="lern_6 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Спортивные <br>дисциплины</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/boxing.php">Бокс</a>
                <li><a href="/include/alpine.php">Горные лыжи</a>
                <li><a href="/include/yoga.php">Йога</a>
                <li><a href="/include/swimming.php">Плавание</a>
                <li><a href="/include/hand.php">Рукопашный бой</a>
                <li><a href="/include/sambo.php">Самбо</a>
                <li><a href="/include/fitnes.php">Фитнес</a>
                <li><a href="/include/sport_main.php">Другие спортивные дисциплины</a></li>
            </ul>
        </div>
    </li><li class="lern_7 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Логопедия, подготовка <br>к школе, начальная школа</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/elementary.php">Репетиторы начальных классов</a></li>
                <li><a href="/include/kid.php">Репетиторы по подготовке к школе</a></li>
                <li><a href="/include/logoped.php">Логопеды</a></li>
            </ul>
        </div>
    </li><li class="lern_8 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Репетиторы по Skype</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/matematika/online.php">Математика по Skype</a></li>
                <li><a href="/include/russkij_yazyk/online.php">Русский язык по Skype</a></li>
                <li><a href="/include/fizika/online.php">Физика по Skype</a></li>
                <li><a href="/include/himiya/online.php">Химия по Skype</a></li>
                <li><a href="/include/informatika/online.php">Информатика по Skype</a></li>
                <li><a href="/include/istoriya/online.php">История по Skype</a></li>
                <li><a href="/include/obshchestvoznanie/online.php">Обществознание по Skype</a></li>
                <li><a href="/include/biologiya/online.php">Биология по Skype</a></li>
                <li><a href="/include/literatura/online.php">Литература по Skype</a></li>
                <li><a href="/include/anglijskij_yazyk/online.php">Английский язык по Skype</a></li>
                <li><a href="/include/nemetskij_yazyk/online.php">Немецкий язык по Skype</a></li>
                <li><a href="/include/frantsuzskij_yazyk/online.php">Французский язык по Skype</a></li>
                <li><a href="/include/ispanskij_yazyk/online.php">Испанский язык по Skype</a></li>
                <li><a href="/include/italyanskij_yazyk/online.php">Итальянский язык по Skype</a></li>
                <li><a href="/include/kitajskij_yazyk/online.php">Китайский язык по Skype</a></li>
                <li><a href="/include/online.php">Другие предметы по Skype</a></li>
            </ul>
        </div>
    </li><li class="lern_9 i_dropdown">
        <a href="javascript:void(0);" class="col_title"><span>Другие предметы</span></a>
        <div class="content">
            <ul class="col_scroll scroll-custom">
                <li><a href="/include/picture.php">Репетиторы по рисунку</a></li>
                <li><a href="/include/drawing.php">Репетиторы по черчению</a></li>
                <li><a href="/include/economics.php">Репетиторы по экономике</a></li>
                <li><a href="/include/foreigner.php">Русский язык как иностранный</a></li>
                <li><a href="/include/other_predmet_main.php">Другие предметы</a></li>
            </ul>
        </div>
    </li>
</ul>
