<font size="1">
    <footer role="contentinfo" class="{{ footerClass }}">
        <div class="footer_1">
            <div class="inner clearfix">
                <div class="f_leftblock">
                    <a href="/" class="f_logo"></a>
                    <div class="f_copyright">&copy; SpbRepetitor 2009-{{ "now"|date('Y') }}. <br>Все права защищены
                    </div>
                </div>
                <div class="f_menu">
                    <nav>
                        <ul>
                            <li><a href="/include/raion_a.php">Поиск по районам</a></li>
                            <li><a href="/include/metro_a.php">Поиск по метро</a></li>
                        </ul>
                        <ul>
                            <li><a href="/include/poisk-repetitora.php">Поиск <span class="text_1">№ </span><span
                                        class="text_2">номеру </span>анкеты</a></li>
                            <li><a href="/include/poisk-po-vuzu.php">Поиск по вузам</a></li>
                        </ul>
                        <ul>
                            <li><a href="/include/library.php">Учебные материалы</a></li>
                            <li><a href="/include/vakansii.php">Вакансии</a></li>
                        </ul>
                        <ul>
                            <li><a href="/include/news.php">Новости</a></li>
                            <li><a href="/include/statyi.php">Блог</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="f_banners">
                    <a href="https://www.facebook.com/{{ env('FACEBOOK_BANNER_URL') }}" class="f_facebook"></a>
                    <a href="https://vk.com/{{ env('VK_BANNER_URL') }}" class="f_vk"></a>
                    <a href="http://yandex.ru/cy?base=0&amp;host={{ env('YANDEX_BANNER_URL') }}" class="f_yandex">
                        <img src="//www.yandex.ru/cycounter?{{ env('YANDEX_BANNER_URL') }}" width="88" height="31"
                             alt="Индекс цитирования">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_2">
            <div class="inner clearfix">
                <ul>
                    <li><a href="/include/personal-data.php">Политика конфиденциальности</a></li>
                    <li><a href="/include/term-of-use.php">Пользовательское соглашение</a></li>
                    {#  TODO: <?php echo $go_mobile_2; ?>#}
                </ul>
            </div>
        </div>
    </footer>
</font>

<div style="display: none;" id="sign_in_form" class="animated-modal">
    <div class="fancybox-title">Вход в личный кабинет</div>
    <div class="fancybox-body">
        <form action="/include/enter.php" class="form clearfix" method="post">
            <div class="login-row form-row">
                <span class="form-text_inf">Логин:</span> <input type="text" name="login">
            </div>
            <div class="password-row form-row">
                <span class="form-text_inf">Пароль:</span> <input type="password" name="pswrd">
            </div>
            <div class="lostpassword-row form-row">
                <a href="/include/remember_pass.php">Напомнить пароль</a>
            </div>
            <div class="actions-row form-row">
                <input type="submit" value="войти" class="button_1" >
            </div>
            <div class="inf_1-row form-row">
                Ещё нет данных?
            </div>
            <div class="registration-row form-row">
                <a href="/include/registraciya.php" class="button_2">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>

<!--[if lt IE 9]><script src="/assets/js/css3-mediaqueries.min.js"></script><![endif]-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/application.js"></script>
<script src="/assets/js/jquery.fancybox.min.js"></script>
<script src="/assets/js/jquery.inputmask.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.mousewheel.min.js"></script>
<script src="/assets/js/perfect-scrollbar.min.js"></script>
<script src="/assets/js/modernizr-2.6.1.min.js" async></script>
