<div class="laika">
    <div class="laika_gg">
        <div id="vk_like"></div>
    </div>
    <div class="laika_gg">
        <div class="fb-like" data-href="https://{{ env('DOMAIN') }}" data-height="20"
             data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true"
             data-send="false"
        ></div>
    </div>
</div>
