<div class="head_menu">
    <nav>
        <ul class="h_menu_ul gr">
            <li class="h_one hm_big-dropdown el">
                <a href="javascript:void(0);" class="list ls">Каталог репетиторов<span class="h_menu_spoiler"></span></a>
                <ul class="content ct">
                    <li class="row gr">
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Общеобразовательные предметы</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/biology.php">Биология</a></li>
                                    <li><a href="/include/geography.php">География</a></li>
                                    <li><a href="/include/programming.php">Информатика</a></li>
                                    <li><a href="/include/history.php">История</a></li>
                                    <li><a href="/include/literature.php">Литература</a></li>
                                    <li><a href="/include/mathematics.php">Математика</a></li>
                                    <li><a href="/include/law.php">Обществознание</a></li>
                                    <li><a href="/include/picture.php">Рисунок</a></li>
                                    <li><a href="/include/russian.php">Русский язык</a></li>
                                    <li><a href="/include/physics.php">Физика</a></li>
                                    <li><a href="/include/chemistry.php">Химия</a></li>
                                    <li><a href="/include/drawing.php">Черчение</a></li>
                                    <li><a href="/include/economics.php">Экономика</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Языки</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/english.php">Английский язык</a></li>
                                    <li><a href="/include/arabic.php">Арабский язык</a></li>
                                    <li><a href="/include/aramejskij_yazyk">Арамейский язык</a></li>
                                    <li><a href="/include/armenian.php">Армянский язык</a></li>
                                    <li><a href="/include/afrikaans">Африкаанс</a></li>
                                    <li><a href="/include/bengalskiy_yazyk/">Бенгальский язык</a></li>
                                    <li><a href="/include/bulgarian.php">Болгарский язык</a></li>
                                    <li><a href="/include/hungarian.php">Венгерский язык</a></li>
                                    <li><a href="/include/dutch.php">Голландский язык</a></li>
                                    <li><a href="/include/greek.php">Греческий язык</a></li>
                                    <li><a href="/include/danish.php">Датский язык</a></li>
                                    <li><a href="/include/drevnegrecheskiy_yazyk/">Древнегреческий язык</a></li>
                                    <li><a href="/include/hebrew.php">Иврит</a></li>
                                    <li><a href="/include/indoneziyskiy_yazyk/">Индонезийский язык</a></li>
                                    <li><a href="/include/islandskiy_yazyk/">Исландский язык</a></li>
                                    <li><a href="/include/spanish.php">Испанский язык</a></li>
                                    <li><a href="/include/italian.php">Итальянский язык</a></li>
                                    <li><a href="/include/kazahskiy_yazyk/">Казахский язык</a></li>
                                    <li><a href="/include/katalonskiy_yazyk/">Каталонский язык</a></li>
                                    <li><a href="/include/chinese.php">Китайский язык</a></li>
                                    <li><a href="/include/korean.php">Корейский язык</a></li>
                                    <li><a href="/include/khmerskiy_yazyk/">Кхмерский язык</a></li>
                                    <li><a href="/include/latin.php">Латынь</a></li>
                                    <li><a href="/include/lettish.php">Латышский язык</a></li>
                                    <li><a href="/include/lithuanian.php">Литовский язык</a></li>
                                    <li><a href="/include/malayskiy_yazyk/">Малайский язык</a></li>
                                    <li><a href="/include/mongolskiy_yazyk/">Монгольский язык</a></li>
                                    <li><a href="/include/german.php">Немецкий язык</a></li>
                                    <li><a href="/include/norwegian.php">Норвежский язык</a></li>
                                    <li><a href="/include/persian.php">Персидский язык</a></li>
                                    <li><a href="/include/polish.php">Польский язык</a></li>
                                    <li><a href="/include/portuguese.php">Португальский язык</a></li>
                                    <li><a href="/include/romanian.php">Румынский язык</a></li>
                                    <li><a href="/include/russian.php">Русский язык</a></li>
                                    <li><a href="/include/sanscrit.php">Санскрит</a></li>
                                    <li><a href="/include/serbian.php">Сербский язык</a></li>
                                    <li><a href="/include/slovak.php">Словацкий язык</a></li>
                                    <li><a href="/include/slovenian.php">Словенский язык</a></li>
                                    <li><a href="/include/staroslavyanskiy_yazyk/">Старославянский язык</a></li>
                                    <li><a href="/include/swahili.php">Суахили</a></li>
                                    <li><a href="/include/tayskiy_yazyk/">Тайский язык</a></li>
                                    <li><a href="/include/tatarskiy_yazyk/">Татарский язык</a></li>
                                    <li><a href="/include/tibetan.php">Тибетский язык</a></li>
                                    <li><a href="/include/turkish.php">Турецкий язык</a></li>
                                    <li><a href="/include/ukrainian.php">Украинский язык</a></li>
                                    <li><a href="/include/farerskiy_yazyk/">Фарерский язык</a></li>
                                    <li><a href="/include/finnish.php">Финский язык</a></li>
                                    <li><a href="/include/french.php">Французский язык</a></li>
                                    <li><a href="/include/hindi.php">Хинди</a></li>
                                    <li><a href="/include/croatian.php">Хорватский язык</a></li>
                                    <li><a href="/include/czech.php">Чешский язык</a></li>
                                    <li><a href="/include/swedish.php">Шведский язык</a></li>
                                    <li><a href="/include/estonian.php">Эстонский язык</a></li>
                                    <li><a href="/include/yakutskiy_yazyk/">Якутский язык</a></li>
                                    <li><a href="/include/japanese.php">Японский язык</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Музыка</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/accordion.php">Аккордеон, Баян</a></li>
                                    <li><a href="/include/viola.php">Альт</a></li>
                                    <li><a href="/include/arfa/">Арфа</a></li>
                                    <li><a href="/include/balalayka/">Балалайка</a></li>
                                    <li><a href="/include/blok-fleyta/">Блок-флейта</a></li>
                                    <li><a href="/include/cello.php">Виолончель</a></li>
                                    <li><a href="/include/singing.php">Вокал</a></li>
                                    <li><a href="/include/volynka/">Волынка</a></li>
                                    <li><a href="/include/harmony.php">Гармония</a></li>
                                    <li><a href="/include/guitar.php">Гитара</a></li>
                                    <li><a href="/include/dirizhirovanie/">Дирижирование</a></li>
                                    <li><a href="/include/domra/">Домра</a></li>
                                    <li><a href="/include/clarinet.php">Кларнет</a></li>
                                    <li><a href="/include/contrabass.php">Контрабас</a></li>
                                    <li><a href="/include/lyutnya/">Лютня</a></li>
                                    <li><a href="/include/music.php">Музыка</a></li>
                                    <li><a href="/include/organ/">Орган</a></li>
                                    <li><a href="/include/saxophone.php">Саксофон</a></li>
                                    <li><a href="/include/svirel/">Свирель</a></li>
                                    <li><a href="/include/synthesizer.php">Синтезатор</a></li>
                                    <li><a href="/include/violin.php">Скрипка</a></li>
                                    <li><a href="/include/solfeggio.php">Сольфеджио</a></li>
                                    <li><a href="/include/horn.php">Труба</a></li>
                                    <li><a href="/include/drum.php">Ударные</a></li>
                                    <li><a href="/include/flute.php">Флейта</a></li>
                                    <li><a href="/include/piano.php">Фортепиано</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Танцы</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/pole_dance/">Pole dance</a></li>
                                    <li><a href="/include/bachata/">Бачата</a></li>
                                    <li><a href="/include/east.php">Восточные танцы</a></li>
                                    <li><a href="/include/gou_gou/">Гоу гоу</a></li>
                                    <li><a href="/include/zumba/">Зумба</a></li>
                                    <li><a href="/include/club.php">Клубные танцы</a></li>
                                    <li><a href="/include/latina.php">Латиноамериканские танцы</a></li>
                                    <li><a href="/include/rumba/">Румба</a></li>
                                    <li><a href="/include/salsa.php">Сальса</a></li>
                                    <li><a href="/include/ballroom.php">Спортивные бальные танцы</a></li>
                                    <li><a href="/include/strip.php">Стриппластика</a></li>
                                    <li><a href="/include/tango/">Танго</a></li>
                                    <li><a href="/include/belly.php">Танцы живота</a></li>
                                    <li><a href="/include/dance.php">Танцы</a></li>
                                    <li><a href="/include/hastl/">Хастл</a></li>
                                    <li><a href="/include/choreography.php">Хореография</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Спортивные дисциплины</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/aikido.php">Айкидо</a></li>
                                    <li><a href="/include/akrobatika/">Акробатика</a></li>
                                    <li><a href="/include/aerobics.php">Аэробика</a></li>
                                    <li><a href="/include/badminton/">Бадминтон</a></li>
                                    <li><a href="/include/basketball.php">Баскетбол</a></li>
                                    <li><a href="/include/billiards.php">Бильярд</a></li>
                                    <li><a href="/include/bodibilding/">Бодибилдинг</a></li>
                                    <li><a href="/include/bodifleks/">Бодифлекс</a></li>
                                    <li><a href="/include/boxing.php">Бокс</a></li>
                                    <li><a href="/include/tennis.php">Большой теннис</a></li>
                                    <li><a href="/include/borba/">Борьба</a></li>
                                    <li><a href="/include/velosport/">Велоспорт</a></li>
                                    <li><a href="/include/volleyball.php">Волейбол</a></li>
                                    <li><a href="/include/handball.php">Гандбол</a></li>
                                    <li><a href="/include/gymnastics.php">Гимнастика</a></li>
                                    <li><a href="/include/alpine.php">Горные лыжи</a></li>
                                    <li><a href="/include/diving.php">Дайвинг</a></li>
                                    <li><a href="/include/jiu-jitsu.php">Джиу джитсу</a></li>
                                    <li><a href="/include/judo.php">Дзюдо</a></li>
                                    <li><a href="/include/zhonglirovanie/">Жонглирование</a></li>
                                    <li><a href="/include/yoga.php">Йога</a></li>
                                    <li><a href="/include/karate.php">Карате</a></li>
                                    <li><a href="/include/kickboxing.php">Кикбоксинг</a></li>
                                    <li><a href="/include/horse.php">Конный спорт</a></li>
                                    <li><a href="/include/kung-fu/">Кунг-фу</a></li>
                                    <li><a href="/include/athletics.php">Легкая атлетика</a></li>
                                    <li><a href="/include/lfk/">ЛФК</a></li>
                                    <li><a href="/include/lyzhi/">Лыжи</a></li>
                                    <li><a href="/include/miksfayt/">Миксфайт</a></li>
                                    <li><a href="/include/small_tennis.php">Настольный теннис</a></li>
                                    <li><a href="/include/nozhevoy_boy/">Ножевой бой</a></li>
                                    <li><a href="/include/pauerlifting/">Пауэрлифтинг</a></li>
                                    <li><a href="/include/pilates.php">Пилатес</a></li>
                                    <li><a href="/include/swimming.php">Плавание</a></li>
                                    <li><a href="/include/rolikovye_konki/">Роликовые коньки</a></li>
                                    <li><a href="/include/hand.php">Рукопашный бой</a></li>
                                    <li><a href="/include/sambo.php">Самбо</a></li>
                                    <li><a href="/include/samooborona/">Самооборона</a></li>
                                    <li><a href="/include/skvosh/">Сквош</a></li>
                                    <li><a href="/include/snowboard.php">Сноуборд</a></li>
                                    <li><a href="/include/strelba/">Стрельба</a></li>
                                    <li><a href="/include/stretching.php">Стретчинг</a></li>
                                    <li><a href="/include/sumo/">Сумо</a></li>
                                    <li><a href="/include/thai.php">Тайский бокс</a></li>
                                    <li><a href="/include/taekwondo.php">Тхэквондо</a></li>
                                    <li><a href="/include/wushu.php">Ушу</a></li>
                                    <li><a href="/include/fencing.php">Фехтование</a></li>
                                    <li><a href="/include/figure.php">Фигурное катание</a></li>
                                    <li><a href="/include/ofp.php">Физкультура</a></li>
                                    <li><a href="/include/fitnes.php">Фитнес</a></li>
                                    <li><a href="/include/football.php">Футбол</a></li>
                                    <li><a href="/include/hodba/">Ходьба</a></li>
                                    <li><a href="/include/cigun.php">Цигун</a></li>
                                    <li><a href="/include/chess.php">Шахматы</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Логопедия, подготовка к школе, нач. школа</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/logoped.php">Логопеды, дефектологи</a></li>
                                    <li><a href="/include/elementary.php">Начальная школа</a></li>
                                    <li><a href="/include/kid.php">Подготовка к школе</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Инструкторы по вождению</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/akpp.php">Инструкторы с АКПП</a></li>
                                    <li><a href="/include/mkpp.php">Инструкторы c МКПП</a></li>
                                    <li><a href="/include/motoinstruktor.php">Мотоинструкторы</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="col el">
                            <li>
                                <div class="col_title ls">Другие предметы</div>
                                <ul class="col_scroll scroll-custom ct">
                                    <li><a href="/include/autocad.php">AutoCAD</a></li>
                                    <li><a href="/include/actor.php">Актерское мастерство</a></li>
                                    <li><a href="/include/anatomy.php">Анатомия</a></li>
                                    <li><a href="/include/architecture.php">Архитектура</a></li>
                                    <li><a href="/include/astronomy.php">Астрономия</a></li>
                                    <li><a href="/include/bookkeeping.php">Бухгалтерский учёт</a></li>
                                    <li><a href="/include/geologiya/">Геология</a></li>
                                    <li><a href="/include/diffur.php">Дифференциальные уравнения</a></li>
                                    <li><a href="/include/journalism.php">Журналистика</a></li>
                                    <li><a href="/include/art_history.php">История искусств</a></li>
                                    <li><a href="/include/photoshop.php">Компьютерная графика</a></li>
                                    <li><a href="/include/culture.php">Культура речи</a></li>
                                    <li><a href="/include/culturology.php">Культурология</a></li>
                                    <li><a href="/include/algebra.php">Линейная алгебра</a></li>
                                    <li><a href="/include/logic.php">Логика</a></li>
                                    <li><a href="/include/marketing.php">Маркетинг</a></li>
                                    <li><a href="/include/matan.php">Математический анализ</a></li>
                                    <li><a href="/include/management.php">Менеджмент</a></li>
                                    <li><a href="/include/politics.php">Политология</a></li>
                                    <li><a href="/include/justice.php">Право</a></li>
                                    <li><a href="/include/programmirovanie/">Программирование</a></li>
                                    <li><a href="/include/psychology.php">Психология</a></li>
                                    <li><a href="/include/razvitie_pamyati/">Развитие памяти</a></li>
                                    <li><a href="/include/religiovedenie/">Религиоведение</a></li>
                                    <li><a href="/include/rhetoric.php">Риторика</a></li>
                                    <li><a href="/include/foreigner.php">Русский язык для иностранцев</a></li>
                                    <li><a href="/include/skorochtenie/">Скорочтение</a></li>
                                    <li><a href="/include/sculpture.php">Скульптура</a></li>
                                    <li><a href="/include/sopromat.php">Сопротивление материалов</a></li>
                                    <li><a href="/include/sociology.php">Социология</a></li>
                                    <li><a href="/include/termeh.php">Теоретическая механика</a></li>
                                    <li><a href="/include/terver.php">Теория вероятностей</a></li>
                                    <li><a href="/include/philosophy.php">Философия</a></li>
                                    <li><a href="/include/photography.php">Фотография</a></li>
                                    <li><a href="/include/ecology.php">Экология</a></li>
                                    <li><a href="/include/electro.php">Электротехника</a></li>
                                    <li><a href="/include/etiquette.php">Этикет</a></li>
                                    <li><a href="/include/yazyk_zhestov">Язык жестов</a></li>
                                    <li><a href="/include/linguistics.php">Языкознание</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="h_two el">
                {% if h_menu_avto %}
                    <a href="javascript:void(0);" onclick="callback_rep(null, 4); return false;" class="list h_resp_closefix h_resp_closefix">Подбор автоинструктора</a>
                {% else %}
                    <a href="javascript:void(0);" onclick="callback_rep(null, 3); return false;" class="list h_resp_closefix">Подбор репетитора</a>
                {% endif %}
            </li>
            <li class="h_three el">
                <a href="/include/otzyv.php" class="list">Отзывы учеников</a>
            </li>
            <li class="h_four hm_small-dropdown el">
                <a href="javascript:void(0);" class="list ls">Как это работает?<span class="h_menu_spoiler"></span></a>
                <ul class="content ct">
                    <li><a href="/include/info_for_students.php">Для учеников</a></li>
                    <li><a href="/include/info_for_tutors.php">Для репетиторов</a></li>
                </ul>
            </li>
            <li class="h_five el">
                <a href="/include/us.php" class="list">О сервисе</a>
            </li>
            <li class="h_six el">
                <a href="/include/contakts.php" class="list">Контакты</a>
            </li>
            <li class="h_resp_gorod_link el">
                <a id="gorod_link" class="h_resp_closefix" data-city="{{ env('CITY_ID') }}"
                   data-country="{{ env('COUNTRY_ID') }}" href="javascript:void(0);">Регион:
                    Санкт-Петербург</a>
            </li>
        </ul>
    </nav>
</div>
