{% if paginator.hasPages %}
    <div class="paginator">
        {# Previous Page Link #}
        {% if not paginator.onFirstPage %}
            <a href="{{ paginator.previousPageUrl }}" class="prev" rel="prev" aria-label="{{ trans('pagination.previous') }}"></a>
        {% endif %}

        {# Pagination Elements #}
        {% for element in elements %}
            {# Three Dots" Separator #}
            {% if is_string(element) %}
                <span>{{ element }}</span>
            {% endif %}

            {# Array Of Links #}
            {% if is_array(element) %}
                {% for page, url in element %}
                    {% if page == paginator.currentPage %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <a href="{{ url }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {# Next Page Link #}
        {% if paginator.hasMorePages %}
            <a href="{{ paginator.nextPageUrl }}" class="next" rel="next" aria-label="{{ trans('pagination.next') }}"></a>
        {% endif %}
    </div>
{% endif %}
