{# Собираем список всех доступных городов #}
{% set cities = ['Санкт-Петербург'] %}

{% if repetitor.city.name %}
    {% set cities = cities|merge([repetitor.city.name]) %}
{% endif %}

{% if repetitor.citySecond.name %}
    {% set cities = cities|merge([repetitor.citySecond.name]) %}
{% endif %}

{% if repetitor.cityThird.name %}
    {% set cities = cities|merge([repetitor.cityThird.name]) %}
{% endif %}

{% if repetitor.cityFourth.name %}
    {% set cities = cities|merge([repetitor.cityFourth.name]) %}
{% endif %}

{% set cities = cities|unique|join(', ') %}

{# Собираем список всех доступных метро #}
{% set metro = [] %}

{% if repetitor.metro.name %}
    {% set metro = metro|merge([repetitor.metro.name]) %}
{% endif %}

{% if repetitor.metroSecond.name %}
    {% set metro = metro|merge([repetitor.metroSecond.name]) %}
{% endif %}

{% set metro = metro|unique|join(', ') %}

{# Список предметов #}
{% set courses = [] %}

{% if repetitor.course.name %}
    {% set courses = courses|merge([repetitor.course.name]) %}
{% endif %}

{% if repetitor.courseSecond.name %}
    {% set courses = courses|merge([repetitor.courseSecond.name]) %}
{% endif %}

{% if repetitor.courseThird.name %}
    {% set courses = courses|merge([repetitor.courseThird.name]) %}
{% endif %}

{% if repetitor.courseFourth.name %}
    {% set courses = courses|merge([repetitor.courseFourth.name]) %}
{% endif %}

{% set courses = courses|unique|join(', ') %}

<article class="anketa">
    <div class="anketa-photo">
        <div class="anketa-photo_action">
            <div class="anketa-photo_rating">{{ (repetitor.ratings_rating is not empty ? repetitor.ratings_rating : repetitor.rating)|number_format(0, '.', '') }}</div>
            {% if repetitor.skype %}
                <div class="anketa-photo_skype"></div>
            {% endif %}
        </div>

        <a class="anketa-photo_image" href="/include/{{ repetitor.getLink() }}">
            {% set alt = repetitor.first_name ~ ' ' ~ repetitor.middle_name %}
            {% if altText[loop.index] is not empty %}
                {% set alt = altText[loop.index]|replace({
                    '{FIRST_NAME}': repetitor.first_name,
                    '{MIDDLE_NAME}': repetitor.middle_name
                }) %}
            {% endif %}
            <img src="{{ repetitor.getPhoto() }}" alt="{{ alt }}">
        </a>
        {{ Helper.callback(repetitor.id_users, 1) }}
    </div>
    <div class="anketa-body">
        <div class="ank_b_320_bl_1">
            <div class="anketa-body_name">
                <a href="/include/{{ repetitor.getLink() }}">
                    <span>{{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}</span>
                </a>
                {{ Helper.favouritesButton(repetitor.id_users, repetitor.is_car_instructor ? 2 : 1) }}
            </div>
            <div class="anketa-body_lerns">
                <span>{{ repetitor.is_car_instructor ? 'Коробка передач' : 'Предметы' }}:</span>
                {{ courses }}
            </div>
            <div class="anketa-body_geo_right">
                <div class="anketa-body_price">{{ repetitor.price_per_hour|number_format(0, ',', ' ') }}
                    <span>руб./час</span></div>
            </div>
        </div>
        <div class="anketa-body_geo_right_2">
            <div class="anketa-body_metro">
                {{ metro }}
            </div>
            <div class="anketa-body_gorod">
                {{ cities }}
            </div>
        </div>
        {% if not repetitor.is_car_instruktor %}
        <div class="anketa-body_geo_left">
            {% if not repetitor.students_home %}
                {% if repetitor.teachers_home %}
                    <div class="anketa-body_usebya">Провожу занятия у себя</div>
                {% elseif repetitor.skype %}
                    <div class="anketa-body_skype">Обучение по Skype</div>
                {% endif %}
            {% else %}
                <div class="anketa-body_viezd">Выезд на дом:
                    {% if repetitor.metro_list %}
                        {{ Helper.metroList(repetitor, 2) }}
                    {% else %}
                        возможен
                    {% endif %}
                </div>
            {% endif %}

            {% if repetitor.first_lesson_free %}
                <div class="anketa-body_pervoe">Первое занятие бесплатно</div>
            {% endif %}
        </div>
        {% endif %}
        <div class="anketa-body_stag">
            {% if repetitor.work_experience %}
                <div class="anketa-body_opit">
                    {% set experience = repetitor.is_car_instructor ? repetitor.work_experience_info : repetitor.work_experience %}
                    {{ repetitor.is_car_instructor ? 'Стаж вождения' : 'Опыт' }}: {{ experience|plural_word(experience, 'год|года|лет', ' ') }}
                </div>
            {% endif %}

            {% if repetitor.reviewsCount() > 0 %}
                <div class="anketa-body_r_all">Отзывы: {{ repetitor.reviewsCount() }}</div>
                <div class="anketa-body_r_more">(
                    <div class="anketa-body_r_plus">{{ repetitor.reviewsPositiveCount() }}</div>
                    <div class="anketa-body_r_neitral">{{ repetitor.reviewsNeutralCount() }}</div>
                    <div class="anketa-body_r_minus">{{ repetitor.reviewsNegativeCount() }}</div>
                    ),
                </div>
                <div class="anketa-body_r_more anketa-body_r_more_2">средняя оценка: {{ repetitor.getRating() }}</div>
            {% endif %}
        </div>
        <div class="anketa-body_info">
            <ul>
                {% if not repetitor.is_car_instructor %}
                    {% if repetitor.university.name and repetitor.graduation_year %}
                        <li><span>Образование:</span> {{ repetitor.university.name ~ ', ' ~ repetitor.graduation_year }}
                        </li>
                    {% elseif repetitor.education %}
                        {% set maxLength = 200 %}
                        <li>
                            <span>Образование:</span> {{ repetitor.education|cut_up_to_marks(maxLength)|raw }}{% if repetitor.education|length > maxLength %}...{% endif %}
                        </li>
                    {% endif %}
                {% else %}
                    {% set list = [] %}

                    {% if repetitor.id_cars %}
                        {% set list = list|merge([repetitor.car.manufacturer.name_eng ~ ' ' ~ repetitor.car.name_eng]) %}
                    {% endif %}

                    {% if repetitor.id_cars_second %}
                        {% set list = list|merge([repetitor.carSecond.manufacturer.name_eng ~ ' ' ~ repetitor.carSecond.name_eng]) %}
                    {% endif %}

                    {% if list|length > 0 %}
                        <li>
                            <b>{{ list|length > 1 ? 'Автомобили' : 'Автомобиль' }}:</b>
                            {{ list|unique|join(', ') }}
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <span>Комментарий:</span>

                    {% if commentsPrependText[loop.index] is not empty and course is defined %}
                        {% set recommend_name = '' %}
                        {% set recommend_name_second = '' %}
                        {% set native = course.id_courses == repetitor.id_courses_native ? ' Носитель ' ~ course.recommend_name_second ~ '.' : '' %}
                        {% set place = repetitor.students_home and loop.index < 8 ? ' на дому.' : ' в Санкт-Петербурге.' %}
                        {% set info = [('ЕГЭ' in repetitor.comment) and ('ОГЭ' in repetitor.comment) ? ' Подготовка к ОГЭ и ЕГЭ.' : 'ЕГЭ' in repetitor.comment ? ' Подготовка к ЕГЭ.' : 'ОГЭ' in repetitor.comment ?  ' Подготовка к ОГЭ.' : '', native]|join('') %}

                        {% if course.id_courses_second in [repetitor.id_courses, repetitor.id_courses_second, repetitor.id_courses_third, repetitor.id_courses_fourth]|filter(v => v) %}
                            {% set recommend_name = ' и ' ~ course.secondCourse.recommend_name %}
                            {% set recommend_name_second = ' и ' ~ course.secondCourse.recommend_name_second %}
                        {% endif %}

                        &#8194;&#8194;{{ commentsPrependText[loop.index]|replace({
                            '{COURSE_SECOND_RECOMMEND_NAME}': recommend_name,
                            '{COURSE_SECOND_RECOMMEND_NAME_SECOND}': recommend_name_second,
                            '{NATIVE}': native,
                            '{PLACE}': place,
                            '{INFO}': info
                        }) }}<br>
                    {% elseif commentsPrependText[loop.index] is not empty and university is defined %}
                        {% set recommend_name = repetitor.courseSecond.name ? 'по ' ~ repetitor.courseSecond.recommend_name ~ ' и ' ~ repetitor.course.recommend_name : repetitor.course.recommend_name %}

                        &#8194;&#8194;{{ commentsPrependText[loop.index]|replace({
                            '{RECOMMEND_NAME}': recommend_name,
                            '{SHORT_NAME}': university.short_name,
                            '{NAME}': university.name
                        }) }}.<br>
                    {% elseif commentsPrependText[loop.index] is not empty and repetitor.is_car_instructor and slug is defined %}
                        {% set transmission = [] %}

                        {% if repetitors.checkAutomaticTransmissionCourse() %}
                            {% set transmisson = transmisson|merge(['АКПП. ']) %}
                        {% endif %}

                        {% if repetitors.checkManualTransmissionCourse() %}
                            {% set transmisson = transmisson|merge(['МКПП. ']) %}
                        {% endif %}

                        &#8194;&#8194;{{ commentsPrependText[loop.index]|replace({
                            '{TRANSMISSION}': transmission|join(''),
                            '{SEX}': repetitor.isWoman() ? ' Женщина. ' : ' '
                        }) }}.<br>
                    {% endif %}

                    {# TODO: Убрать в базу #}
                    {% if repetitor.is_car_instructor and index is defined and car is defined %}
                        {% set woman = repetitor.sex ? '. Женщина' : '' %}

                        &#8194;&#8194;
                        {% if index == 1 %}
                            Индивидуальный инструктор по вождению на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Частное обучение вождению на автомобиле {{ car.manufacturer.name_eng }} {{ car.name_eng }} в Санкт-Петербурге.
                        {% elseif index == 2 %}
                            Автоинструктор по вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}{{ woman }}. Частные уроки вождения на {{ car.manufacturer.name }} {{ car.name }} в СПб.
                        {% elseif index == 3 %}
                            Частный инструктор по вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}{{ woman }}. Индивидуальное обучение вождению на автомобиле {{ car.manufacturer.name_eng }} {{ car.name_eng }}.
                        {% elseif index == 4 %}
                            Частный автоинструктор на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Индивидуальные уроки вождения на {{ car.manufacturer.name_eng }} {{ car.name_eng }}.
                        {% elseif index == 5 %}
                            Инструктор по вождению на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Частные уроки вождения автомобиля на {{ car.manufacturer.name_eng }} {{ car.name_eng }}.
                        {% elseif index == 6 %}
                            Частный автоинструктор на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Индивидуальное обучение вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}
                        {% elseif index == 7 %}
                            Индивидуальный автоинструктор на {{ car.manufacturer.name_eng }} {{ car.name_eng }}{{ woman }}. Частные уроки вождения на {{ car.manufacturer.name }} {{ car.name }}.
                        {% elseif index == 8 %}
                            Инструктор по вождению на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Частное обучение вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}.
                        {% elseif index == 9 %}
                            Частный автоинструктор по вождению автомобиля на {{ car.manufacturer.name }} {{ car.name }}{{ woman }}. Индивидуальные уроки вождения автомобиля на {{ car.manufacturer.name }} {{ car.name }}.
                        {% elseif index == 10 %}
                            Автоинструктор на {{ car.manufacturer.name_eng }} {{ car.name_eng }}{{ woman }}. Частное обучение вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}.
                        {% endif %}
                        <br>
                    {% endif %}

                    {% if not repetitor.is_car_instructor and repetitor.skype == 1 and index is defined and page is defined and course is defined %}
                        {% if page == 1 %}
                            &#8194;&#8194;
                            {% if repetitor.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::LANGUAGES') %}
                                {% if index == 1 %}
                                    Репетитор по {{ course.recommend_name }} онлайн. Обучение {{ course.recommend_name }} по скайпу для взрослых и детей.
                                {% elseif index == 2 %}
                                    Репетитор {{ course.recommend_name_second }} по Skype. Онлайн уроки {{ course.recommend_name_second }} дистанционно.
                                {% elseif index == 3 %}
                                    Репетитор {{ course.recommend_name_second }} по скайпу. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 4 %}
                                    Преподаватель по {{ course.recommend_name }} онлайн. Обучение {{ course.recommend_name }} по скайпу для детей и взрослых.
                                {% elseif index == 5 %}
                                    Репетитор по {{ course.recommend_name }} для дистанционных занятий. Онлайн уроки {{ course.recommend_name_second }} по skype (дистанционно).
                                {% elseif index == 6 %}
                                    Репетитор по {{ course.recommend_name }} online. Обучение {{ course.recommend_name }} по скайпу.
                                {% elseif index == 7 %}
                                    Репетитор {{ course.recommend_name_second }} онлайн. Обучение {{ course.recommend_name }} по skype для детей и взрослых.
                                {% elseif index == 8 %}
                                    Преподаватель по {{ course.recommend_name }} по skype. Онлайн уроки {{ course.recommend_name_second }} для детей и взрослых.
                                {% elseif index == 9 %}
                                    Репетитор по {{ course.recommend_name }} по skype. Онлайн уроки {{ course.recommend_name_second }} (дистанционно по скайпу).
                                {% elseif index == 10 %}
                                    Репетитор {{ course.recommend_name_second }} по скайпу. Онлайн уроки {{ course.recommend_name_second }} для взрослых и детей.
                                {% elseif index == 11 %}
                                    Репетитор по {{ course.recommend_name }} для дистанционных занятий. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 12 %}
                                    Репетитор {{ course.recommend_name_second }} для удаленных занятий. Частные уроки {{ course.recommend_name_second }} онлайн.
                                {% elseif index == 13 %}
                                    Репетитор {{ course.recommend_name_second }} онлайн. Уроки {{ course.recommend_name_second }} по skype для взрослых и детей.
                                {% elseif index == 14 %}
                                    Репетитор {{ course.recommend_name_second }} для удаленных занятий. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 15 %}
                                    Преподаватель {{ course.recommend_name_second }} онлайн. Обучение {{ course.recommend_name }} по skype.
                                {% endif %}
                            {% else %}
                                {% if index == 1 %}
                                    Репетитор по {{ course.recommend_name }} онлайн. Обучение {{ course.recommend_name }} по скайпу.
                                {% elseif index == 2 %}
                                    Репетитор {{ course.recommend_name_second }} по Skype. Онлайн уроки {{ course.recommend_name_second }} дистанционно.
                                {% elseif index == 3 %}
                                    Репетитор {{ course.recommend_name_second }} по скайпу. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 4 %}
                                    Преподаватель по {{ course.recommend_name }} онлайн. Обучение {{ course.recommend_name }} по скайпу.
                                {% elseif index == 5 %}
                                    Репетитор по {{ course.recommend_name }} для дистанционных занятий. Онлайн уроки {{ course.recommend_name_second }} по skype (дистанционно).
                                {% elseif index == 6 %}
                                    Репетитор по {{ course.recommend_name }} online. Обучение {{ course.recommend_name }} по скайпу.
                                {% elseif index == 7 %}
                                    Репетитор {{ course.recommend_name_second }} онлайн. Обучение {{ course.recommend_name }} по skype.
                                {% elseif index == 8 %}
                                    Преподаватель по {{ course.recommend_name }} по skype. Онлайн уроки {{ course.recommend_name_second }}.
                                {% elseif index == 9 %}
                                    Репетитор по {{ course.recommend_name }} по skype. Онлайн уроки {{ course.recommend_name_second }} (дистанционно по скайпу).
                                {% elseif index == 10 %}
                                    Репетитор {{ course.recommend_name_second }} по скайпу. Онлайн уроки {{ course.recommend_name_second }}.
                                {% elseif index == 11 %}
                                    Репетитор по {{ course.recommend_name }} для дистанционных занятий. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 12 %}
                                    Репетитор {{ course.recommend_name_second }} для удаленных занятий. Частные уроки {{ course.recommend_name_second }} онлайн.
                                {% elseif index == 13 %}
                                    Репетитор {{ course.recommend_name_second }} онлайн. Уроки {{ course.recommend_name_second }} по skype.
                                {% elseif index == 14 %}
                                    Репетитор {{ course.recommend_name_second }} для удаленных занятий. Обучение {{ course.recommend_name }} онлайн.
                                {% elseif index == 15 %}
                                    Преподаватель {{ course.recommend_name_second }} онлайн. Обучение {{ course.recommend_name }} по skype.
                                {% endif %}
                            {% endif %}
                            <br>
                        {% endif %}
                    {% endif %}

                    {% set maxLength = 480 %}
                    {% if repetitor.comment is not empty %}
                        {% if (repetitor.comment ~ repetitor.additional_information)|length > maxLength %}
                            {% set length = repetitor.comment|length %}

                            {% if length > maxLength %}
                                &ensp;&ensp;{{ repetitor.comment|cut_up_to_marks(maxLength)|raw }}...
                            {% else %}
                                {% set length = maxLength - length %}
                                &ensp;&ensp;{{ repetitor.comment|escape|nlbr|raw }}<br>
                                &ensp;&ensp;{{ repetitor.additional_information|cut_up_to_marks(length)|raw }}{% if repetitor.additional_information|length > length %}...{% endif %}
                            {% endif %}
                        {% else %}
                            &ensp;&ensp;{{ repetitor.comment|escape|nlbr|raw }}<br>
                            &ensp;&ensp;{{ repetitor.additional_information|escape|nlbr|raw }}
                        {% endif %}
                    {% else %}
                        &ensp;&ensp;{{ repetitor.additional_information|cut_up_to_marks(maxLength)|raw }}{% if repetitor.additional_information|length > maxLength %}...{% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {{ Helper.reviewsButton(repetitor) }}
</article>
