<div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'{{ env('YANDEX_SEARCH_LINK') }}','arrow':false,'bg':'#ffffff','fontsize':14,'fg':'#ff0000','language':'ru','logo':'rb','publicname':'Поиск по Репетит-Центр','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2284469,'input_fg':'#ccccd1','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'Поиск по сайту','input_placeholderColor':'#ccccd1','input_borderColor':'#ffffff'}">
    <form action="https://yandex.ru/search/site/" method="get" target="_self" accept-charset="utf-8" style="display: none;">
        <input type="hidden" name="searchid" value="2284469">
        <input type="hidden" name="l10n" value="ru">
        <input type="hidden" name="reqenc" value="">
        <input type="search" name="text" value="">
        <input type="submit" value="Найти">
    </form>
</div>
<script>(function(w,d,c){var s=d.createElement("script"),h=d.getElementsByTagName("script")[0],e=d.documentElement;if((" "+e.className+" ").indexOf(" ya-page_js_yes ")===-1){e.className+=" ya-page_js_yes"}s.async=true;s.src=(d.location.protocol==="https:"?"https:":"http:")+"//site.yandex.net/v2.0/js/all.js";h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,"yandex_site_callbacks");</script>
