<div class="main">
    {{ Helper.filterButtons() }}
    {{ Helper.sortButtons(type, repetitors.total) }}
    <section id="tutors">
        {% for repetitor in repetitors %}
            {{ include('../../components/show-account.twig') }}
        {% endfor %}
        {{ repetitors.links('components.pagination')|raw }}
        {{ include('../components/likes.twig') }}
    </section>
</div>
