{% set class = review.date|date('Y') <= 2012 ? 'bl-response_icon_pen' : 'bl-response_icon_phone' %}
<div class="bl-response_item {{ class }}" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="bl-response_repetitor">
        <span class="bl-response_name">{{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}</span>

        {% if review.order.object == 'akpp' %}
            <span class="bl-response_lern">(АКПП)</span>
        {% elseif review.order.object == 'mkpp' %}
            <span class="bl-response_lern">(МКПП)</span>
        {% elseif review.order.course.name %}
            <span class="bl-response_lern">({{ review.order.course.name }})</span>
        {% endif %}
    </div>
    <div class="bl-response_rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span class="bl-response_rating_1">Оценка:</span>
        <span class="bl-response_rating_2" itemprop="ratingValue">{{ review.rating }}</span>
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
    </div>
    <div class="bl-response_text s_text_info" itemprop="description">
        {% set maxLength = 370 %}
        {% set comment = review.comment|cut_up_to_marks(maxLength, false, false) %}
        {% set commentLength = comment|length %}
        {{ comment|raw }}{% if review.comment|length > commentLength %}<span>{{ review.comment|slice(commentLength) }}</span><i>...</i><a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>{% endif %}
    </div>
    <div class="bl-response_uchenik"><span itemprop="author">{{ review.name|ucfirst }}</span></div>
    <div class="bl-response_info">
        <span>
            <meta itemprop="datePublished" content="{{ review.date }}">
            {{ review.date|localizeddate('long', 'none', 'ru_RU') }}
            {{ review.order.id_orders ? ', № ' ~ review.order.id_orders : '' }}
        </span>
    </div>
</div>
