<title>"СПбРепетитор" - Заявка на поиск репетитора оформлена</title>

{% if not order.id_users %}
    Номер заказа <strong>{{ order.id_orders }}</strong>. В течение суток с Вами свяжется удовлетворяющий Вашим требованиям преподаватель или администратор, если потребуется прояснить какие-то детали.
{% else %}
    Номер заказа <strong>{{ order.id_orders }}</strong>. В ближайшие часы Ваши контакты будут переданы репетитору, и он свяжется с Вами в течение суток. Если потребуется, то для уточнения каких-то деталей заказа с Вами свяжется администратор.
{% endif %}
