{% set responder = not repetitor.is_car_instructor ? 'репетитору' : 'автоинструктору' %}
<div style="display: none;" id="h_postform_anketa" class="h_postform_ajax animated-modal clearfix">
    <div class="fancybox-title callback-title-change">
        <span style="font-weight: 300;">Заявка {{ responder }}</span>
        № {{ repetitor.id_users }} ({{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }})
    </div>
    <div class="fancybox-body">
        <form action="/ajax/add-order?id_users={{ repetitor.id_users }}" method="post" class="form callback_js">
            {{ csrf_field() }}

            <div class="fancybox-postform_text_all">
                <p>В кратчайшие сроки ваши контакты будут переданы {{ responder }} и он свяжется с вами. Это
                    абсолютно бесплатно. Занятия оплачиваются {{ responder }} без какой-либо комиссии для
                    вас.</p>
            </div>

            <div class="callback_rep">
                <div class="callback_error"></div>
                <div class="callback_rep_l">
                    <div class="callback_bl">
                        <div class="callback_name">Имя<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" autocomplete="off" name="name" maxlength="49">
                        </div>
                    </div>
                    <div class="callback_bl">
                        <div class="callback_name">Телефон<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" name="phone" id="s_phone" maxlength="23">
                        </div>
                    </div>

                    {% if repetitor.is_car_instructor %}
                        <div class="callback_bl callback_korob">
                            <div class="callback_name">Коробка передач<span class="field_obyaz">*</span>:</div>
                            <div class="callback_ff">
                                <div class="radio-list">
                                    <input id="akpp" type="radio" name="object" value="akpp" checked>
                                    <label for="akpp">АКПП</label>

                                    <input id="mkpp" type="radio" name="object" value="mkpp">
                                    <label for="mkpp">МКПП</label>

                                    <input id="motorbike" type="radio" name="object" value="moto">
                                    <label for="motorbike">Мотоцикл</label>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="callback_bl form_share">
                        <div class="callback_name">E-mail:</div>
                        <div class="callback_ff">
                            <input type="text" name="email" maxlength="49">
                        </div>
                    </div>

                    {% if not repetitor.is_car_instructor %}
                        <div class="callback_bl form_share">
                            <div class="callback_name">Предмет:</div>
                            <div class="callback_ff">
                                <div class="select_def">
                                    <select name="id_courses">
                                        <option value=""></option>

                                        {% set userCourses = false %}

                                        {% if repetitor.course.name %}
                                            {% set userCourses = true %}
                                            <option
                                                value="{{ repetitor.course.id_courses }}">{{ repetitor.course.name }}</option>
                                        {% endif %}

                                        {% if repetitor.courseSecond.name %}
                                            {% set userCourses = true %}
                                            <option
                                                value="{{ repetitor.courseSecond.id_courses }}">{{ repetitor.courseSecond.name }}</option>
                                        {% endif %}

                                        {% if repetitor.courseThird.name %}
                                            {% set userCourses = true %}
                                            <option
                                                value="{{ repetitor.courseThird.id_courses }}">{{ repetitor.courseThird.name }}</option>
                                        {% endif %}

                                        {% if repetitor.courseFourth.name %}
                                            {% set userCourses = true %}
                                            <option
                                                value="{{ repetitor.courseFourth.id_courses }}">{{ repetitor.courseFourth.name }}</option>
                                        {% endif %}

                                        {% if userCourses %}
                                            <option disabled>--------------</option>
                                        {% endif %}

                                        {% for course in courses %}
                                            <option value="{{ course.id_courses }}">{{ course.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="callback_bl form_share">
                            <div class="callback_name">Цель занятий,<br>возраст/класс ученика:</div>
                            <div class="callback_ff">
                                <textarea name="object" cols="100" rows="8"></textarea>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="callback_rep_r form_share">

                    {% if not repetitor.is_car_instructor %}
                        <div class="callback_bl">
                            <div class="callback_name">Место занятий:</div>
                            <div class="callback_ff">
                                <div class="select_def">
                                    <select name="id_orders_locations" class="postform">
                                        {% for location in locations %}
                                            <option value="{{ location.id_orders_locations }}">{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="callback_bl">
                        <div class="callback_name">Город:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_cities" class="postform">
                                    {% for city in cities %}
                                        <option value="{{ city.id_cities }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Метро:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_metro" class="postform">
                                    {% for item in metro %}
                                        <option value="{{ item.id_metro }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Дополнительная информация:</div>
                        <div class="callback_ff">
                            <textarea name="additional_information" cols="100" rows="8"></textarea>
                            <div class="callback_ff_smalltext">Удобные дни и время занятий; дальность от метро</div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_rep_s">
                            <div class="postform_sogl">Отправляя заявку, подтверждаю ознакомление и согласие с
                                <a href="/include/term-of-use.php" target="_blank">Пользовательским Соглашением</a>,
                                <a href="/include/personal-data.php" target="_blank">Политикой в области обработки
                                    персональных данных полностью</a>
                                и даю <a href="/include/soglasie.php" target="_blank">согласие</a> на обработку
                                персональных данных.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions-row button_podbor">
                    <input type="submit" value="Отправить" style="font-size: 12px;" class="btn button_1"
                           onClick="ga('send', 'event', 'ajax_post', 'sent_post');">
                </div>
            </div>
        </form>
    </div>
</div>
