{% set responder = type == 3 ? 'репетитора' : 'автоинструктора' %}
<div style="display: none;" id="h_postform_all" class="h_postform_ajax animated-modal clearfix">
    <div class="fancybox-title callback-title-change">
        {% if title is not empty %}Заявка репетиторам: {{ title }}{% else %}Поиск {{ responder }} с нашей помощью{% endif %}
    </div>
    <div class="fancybox-body">
        <form action="/ajax/add-order?type={{ type }}" method="post" class="form callback_js">
            {{ csrf_field() }}

            <div class="fancybox-postform_text_all">
                {% if type == 3 %}
                    Заполните форму ниже и мы свяжем вас с выбранными репетиторами
                {% else %}
                    Заполните форму ниже и мы <b>бесплатно</b> порекомендуем вам преподавателя
                    <br>в соответствии с вашими пожеланиями
                {% endif %}
            </div>

            <div class="callback_rep">
                <div class="callback_error"></div>
                <div class="callback_rep_l">
                    <div class="callback_bl">
                        <div class="callback_name">Имя<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" autocomplete="off" name="name" maxlength="49">
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Телефон<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" name="phone" id="s_phone" maxlength="23">
                        </div>
                    </div>

                    {% if type == 4 %}
                        <div class="callback_bl callback_korob">
                            <div class="callback_name">Коробка передач<span class="field_obyaz">*</span>:</div>
                            <div class="callback_ff">
                                <div class="radio-list">
                                    <input id="akpp" type="radio" name="object" value="akpp" checked>
                                    <label for="akpp">АКПП</label>

                                    <input id="mkpp" type="radio" name="object" value="mkpp">
                                    <label for="mkpp">МКПП</label>

                                    <input id="motorbike" type="radio" name="object" value="moto">
                                    <label for="motorbike">Мотоцикл</label>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="callback_bl form_share">
                        <div class="callback_name">E-mail:</div>
                        <div class="callback_ff">
                            <input type="text" name="email" maxlength="49">
                        </div>
                    </div>

                    {% if type == 3 %}
                        <div class="callback_bl form_share">
                            <div class="callback_name">Предмет:</div>
                            <div class="callback_ff">
                                <div class="select select-small">
                                    <div class="current"></div>
                                    <div class="list">
                                        <div class="select_search">
                                            <input placeholder="Введите предмет" type="text" value="">
                                        </div>
                                        <div class="list2 only_one scroll-custom radio-list radio-list-column radio-list-unchecked">
                                            {% for course in searchCoursesList %}
                                                <input id="radio-course-{{ course.id_courses }}" type="radio" name="id_courses" value="{{ course.id_courses }}" class="change-current">
                                                <label for="radio-course-{{ course.id_courses }}">{{ course.name }}</label>
                                            {% endfor %}

                                            {% for course in coursesList %}
                                                <input id="radio-course-a-{{ course.id_courses }}" type="radio" name="id_courses" value="{{ course.id_courses }}" class="change-current">
                                                <label for="radio-course-a-{{ course.id_courses }}">{{ course.name }}</label>
                                            {% endfor %}
                                        </div>
                                        <div class="select_cur_right button_3">Завершить выбор</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="callback_bl form_share">
                            <div class="callback_name">Цель занятий,<br>возраст/класс ученика:</div>
                            <div class="callback_ff">
                                <textarea name="object" cols="100" rows="8"></textarea>
                            </div>
                        </div>

                        <div class="callback_bl">
                            <div class="callback_name">Место занятий:</div>
                            <div class="callback_ff">
                                <div class="select_def">
                                    <select name="id_orders_locations">
                                        {% for location in locations %}
                                            <option value="{{ location.id_orders_locations }}">{{ location.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="callback_bl">
                        <div class="callback_name">Город:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_cities">
                                    {% for city in cities %}
                                        <option value="{{ city.id_cities }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Метро:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_metro">
                                    {% for item in metro %}
                                        <option value="{{ item.id_metro }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="callback_rep_r form_share">
                    <div class="callback_bl">
                        <div class="callback_name">Цена до</div>
                        <div class="callback_ff callback_price">
                            <input type="text" name="price_limit" maxlength="4">
                            <span class="callback_price_span">за</span>
                            <div class="select_def">
                                {% set times = [60, 90, 120, 135, 180, 240] %}
                                <select name="duration">
                                    {% for time in times %}
                                        <option value="{{ time }}">{{ time }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Пол репетитора:</div>
                        <div class="callback_ff">
                            <div class="radio-list">
                                <input id="man" type="radio" name="sex" value="0" checked>
                                <label for="man">Муж.</label>

                                <input id="woman" type="radio" name="sex" value="1">
                                <label for="woman">Жен.</label>

                                <input id="it" type="radio" name="sex" value="">
                                <label for="it">Не важно</label>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl callback_dopinfo">
                        <div class="callback_name">Дополнительная информация:</div>
                        <div class="callback_ff">
                            <textarea name="additional_information" cols="100" rows="8"></textarea>
                            <div class="callback_ff_smalltext">Удобные дни и время занятий; дальность от метро</div>
                        </div>
                    </div>

                    <div class="callback_bl resp_cb_area_2">
                        <div class="callback_name">&nbsp;</div>
                        <div class="callback_ff">
                            <textarea name="additional_information_second" cols="100" rows="4"></textarea>
                            <div class="callback_ff_smalltext">Возраст, статус репетитора</div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_rep_s">
                            <div class="postform_sogl">Отправляя заявку, подтверждаю ознакомление и согласие с <a
                                    href="/include/term-of-use.php" target="_blank">Пользовательским Соглашением</a>, <a
                                    href="/include/personal-data.php" target="_blank">Политикой в области обработки персональных данных полностью</a>
                                    и даю <a href="/include/soglasie.php" target="_blank">согласие</a> на обработку персональных данных.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form_share_but">
                    <div>Скрыть дополнительную информацию</div>
                </div>

                {#    TODO: почистить            <input value="<?php echo $_COOKIE['fav']; ?>" type="hidden" name="fav_id">#}
                {#                <input value="0" type="hidden" name="id_rep">#}
                {#                <input value="rep" type="hidden" name="addpost_type">#}
                {#                <input value="1" type="hidden" name="callback">#}

                {#                    ИНСТРУКТОРЫ#}

                {#                    <input value="<?php echo $_COOKIE['fav']; ?>" type="hidden" name="fav_id">#}
                {#                    <input value="0" type="hidden" name="mesto">#}
                {#                    <input value="0" type="hidden" name="id_lern">#}
                {#                    <input value="0" type="hidden" name="id_user">#}
                {#                    <input value="0" type="hidden" name="what">#}
                {#                    <input value="0" type="hidden" name="kogda">#}
                {#                    <input value="0" type="hidden" name="id_rep">#}
                {#                    <input value="0" type="hidden" name="tel">#}
                {#                    <input value="0" type="hidden" name="pochta">#}
                {#                    <input value="0" type="hidden" name="rep">#}
                {#                    <input value="1" type="hidden" name="id_admin">#}
                {#                    <input value="0" type="hidden" name="oplata">#}
                {#                    <input value="<?php echo date("Y"); ?>" type="hidden" name="god">#}
                {#                    <input value="<?php echo date("m"); ?>" type="hidden" name="mes">#}
                {#                    <input value="<?php echo date("d")+1; ?>" type="hidden" name="den">#}
                {#                    <input value="<?php echo date("H:i");?>" type="hidden" name="time">#}
                {#                    <input value="<?php echo date("H:i");?>" type="hidden" name="vremya">#}
                {#                    <input value="1" type="hidden" name="namelern">#}
                {#                    <input value="<?php echo date("d.m.y");?>" type="hidden" name="date">#}
                {#                    <input value="1" type="hidden" name="new_comment">#}
                {#                    <input value="1" type="hidden" name="callback">#}

                <div class="actions-row button_podbor">
                    <input type="submit" value="Подобрать репетитора" style="font-size: 12px;" class="btn button_1"
                           onclick="ga('send', 'event', 'ajax_post', 'sent_post');">
                </div>
            </div>
        </form>
    </div>
</div>
