{% extends '../layouts/errors.twig' %}

{% block content %}
    <header role="banner">
{#  TODO: <?php echo $go_mobile; ?>#}
        <div class="inner clearfix">
            <div class="head_panel">
                <div class="h_resp_menu_link" onclick=""></div>
                <div class="h_logo">
                    <a href="/"><img src="/assets/img/logo.png" alt=""></a>
                </div>
                <div class="h_region">
                    <a id="gorod_link" data-city="{{ env('CITY_ID') }}" data-country="{{ env('COUNTRY_ID') }}" href="javascript:void(0);">
                        <span class="h_region_img"></span>
                        <span class="h_region_name">{{ env('CITY_NAME') }}</span>
                        <span class="h_spoiler"></span>
                    </a>
                </div>
                <div class="h_colresp_1">
                    <div class="h_phone">
                        <a href="tel:{{ env('PHONE') }}"><span>{{ env('PHONE') }}</span></a>
                    </div>
                    <div class="h_search">
                        {{ include('../components/yandex-search.twig') }}
                    </div>
                    {{ Helper.favourites() }}
                </div>
                <div class="h_login">
                    <a id="sign_in_link" href="javascript:void(0);"><span>Вход для репетитора</span></a>
                </div>
            </div>
        </div>
        <div class="inner clearfix hm_border_index">
            {{ include('../components/menu.twig') }}
        </div>
    </header>

    <section class="page_404_search">
        <div class="inner clearfix">
            <div class="index-search_form_panel clearfix" id="search">
                {{ Helper.searchIndex }}
            </div>
        </div>
    </section>

    <div id="content" class="inner clearfix">
        <div class="main width_100">
            <div class="page_404_block">
                <img src="/assets/img/404_pic_1.jpg" alt="" class="page_404_icon">
                Такой cтраницы не существует! Но вы можете перейти на <a href="/">главную страницу сайта</a> или
                воспользоваться поиском репетитора через форму выше!
            </div>
        </div>
    </div>

    <div class="inner inner_404 clearfix">
        <ul class="page_404_lern_menu">
            <li class="page_404_lern_1 i_dropdown">
                <div class="col_title"><span>Общеобразовательные <br>предметы</span></div>
                <div class="content">
                    <ul class="col_scroll">
                        <li><a href="/include/biology.php">Биология</a></li>
                        <li><a href="/include/geography.php">География</a></li>
                        <li><a href="/include/programming.php">Информатика</a></li>
                        <li><a href="/include/history.php">История</a></li>
                        <li><a href="/include/literature.php">Литература</a></li>
                        <li><a href="/include/mathematics.php">Математика</a></li>
                        <li><a href="/include/law.php">Обществознание</a></li>
                        <li><a href="/include/russian.php">Русский язык</a></li>
                        <li><a href="/include/physics.php">Физика</a></li>
                        <li><a href="/include/chemistry.php">Химия</a></li>
                    </ul>
                </div>
            </li>
            <li class="page_404_lern_2 i_dropdown">
                <div class="col_title"><span>Языки</span></div>
                <div class="content">
                    <ul class="col_scroll">
                        <li><a href="/include/english.php">Английский язык</a></li>
                        <li><a href="/include/german.php">Немецкий язык</a></li>
                        <li><a href="/include/french.php">Французский язык</a></li>
                        <li><a href="/include/spanish.php">Испанский язык</a></li>
                        <li><a href="/include/italian.php">Итальянский язык</a></li>
                        <li><a href="/include/chinese.php">Китайский язык</a></li>
                        <li><a href="/include/japanese.php">Японский язык</a></li>
                        <li><a href="/include/arabic.php">Арабский язык</a></li>
                        <li><a href="/include/native.php">Носители языков</a></li>
                        <li><a href="/include/foreign_language_main.php">Другие языки</a></li>
                    </ul>
                </div>
            </li>
            <li class="page_404_lern_3 i_dropdown">
                <div class="col_title"><span>Музыка</span></div>
                <div class="content">
                    <ul class="col_scroll">
                        <li><a href="/include/singing.php">Вокал</a></li>
                        <li><a href="/include/guitar.php">Гитара</a></li>
                        <li><a href="/include/saxophone.php">Саксофон</a></li>
                        <li><a href="/include/violin.php">Скрипка</a></li>
                        <li><a href="/include/solfeggio.php">Сольфеджио</a></li>
                        <li><a href="/include/flute.php">Флейта</a></li>
                        <li><a href="/include/piano.php">Фортепиано</a></li>
                        <li><a href="/include/muzyka.php">Другие музыкальные дисциплины</a></li>
                    </ul>
                </div>
            </li>
            <li class="page_404_lern_6 i_dropdown">
                <div class="col_title"><span>Спортивные <br>дисциплины</span></div>
                <div class="content">
                    <ul class="col_scroll">
                        <li><a href="/include/boxing.php">Бокс</a>
                        <li><a href="/include/alpine.php">Горные лыжи</a>
                        <li><a href="/include/yoga.php">Йога</a>
                        <li><a href="/include/swimming.php">Плавание</a>
                        <li><a href="/include/hand.php">Рукопашный бой</a>
                        <li><a href="/include/sambo.php">Самбо</a>
                        <li><a href="/include/fitnes.php">Фитнес</a>
                        <li><a href="/include/sport_main.php">Другие спортивные дисциплины</a></li>
                    </ul>
                </div>
            </li>
            <li class="page_404_lern_4 i_dropdown">
                <div class="col_title"><span>Инструкторы <br>по вождению</span></div>
                <div class="content">
                    <ul class="col_scroll">
                        <li><a href="/include/avtoinstruktor_obuchenie_vozhdeniju_v_spb.php">Автоинструкторы</a></li>
                        <li><a href="/include/akpp.php">Автоинструкторы АКПП</a></li>
                        <li><a href="/include/mkpp.php">Автоинструкторы МКПП</a></li>
                        <li><a href="/include/motoinstruktor.php">Мотоинструкторы</a></li>
                        <li><a href="/include/instruktor_po_vozhdeniju_zhenshhina.php">Автоинструкторы женщины</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
