{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск инструкторов по вождению по метро (станции метро с О по Я){% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/avtoinstruktor/metro_b.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по метро', type: constant('Helper::CAR_INSTRUCTOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск инструкторов по вождению по метро' }) }}
    </div>
    <div class="main width_100">
        <table border="0" width="100%">
            <tr>
                <td width="50%" align="center">
                    <font face="tahoma" size="2" color="838383">
                        <a href="/include/avtoinstruktor/metro_a.php"><b>А-Н</b></a>
                    </font>
                </td>
                <td width="50%" align="center">
                    <font face="tahoma" size="2" color="838383">
                        <a href="/include/avtoinstruktor/metro_b.php"><b>О-Я</b></a>
                    </font>
                </td>
            </tr>
            <tr>
                <td width="50%" valign="top">
                    <font face="tahoma" size="2" color="838383">
                        <br><b>О</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/obvodnyj_kanal.php">Репетиторы на м. Обводный
                            канал</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/obuhovo.php">Репетиторы на м. Обухово</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ozerki.php">Репетиторы на м. Озерки</a><br>

                        <br><b>П</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/park_pobedy.php">Репетиторы на м. Парк Победы</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/parnas.php">Репетиторы на м. Парнас</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/petrogradskaya.php">Репетиторы на м.
                            Петроградская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/pionerskaya.php">Репетиторы на м. Пионерская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ploshchad_aleksandra_nevskogo.php">Репетиторы на м.
                            Площадь Александра Невского</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ploshchad_vosstaniya.php">Репетиторы на м. Площадь
                            Восстания</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ploshchad_lenina.php">Репетиторы на м. Площадь
                            Ленина</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ploshchad_muzhestva.php">Репетиторы на м. Площадь
                            Мужества</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/politehnicheskaya.php">Репетиторы на м.
                            Политехническая</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/primorskaya.php">Репетиторы на м. Приморская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/proletarskaya.php">Репетиторы на м. Пролетарская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/prospekt_bolshevikov.php">Репетиторы на м. Проспект
                            Большевиков</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/prospekt_veteranov.php">Репетиторы на м. Проспект
                            Ветеранов</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/prospekt_prosvescheniya.php">Репетиторы на м. Проспект
                            Просвещения</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/pushkinskaya.php">Репетиторы на м. Пушкинская</a><br>

                        <br><b>Р</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/rybatskoe.php">Репетиторы на м. Рыбацкое</a><br>
                    </font>
                </td>
                <td width="50%" valign="top">
                    <font face="tahoma" size="2" color="838383">
                        <br><b>С</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/sadovaya.php">Репетиторы на м. Садовая</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/sennaya_ploshchad.php">Репетиторы на м. Сенная
                            площадь</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/spasskaya.php">Репетиторы на м. Спасская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/sportivnaya.php">Репетиторы на м. Спортивная</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/staraya_derevnya.php">Репетиторы на м. Старая
                            Деревня</a><br>

                        <br><b>Т</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/tehnologicheskij_institut.php">Репетиторы на м.
                            Технологический институт</a><br>

                        <br><b>У</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/udelnaya.php">Репетиторы на м. Удельная</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/ulica_dybenko.php">Репетиторы на м. Улица
                            Дыбенко</a><br>

                        <br><b>Ф</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/frunzenskaya.php">Репетиторы на м. Фрунзенская</a><br>

                        <br><b>Ч</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/chernaya_rechka.php">Репетиторы на м. Черная
                            речка</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/chernyshevskaya.php">Репетиторы на м.
                            Чернышевская</a><br>
                        -&nbsp;<a href="/include/avtoinstruktor/chkalovskaya.php">Репетиторы на м. Чкаловская</a><br>

                        <br><b>Э</b><br><br>
                        -&nbsp;<a href="/include/avtoinstruktor/elektrosila.php">Репетиторы на м. Электросила</a><br>
                    </font>
                </td>
            </tr>
        </table>
    </div>
    {{ include('../components/likes.twig') }}
{% endblock %}
