{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск инструкторов по вождению по району{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/avtoinstruktor/raion_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по району', type: constant('Helper::CAR_INSTRUCTOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск инструкторов по вождению по району' }) }}
    </div>
    <table border="0" width="100%">
        <tr>
            <td width="50%" valign="top">
                <font face="tahoma" size="2" color="838383">
                    <br><b>А</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/admiraltejskij.php">Автоинструкторы в Адмиралтейском
                        районе</a><br>

                    <br><b>В</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/vasileostrovskij.php">Автоинструкторы в Василеостровском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/vyborgskij.php">Автоинструкторы в Выборгском районе</a><br>

                    <br><b>К</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/kalininskij.php">Автоинструкторы в Калининском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/kirovskij.php">Автоинструкторы в Кировском районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/kolpinskij.php">Автоинструкторы в Колпинском районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/krasnogvardejskij.php">Автоинструкторы в Красногвардейском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/krasnoselskij.php">Автоинструкторы в Красносельском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/kronshtadtskij.php">Автоинструкторы в Кронштадтском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/kurortnyj.php">Автоинструкторы в Курортном районе</a><br>

                    <br><b>М</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/moskovskij.php">Автоинструкторы в Московском районе</a><br>
                </font>
            </td>
            <td width="50%" valign="top">
                <font face="tahoma" size="2" color="838383">
                    <br><b>Н</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/nevskij.php">Автоинструкторы в Невском районе</a><br>

                    <br><b>П</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/petrogradskij.php">Автоинструкторы в Петроградском
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/petrodvorcovyj.php">Автоинструкторы в Петродворцовом
                        районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/primorskij.php">Автоинструкторы в Приморском районе</a><br>
                    -&nbsp;<a href="/include/avtoinstruktor/pushkinskij.php">Автоинструкторы в Пушкинском районе</a><br>

                    <br><b>Ф</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/frunzenskij.php">Автоинструкторы в Фрунзенском
                        районе</a><br>

                    <br><b>Ц</b><br><br>
                    -&nbsp;<a href="/include/avtoinstruktor/centralnyj.php">Автоинструкторы в Центральном районе</a><br>
                </font>
            </td>
        </tr>
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
