<link rel="shortcut icon" href="/favicon.png" type="image/png">
<link rel="icon" href="/favicon.png" type="image/png">
<link rel="stylesheet" href="/assets/css/base.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/map.css">
<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css"><![endif]-->
