<div class="bl-response_block">
    {% for review in reviews %}
        {{ include('../components.ajax.reviews-account') }}
    {% endfor %}
</div>

<div class="bl-response_buttons clearfix">
    {# Количество отзывов на страницу #}
    {% set perPage = 3 %}

    {# Следующая страница #}
    {% set nextPage = 2 %}

    {# Общее кол-во отзывов #}
    {% set totalCount = repetitor.reviewsCount() %}
    {% set pagesCount = (totalCount / perPage)|round(0, 'ceil') %}
    {% set remain = nextPage < pagesCount ? perPage : totalCount - (nextPage - 1) * perPage %}

    {% if remain > 0 %}
        <a href="javascript:void(0);"
           data-user_id="{{ repetitor.id_users }}"
           data-start="{{ nextPage }}"
           data-limit="{{ perPage }}"
           data-pages_count="{{ pagesCount }}"
           data-total_count="{{ totalCount }}"
           class="anketa-response_sh button_3">Открыть еще <span>{{ remain }}</span>
        </a>
    {% endif %}

    <a href="/include/response.php?id_rep={{ repetitor.id_users }}" class="button_3 button_all_response"><span>Все отзывы</span></a>
</div>
<div class="bl-response_addblock">Отзывы собираются у учеников, которые нашли репетитора именно через наш сайт, посредством электронной почты и телефонных звонков нашего сотрудника. <b>Непроверенные отзывы</b> (то есть присланные с неизвестных адресов или представленные самими репетиторами) <b>не публикуются.</b></div>
