<article class="anketa">
    <div class="anketa-photo">
        <a class="anketa-photo_image" href="/include/{{ review.user.getLink() }}">
            <img src="{{ review.user.getPhoto() }}" alt="{{ review.user.first_name ~ ' ' ~ review.user.middle_name }}">
        </a>
        {{ Helper.callback(review.id_users, 1) }}
        <div class="anketa-response_count">
            <a href="/include/response.php?id_rep={{ review.id_users }}">
                {{ review.user.reviewsCount() ~ ' отзыв'|plural_word(review.user.reviewsCount(), '|а|ов') }}
            </a>
        </div>
    </div>
    <div class="anketa-body">
        {% set class = review.date|date('Y') <= 2012 ? 'bl-response_icon_pen' : 'bl-response_icon_phone' %}
        <div class="bl-response_item {{ class }}">
            <div class="bl-response_repetitor">
                <span class="bl-response_name">
                    <a href="/include/{{ review.user.getLink() }}">
                        {{ review.user.first_name }}&nbsp;{{ review.user.middle_name }}
                    </a>
                </span>
                <span class="bl-response_lern">
                    {% set list = [] %}

                    {% if review.user.course.name %}
                        {% set list = list|merge(['<a href="/include/' ~ review.user.course.slug ~ '/otzyvy.php">' ~ review.user.course.name ~ '</a>']) %}
                    {% endif %}

                    {% if review.user.courseSecond.name %}
                        {% set list = list|merge(['<a href="/include/' ~ review.user.courseSecond.slug ~ '/otzyvy.php">' ~ review.user.courseSecond.name ~ '</a>']) %}
                    {% endif %}

                    {% if review.user.courseThird.name %}
                        {% set list = list|merge(['<a href="/include/' ~ review.user.courseThird.slug ~ '/otzyvy.php">' ~ review.user.courseThird.name ~ '</a>']) %}
                    {% endif %}

                    {% if review.user.courseFourth.name %}
                        {% set list = list|merge(['<a href="/include/' ~ review.user.courseFourth.slug ~ '/otzyvy.php">' ~ review.user.courseFourth.name ~ '</a>']) %}
                    {% endif %}

                    {% if list|length > 0 %}
                        ( {{ list|join(', ')|raw }} )
                    {% endif %}
                </span>
            </div>
            <div class="bl-response_rating">
                <span class="bl-response_rating_1">Оценка:</span>
                <span class="bl-response_rating_2">{{ review.rating }}</span>
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="5">
            </div>
            <div class="bl-response_text s_text_info" itemprop="description">
                {% if review.user.is_car_instructor and index is defined and page is defined %}
                    {% if page == 1 %}
                        {% if index == 1 %}
                            Отзыв о инструкторе по вождению:
                        {% elseif index == 2 %}
                            Отзыв об автоинструкторе:
                        {% elseif index == 3 %}
                            Отзыв о инструкторе по вождению:
                        {% elseif index == 4 %}
                            Отзыв об автоинструкторе:
                        {% elseif index == 5 %}
                            Отзыв о инструкторе по вождению:
                        {% elseif index == 6 %}
                            Отзыв об автоинструкторе:
                        {% elseif index == 7 %}
                            Отзыв о инструкторе по вождению:
                        {% elseif index == 8 %}
                            Отзыв об автоинструкторе:
                        {% elseif index == 9 %}
                            Отзыв о инструкторе по вождению:
                        {% else %}
                            Отзыв об автоинструкторе:
                        {% endif %}
                    {% endif %}
                {% endif %}
                {{ review.comment }}
            </div>
            <div class="bl-response_uchenik">
                <span itemprop="author">{{ review.name }}</span>
            </div>
            <div class="bl-response_info">
                <span>
                    <meta itemprop="datePublished" content="{{ review.date }}">
                    {{ review.date|localizeddate('long', 'none', 'ru_RU') }}
                    {{ review.order.id_orders ? ', № ' ~ review.order.id_orders : '' }}
                </span>
            </div>
        </div>
    </div>
</article>
