{% if reviews|length>0 %}
    <div class="bl-response_block">
        <div style="display: none" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="reviewCount" content="{{ reviewsCount }}">
            <meta itemprop="ratingValue" content="{{ reviewsRating }}">
            <meta itemprop="bestRating" content="5">
            <meta itemprop="worstRating" content="1">
        </div>
        <div class="owl-carousel owl-theme_index">
            {% for review in reviews %}
                <div class="item">
                    <div class="bl-response_item" itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <div class="bl-response_repetitor">
                            <span class="bl-response_name">{{ review.user.getLastName() ~ review.user.first_name }}</span>
                            {% if review.order.course.name %}
                                <span class="bl-response_lern">({{ review.order.course.name }})</span>
                            {% endif %}
                        </div>
                        <div class="bl-response_rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span class="bl-response_rating_1">Оценка:</span>
                            <span class="bl-response_rating_2" itemprop="ratingValue">{{ review.rating }}</span>
                            <meta itemprop="worstRating" content="1">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        {% set class = review.date|date('Y') <= 2012 ? 'bl-response_icon_pen' : 'bl-response_icon_phone' %}
                        <div class="bl-response_text s_text_info {{ class }}" itemprop="description">
                            {% set maxLength = 400 %}
                            {{ review.comment|slice(0, maxLength) }}{% if review.comment|length > maxLength %}...{% endif %}
                        </div>
                        <div class="bl-response_uchenik"><span itemprop="author">{{ review.name }}</span></div>
                        <div class="bl-response_info">
                            <span>
                                <meta itemprop="datePublished" content="{{ review.date }}">
                                {{ review.date|localizeddate('long', 'none', 'ru_RU') }}
                                {{ review.order.id_orders ? ', № ' ~ review.order.id_orders : '' }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ reviews_all_button|raw }}
    </div>
{% endif %}
