
/*START - popup */
.fancybox-content .fancybox-title {
	max-width: 100%;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	padding: 30px 69px 30px 69px;
	background: #f8f8f8;
	line-height: 1em;
}
.fancybox-content .fancybox-body {
	max-width: 100%;
	/*width: 1059px;*/
	padding: 32px 69px 36px;
}
.fancybox-content .fancybox-body * {
	max-width: 100%;
}


/*work calendar*/

/*FOR admin*/
#work_calendar {width:260px !important;}
#work_calendar .work_calendar_title {text-align:center;}
#work_calendar .work_calendar_title_t1  {padding: 0 0 5px; font-weight: bold;}
#work_calendar .work_calendar_title_t2  {padding: 0 0 5px; color: red;}
#work_calendar .header-through{margin:3px;font-size:18px;font-weight:400;color:#000;text-transform:uppercase;}
#work_calendar .header-through span{padding:3px 10px;background-color:#FDFDFD}

#work_calendar {
	width: 100%;
	font-size: 12px;
	padding: 0 0 0 5px;
}
#work_calendar table {
	border-collapse: collapse;
	line-height: 2;
	vertical-align: top;
}
#work_calendar th {
	text-align: center;
	height: 35px;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	padding: 3px 0 0;
}
#work_calendar .wc_days th {
	color: #9cc1ce;
	font-weight: 500;
}
#work_calendar .wc_row th {
	width: 79px;
	font-weight: 300;
}
#work_calendar td {
	width: 55px;
	height: 36px;
	text-align: center;
	color: #c5457d;
	border: 1px solid #d7d7d7;
	background: #f8f8f8 url('/assets/img/wc_icon_plus.svg') center center no-repeat;
	position: relative;
}
#work_calendar td:after {
	content: ' ';
	left: 0;
	top: 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
	height: 100%;
	width: 100%;
	border: 1px solid #fff;
	position: absolute;
	display: block;
}
#work_calendar td:hover {
	opacity: 0.9;
}

#work_calendar td.wc_no {
	color: #000;
	background:  url('/assets/img/wc_icon_minus.svg') center center no-repeat;
}
#work_calendar td.wc_no:hover {
	opacity: 1.0;
	/*background-color: #f8f8f8;*/
}
#wc_update, #wc_save {
	float: left;
	border-radius: 5px;
	margin-right: 10px;
	background-repeat: repeat-x;
}
#wc_update {
	width:150px;
}
#work_calendar .wc_info {
	padding: 10px 0;
	width: 100%;
	clear: both;
	display: none;
}
#work_calendar .wc_info .success {
	color: green;
}
#work_calendar .wc_info .error {
	color: red;
}




.fancybox-container-hmetro, .fancybox-container-hraion {
	position: relative;
}
.fancybox-container-hmetro .fancybox-slide, .fancybox-container-hraion .fancybox-slide {
	overflow: hidden;
}
.fancybox-container-hmetro .fancybox-content, .fancybox-container-hraion .fancybox-content {
	vertical-align: top;
	max-height: 100%;
	height: 884px;
	width: 1058px;
}
.fancybox-container-hmetro .fancybox-title div, .fancybox-container-hraion .fancybox-title div {
	margin: 0 auto;
	position: relative;
    padding: 30px 69px 30px 69px;
    background: #f8f8f8;
}
.fancybox-container-hmetro .fancybox-title, .fancybox-container-hraion .fancybox-title {
	position: fixed;
   	left: 0;
	top: 0;
    width: 100%;
	background: none;
	padding: 0 6px;
	z-index: 999990;
}
.fancybox-container-hmetro .fancybox-title div, .fancybox-container-hraion .fancybox-title div {
	max-width: 1058px;
}
.fancybox-container-hmetro .fancybox-content .fancybox-body, .fancybox-container-hraion .fancybox-content .fancybox-body {
	padding: 82px 0 0 0;
}
.fancybox-container-hmetro .fancybox-content > button, .fancybox-container-hraion .fancybox-content > button {
	display: none;
}
#lolo {
	height: 1450px;
	max-width: none;
	position:relative;
	overflow: hidden;
	max-width: none;
}
#lolo svg {
	max-width: none;
}
/*END - FIX OLD TEMPLATE */


@media screen and (min-width: 1000px)  and (max-width:1310px) {
	/*FANCYBOX*/
	.fancybox-content .fancybox-body {
	    padding: 26px 40px 36px;
	}
}

@media only screen and (max-width: 1000px) {

	/*FANCYBOX*/
	.fancybox-is-open .fancybox-bg {
		background: #fff;
		opacity: .85;
	}
	.fancybox-is-open .fancybox-slide {
		text-align: left !important;
	}
	.fancybox-is-open .fancybox-content {
		vertical-align: top;
		height: 100%;
	}
	.fancybox-content .fancybox-title {
	    padding: 29px 40px 25px;
	}
	.fancybox-content .fancybox-body {
	    padding: 26px 40px 36px;
	}
	.fancybox-postform_text_all {
	    margin: 0 0 13px 0;
	}
	.fancybox-postform_text_all p {
		margin: 0;
	}
	.fancybox-slide {
		padding: 0 !important;
	}
	.fancybox-slide--html .fancybox-close-small {
	    opacity: 1;
	}

	@media only screen and (min-width: 768px) {
		.fancybox-container-rpadd .fancybox-bg, .fancybox-container-hmetro .fancybox-bg, .fancybox-container-hraion .fancybox-bg {
			background: #92bbc9;
			opacity: .85;
		}
		.fancybox-container-rpadd .fancybox-slide, .fancybox-container-hmetro .fancybox-slide, .fancybox-container-hraion .fancybox-slide {
			padding: 0 60px 0 0 !important;
		}
	    .fancybox-container-hmetro .fancybox-title, .fancybox-container-hraion .fancybox-title {
			padding: 0 60px 0 0;

		}
		.fancybox-container-hmetro .fancybox-title button, .fancybox-container-hraion .fancybox-title button {
			display: none;
		}
		.fancybox-container-hmetro .fancybox-content > button, .fancybox-container-hraion .fancybox-content > button {
			display: block;
		}
	    .fancybox-container-rpadd .fancybox-content, .fancybox-container-hmetro .fancybox-content, .fancybox-container-hraion .fancybox-content {
	   		position: initial;
		}
		.fancybox-container-rpadd .fancybox-slide--html .fancybox-close-small, .fancybox-container-hmetro .fancybox-slide--html .fancybox-close-small, .fancybox-container-hraion .fancybox-slide--html .fancybox-close-small  {
			left: initial;
			right: 0;
			color: #fff;
			height: 57px;
			width: 57px;
			top: 1px;
			padding: 9px;
			z-index: 999991;
		}
	}

}


@media only screen and (max-width: 768px) {

		/*FANCYBOX*/
		.fancybox-slide--html .fancybox-close-small {
		    left: 0 !important;
			top: 0 !important;
			padding: 6px;
			height: 36px;
			width: 36px;
		}
		.fancybox-content .fancybox-title {
			font-size: 18px;
		    padding: 23px 40px 16px;
			line-height: 1.35;
			background: #fff;
		}
		.fancybox-content .fancybox-body {
		    padding: 0 18px 16px;
		}
		.form_1 .search-name, .form_1 select, .form select, .form_1 textarea, .form textarea, .select, .form input[type="password"] {
			padding: 7px 14px 8px 14px;
		}



		.fancybox-container-hmetro .fancybox-title, .fancybox-container-hraion .fancybox-title {
			-webkit-transform: translate3d(0,0,1px);
			transform: translate3d(0,0,1px);
			padding: 0;
		}
		.callback_error ul li {
		    padding: 10px 10px 6px 40px;
		    background-position-x: 12px;
		    background-size: 17px auto;
		}

}
