.fancybox-map .fancybox-bg, 
.fancybox-map header, 
.fancybox-map #search, 
.fancybox-map #content, 
.fancybox-map #footer_shadow, 
.fancybox-map footer,
.fancybox-map br,
.fancybox-map .my_fav {
	display: none;
}
.fancybox-map #fancybox-wrap {
	position: inherit !important;
	margin: 0 auto;
}
.fancybox-map #fancybox-close {
	top: 0px;
    right: -72px;
    width: 72px;
    height: 72px;
    background: transparent url(/img/big_close.png) 0 0;
}
#list_r_more, .hide_block {
	display: none;
}
.active_r {
	display: inline !important;
}
.edit_save_map, #map_bottom_action {
	width: 100%; 
	padding: 5px !important; 
	margin-top: 10px;
	text-align: center;
	-moz-box-sizing: border-box; 
	-opera-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
	box-sizing: border-box;
	background:#fff; 
	bottom: 0; 
	left: 0;
	z-index: 9999;
	position: fixed;
}
#map_bottom_action a {
	color: #fff !important;
}

@media screen and (max-width: 820px){
	.fancybox-map #fancybox-wrap {
		top: 0;
		left: 0;
		width:1100px !important;
	}
	.fancybox-map #fancybox-content {
		width: 100% !important;
	}
	.fancybox-map #fancybox-close {
		top: -15px !important;
		right: -15px !important;
	}
}