@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_100.eot');
	src: url('../fonts/museo_sans_cyrl_100_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_100.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_100.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_100.svg#webfont') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_100_ital.eot');
	src: url('../fonts/museo_sans_cyrl_100_ital_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_100_ital.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_100_ital.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_100_ital.svg#webfont') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_300.eot');
	src: url('../fonts/museo_sans_cyrl_300_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_300.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_300.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_300.svg#webfont') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_300_ital.eot');
	src: url('../fonts/museo_sans_cyrl_300_ital_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_300_ital.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_300_ital.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_300_ital.svg#webfont') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_500.eot');
	src: url('../fonts/museo_sans_cyrl_500_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_500.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_500.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_500.svg#webfont') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_500_ital.eot');
	src: url('../fonts/museo_sans_cyrl_500_ital_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_500_ital.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_500_ital.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_500_ital.svg#webfont') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_700.eot');
	src: url('../fonts/museo_sans_cyrl_700_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_700.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_700.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_700.svg#webfont') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_700_ital.eot');
	src: url('../fonts/museo_sans_cyrl_700_ital_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_700_ital.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_700_ital.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_700_ital.svg#webfont') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_900.eot');
	src: url('../fonts/museo_sans_cyrl_900_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_900.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_900.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_900.svg#webfont') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museo_sans_cyrl_900_ital.eot');
	src: url('../fonts/museo_sans_cyrl_900_ital_iefix.eot?#iefix') format('eot'),
	url('../fonts/museo_sans_cyrl_900_ital.woff') format('woff'),
	url('../fonts/museo_sans_cyrl_900_ital.ttf') format('truetype'),
	url('../fonts/museo_sans_cyrl_900_ital.svg#webfont') format('svg');
	font-weight: 900;
	font-style: italic;
}
