.button_1, .device_go_mobile {
	background: url(../img/button_1_fix.png) center center repeat-y;
	filter: none;
}
@media only screen and (max-width: 768px) {
	.anketa-photo_callback_fixed {
		background: url(../img/button_1_fix.png) center center repeat-y;
		filter: none;
	}
}
