/*metro:after {*/
/*    content: '';*/
/*    display: block;*/
/*    padding-bottom: 120%*/
/*}*/

/*metro svg {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%*/
/*}*/

/*.st0 {*/
/*    fill: none;*/
/*    stroke: #4CB85E;*/
/*    stroke-width: 3;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st1 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #0078BF;*/
/*    stroke-width: 3;*/
/*}*/

/*.st26 {*/
/*    font-family: 'PT Sans', sans-serif;*/
/*}*/

/*.st3 {*/
/*    font-size: 20px;*/
/*}*/

/*.st4 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #4CB85E;*/
/*    stroke-width: 3;*/
/*}*/

/*.st5 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #FFCB35;*/
/*    stroke-width: 3;*/
/*}*/

/*.st6 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #8E479B;*/
/*    stroke-width: 3;*/
/*}*/

/*.st7 {*/
/*    fill: none;*/
/*    stroke: #8E479B;*/
/*    stroke-width: 9;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st8 {*/
/*    fill: none;*/
/*    stroke: #0078BF;*/
/*    stroke-width: 9;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st9 {*/
/*    fill: none;*/
/*    stroke: #FFCB35;*/
/*    stroke-width: 9;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st10 {*/
/*    fill: none;*/
/*    stroke: #FFFFFF;*/
/*    stroke-width: 2.6;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st11 {*/
/*    fill: none;*/
/*    stroke: #FFCB35;*/
/*    stroke-width: 3;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st12 {*/
/*    fill: none;*/
/*    stroke: #ED3326;*/
/*    stroke-width: 3;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st13 {*/
/*    fill: none;*/
/*    stroke: #0078BF;*/
/*    stroke-width: 3;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st14 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #ED3326;*/
/*    stroke-width: 3;*/
/*}*/

/*.st15 {*/
/*    fill: none;*/
/*    stroke: #FFFFFF;*/
/*    stroke-width: 3;*/
/*    stroke-linecap: round;*/
/*}*/

/*.st16 {*/
/*    font-size: 24px;*/
/*}*/

/*.st17 {*/
/*    fill: none;*/
/*    stroke: #000000;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st18 {*/
/*    fill: none;*/
/*    stroke: #0078BF;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st19 {*/
/*    fill: none;*/
/*    stroke: #ED3326;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st20 {*/
/*    fill: none;*/
/*    stroke: #8E479B;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st21 {*/
/*    opacity: 0.5;*/
/*    fill: none;*/
/*    stroke: #8E479B;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*    enable-background: new;*/
/*}*/

/*.st22 {*/
/*    opacity: 0.5;*/
/*}*/

/*.st23 {*/
/*    fill: none;*/
/*    stroke: #FFCB35;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st24 {*/
/*    opacity: 0.5;*/
/*    fill: none;*/
/*    stroke: #FFCB35;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*    enable-background: new;*/
/*}*/

/*.st25 {*/
/*    opacity: 0.5;*/
/*    fill: none;*/
/*    stroke: #4CB85E;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*    enable-background: new;*/
/*}*/

/*.st26 {*/
/*    fill: none;*/
/*    stroke: #4CB85E;*/
/*    stroke-width: 7.9994;*/
/*    stroke-miterlimit: 10;*/
/*}*/

/*.st27 {*/
/*    fill: #FFFFFF;*/
/*    stroke: #c00000;*/
/*    stroke-width: 3;*/
/*}*/

g.metro-station.selected text, g.metro-station.selected tspan {
    font-weight: 700 !important
}

g.metro-station.disabled text, g.metro-station.disabled tspan {
    fill: gray;
    cursor: initial
}

g.metro-station text.style1 {
    font-family: 'PT Sans', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 20px
}

g.metro-active .metro-point {
    display: block;
    fill: #4CB85E;
    stroke: #fff;
}

.vetka, .vetka_select_all, .vetka_clear_all, #table_ukazatel {
    display: none
}
