{# Данные из заявки #}
<div class="calculation-start">ID предмета ($id_courses): {{ id_courses }}</div>
<div>ID репетитора ($id_users): {{ id_users }}</div>
<div>ID города ($id_cities): {{ id_cities }}</div>
<div>Длительность занятия ($duration): {{ duration }}</div>
<div class="calculation-end">Желаемая стоимость занятия ($price_limit): {{ price_limit }}</div>

{# Расчет коэффициентов по формулам #}
<div class="calculation-start">$multiplier (Таблица multipliers): {{ multiplier }}</div>
<div>$multiplierCity: {{ multiplierCity }}</div>
<div>$multiplierDuration: {{ multiplierDuration }}</div>
<div>$multiplierActiveUsers: {{ multiplierActiveUsers }}</div>
<div class="calculation-end">$multiplierAvg: {{ multiplierAvg }}</div>

{# Формулы и результаты #}
{# Расчет цены #}
<div class="calculation-start">$price = $price_limit / $duration * 60</div>
<div>$price = {{ price_limit }}/{{ duration }} * 60</div>
<div class="calculation-end">$price = {{ price }}</div>

{# Расчет второго множителя #}
<div class="calculation-start">$multiplierSecond = round($multiplierDuration * $multiplierActiveUsers * $multiplierCity * $multiplier, 2)</div>
<div>$multiplierSecond = round({{ multiplierDuration }} * {{ multiplierActiveUsers }} * {{ multiplierCity }} * {{ multiplier }}, 2)</div>
<div class="calculation-end">$multiplierSecond = {{ multiplierSecond }}</div>

{# Расчет третьего множителя #}
<div class="calculation-start">$multiplierThird = !$multiplierAvg ? $multiplierSecond : round(($multiplierSecond + $multiplierAvg) / 2, 2)</div>
<div>$multiplierThird = !{{ multiplierAvg }} ? {{ multiplierSecond }} : round(({{ multiplierSecond }} + {{ multiplierAvg }}) / 2, 2)</div>
<div class="calculation-end">$multiplierThird = (если > 2, то 2) = {{ multiplierThird }}</div>

{# Расчет общей цены заказа #}
<div class="calculation-start">$totalPrice = round($multiplierThird * $price * $multiplierByType)</div>
<div>$totalPrice = round({{ multiplierThird }} * {{ price }} * {{ multiplierByType }})</div>
<div class="calculation-end">$totalPrice = {{ totalPrice }}</div>
