<div style="display: none;" id="gorod_form" class="animated-modal">
    <div class="fancybox-title">Выберите регион</div>
    <div class="fancybox-body">
        <div class="sel_gor_link">
            {% for country in countries %}
                <a href="#sel_gor_{{ country.id_countries }}" class="{% if country.id_countries == env('COUNTRY_ID') %}active{% endif %}">{{ country.name }}</a>
            {% endfor %}
        </div>
        <div class="sel_gor_search">
            <input placeholder="Поиск по населенному пункту" type="text" value="" name="select_search_predmet">
        </div>
        <div class="sel_gor_con">
            {% for country in countries %}
                <div id="sel_gor_{{ country.id_countries }}" class="{% if country.id_countries == env('COUNTRY_ID') %}active{% endif %} scroll-custom">
                    {% for city in country.cities %}
                        <div class="external-reference {% if city.id_countries_cities == env('CITY_ID') %}selected{% endif %}" data-link="https://{{ city.url }}">{{ city.name|raw }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
