<p class="s_text_info {{ class }}">{{ result|raw }}{% if snippet is not empty %} <span>{{ snippet|raw }}</span> <a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>{% endif %}</p>
