{% set link_action = count > 0 ? 'del' : 'add' %}
<a class="fav_{{ id_users }}_{{ type }} {{ link_action }}_fav" href="javascript:void(0);" onclick="fav({{ id_users }}, {{ type }}, '{{ link_action }}'); return false;"></a>
