<div class="h_favorites {% if favouritesCount > 0 %}h_favorites_2{% endif %}">
    <a href="/include/favorites.php">
        <span>(</span><span class="h_favorites_count_sa">{{ favouritesCount }}</span><span>)</span>
    </a>
</div>
