{% macro filter_button(name, id, data) %}
    <div class="spItem">{{ name }}<span class="spDel" data-{{ data }}="{{ id }}">x</span><i></i></div>
{% endmacro %}

<div class="searchPar">
    {% if app.session.has('nametags') %}
        {% for category, items in app.session.get('nametags') %}
            {% for key, name in items %}
                {{ _self.filter_button(name, key, category) }}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
