<div class="resp_help_buttons">
    <noindex>
        <a href="javascript:void(0);" class="resp_search_button">Параметры</a>
        <a href="javascript:void(0);" onclick="callback_rep(null, {{ type }}, null, null, event); return false;" class="resp_callback_button">Помощь</a>
    </noindex>
</div>
