{{ prefix }}<a class="map_open_metro {% if class is defined  %}{{ class }}{% else %}catalog{% endif %}" href="javascript:void(0);" data-id_users="{{ id_users }}" data-map-name="map_moscow">{{ text }}</a>
