<div class="no_user_predmet_new">
    <div class="title">{{ title }}</div>
    <div class="content">
        Эта категория новая на сайте.<br>
        Здесь еще не зарегистрировалось ни одного {{ type }}... <br>
        Создайте анкету и будьте единственным к кому направлен интерес всех учеников, <br>
        пока не зарегистровались другие!

        <div class="fixedblock">
            <a class="button_1 btn" href="/include/registraciya.php">создать анкету</a>
        </div>
    </div>
</div>
