<form class="form_1" id="search_form" method="get" action="/include/lernuser.php">
    <div class="select select-small select_one">
        <div class="current" data-text="Предмет">Предмет</div>
        <div class="list">
            <div class="select_search">
                <input placeholder="Введите город" type="text" value="">
            </div>
            <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                {% for course in searchCoursesList %}
                    <input id="course-{{ course.id_courses }}" type="checkbox" name="courses[]" value="{{ course.id_courses }}" class="change-current">
                    <label for="course-{{ course.id_courses }}" style="display: none;">{{ course.name }}</label>
                {% endfor %}

                {% for course in coursesList %}
                    <input id="course-{{ course.id_courses }}" type="checkbox" name="courses[]" value="{{ course.id_courses }}" class="change-current">
                    <label for="course-{{ course.id_courses }}">{{ course.name }}</label>
                {% endfor %}
            </div>
            <div class="select_cur_right button_3">Завершить выбор</div>
        </div>
    </div>

    <div class="select select-small select_two">
        <div class="current" data-text="Город">Город</div>
        <div class="list">
            <div class="select_search">
                <input placeholder="Введите город" type="text" value="">
            </div>
            <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                {% for city in citiesList %}
                    <input id="city-{{ city.id_cities }}" type="checkbox" name="cities[]" value="{{ city.id_cities }}" class="change-current">
                    <label for="city-{{ city.id_cities }}">{{ city.name }}</label>
                {% endfor %}
            </div>
            <div class="select_cur_right button_3">Завершить выбор</div>
        </div>
    </div>

    <div class="select select-small select_three">
        <div class="current" data-text="Метро">Метро</div>
        <div class="list">
            <div class="select_search">
                <input placeholder="Введите метро" type="text" value="">
            </div>
            <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                {% for item in metroList %}
                    <input id="metro-{{ item.id_metro }}" type="checkbox" name="metro[]" value="{{ item.id_metro }}" class="change-current">
                    <label for="metro-{{ item.id_metro }}">{{ item.name }}</label>
                {% endfor %}
            </div>
            <div class="select_cur_right button_3">Завершить выбор</div>
        </div>
    </div>

    <div class="select select-small select_four">
        <div class="current" data-text="Цена (руб./час)">Цена (руб./час)</div>
        <div class="list">
            <div class="list2 checkbox-list checkbox-list-column">
                <input id="price-1" type="checkbox" name="price[]" value="<500" {% if '<500' in app.request.get('price') %}checked{% endif %} class="change-current">
                <label for="price-1">&lt;500</label>

                <input id="price-2" type="checkbox" name="price[]" value="500-750" {% if '500-750' in app.request.get('price') %}checked{% endif %} class="change-current">
                <label for="price-2">500 - 750</label>

                <input id="price-3" type="checkbox" name="price[]" value="750-1000" {% if '750-1000' in app.request.get('price') %}checked{% endif %} class="change-current">
                <label for="price-3">750 - 1000</label>

                <input id="price-4" type="checkbox" name="price[]" value="1000-1500" {% if '1000-1500' in app.request.get('price') %}checked{% endif %} class="change-current">
                <label for="price-4">1000 - 1500</label>

                <input id="price-5" type="checkbox" name="price[]" value=">1500" {% if '>1500' in app.request.get('price') %}checked{% endif %} class="change-current">
                <label for="price-5">&gt;1500</label>
            </div>
        </div>
    </div>

    <div class="btn_block">
        <button type="submit" class="button_1 btn">Найти<span> репетитора</span></button>
    </div>
</form>
