<font size="1">
    <aside class="aside_catalog resp_hide_1000">
        <div class="resp_search_block_shadow" onclick=""></div>
        <div class="left_block left_bg-gray resp_left_bg-pink resp_search_block">
            <div id="search">
                <form class="form_1" id="search_form" method="get" action="/include/avtouser.php" data-type="filter">
                    <div class="center">
                        <div class="center_padding">
                            <div class="select select-small data-cities">
                                <div class="current">Город</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите город" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                                        {% for city in citiesList %}
                                            <input id="city-{{ city.id_cities }}" type="checkbox" name="cities[]" value="{{ city.id_cities }}" {% if city.id_cities in app.request.get('cities') %}checked{% endif %}>
                                            <label for="city-{{ city.id_cities }}">{{ city.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-metro">
                                <div class="current">Метро</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите метро" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                                        {% for item in metroList %}
                                            <input id="metro-{{ item.id_metro }}" type="checkbox" name="metro[]" value="{{ item.id_metro }}" {% if item.id_metro in app.request.get('metro') %}checked{% endif %}>
                                            <label for="metro-{{ item.id_metro }}">{{ item.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-prices">
                                <div class="current">Цена (руб./час)</div>
                                <div class="list">
                                    <div class="list2 checkbox-list checkbox-list-column">
                                        <input id="price-1" type="checkbox" name="price[]" value="<500" {% if '<500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-1">&lt;500</label>

                                        <input id="price-2" type="checkbox" name="price[]" value="500-750" {% if '500-750' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-2">500 - 750</label>

                                        <input id="price-3" type="checkbox" name="price[]" value="750-1000" {% if '750-1000' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-3">750 - 1000</label>

                                        <input id="price-4" type="checkbox" name="price[]" value="1000-1500" {% if '1000-1500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-4">1000 - 1500</label>

                                        <input id="price-5" type="checkbox" name="price[]" value=">1500" {% if '>1500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-5">&gt;1500</label>
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="search_form_brl1"></div>

                            <ul class="search_form_pol_l">
                                <li class="title">Тип транспортного средства:</li>
                                <li>
                                    <div class="radio-list radio-list-column radio-list-auto-submit">
                                        <input id="akpp" type="radio" class="radio" name="transmission" value="a" {% if app.request.query.get('transmission') in 'a' %}checked{% endif %}>
                                        <label for="akpp">АКПП</label>

                                        <input id="mkpp" type="radio" class="radio" name="transmission" value="m" {% if app.request.query.get('transmission') in 'm' %}checked{% endif %}>
                                        <label for="mkpp">МКПП</label>

                                        <input id="motorbike" type="radio" class="radio" name="transmission" value="c" {% if app.request.query.get('transmission') in 'c' %}checked{% endif %}>
                                        <label for="motorbike">Мотоцикл</label>

                                        <input id="all" type="radio" name="transmission" value="" {% if app.request.query.get('transmission') not in ['a', 'm', 'c'] %}checked{% endif %}>
                                        <label for="all">Не важно</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <ul class="search_form_rul1">
                            <li class="title first">Пол инструктора:</li>
                            <li>
                                <div class="radio-list radio-list-column radio-list-auto-submit">
                                    <input id="man" type="radio" name="sex" value="m" {% if app.request.query.get('sex') in 'm' %}checked{% endif %}>
                                    <label for="man">Мужской</label>

                                    <input id="woman" type="radio" name="sex" value="w" {% if app.request.query.get('sex') in 'w' %}checked{% endif %}>
                                    <label for="woman">Женский</label>

                                    <input id="it" type="radio" name="sex" value="" {% if app.request.query.get('sex') not in ['m', 'w'] %}checked{% endif %}>
                                    <label for="it">Не важно</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="resp_search_dop_button" onclick="">Дополнительные параметры</div>
            <div class="directions resp_hide_1000">
                <div class="title">Готовые фильтры поиска:</div>
                <ul>
                    <li><a href="/include/avtoinstruktor/raion_a.php" class="icon-mosk">По районам</a></li>
                    <li><a href="/include/avtoinstruktor/metro_a.php" class="icon-metro">По метро</a></li>
                    <li><a href="/include/avtoinstruktor/oblast.php" class="icon-mo">Ленинградская область</a></li>
                </ul>
            </div>
        </div>
        {#    <?php if($avtoinstruktor OR $idLern == 1000 OR $idLern == 1001) {#}

        {#		} else {#}
        {#    //подключаем блок с отзывами#}
        {#    include $_SERVER['DOCUMENT_ROOT']."/include/block_otzyv.php";#}
        {#    }#}
        {#    ?>#}
        {#    <? } else { ?>#}
        {#    <div class="left_block left_bg-gray">#}
        {#        <div class="left_block-rep-menu">#}
        {#            <?#}
        {#				if($_SERVER['HTTP_REFERER']){#}

        {#					if($zayvki['id'])#}
        {#						$test_referer = strpos($_SERVER['HTTP_REFERER'], '/avtoinstruktory/');#}
        {#					else#}
        {#						$test_referer = strpos($_SERVER['HTTP_REFERER'], '/include/');#}

        {#					if(!$test_referer === FALSE){#}
        {#						if(!strpos($_SERVER['HTTP_REFERER'], 'id_rep='))#}
        {#							echo '<a href="javascript:void(0);" onclick="history.go(-1)" class="button_3 resp_hide_1000 link_return_catalog">#}
        {#            Вернуться в каталог</a>';#}
        {#            }#}
        {#            }#}
        {#            ?>#}
        {#            <ul id="rep_menu">#}
        {#                <?#}
        {#				foreach($rep_menu_array as $value){#}
        {#					echo '<li><a href="#'.$value['href'].'">'.$value['name'].'</a></li>';#}
        {#                }#}
        {#                ?>#}
        {#            </ul>#}
        {#        </div>#}
        {#    </div>#}
        {#    <div class="left_block resp_hide_1000">#}
        {#        <?#}
        {#			echo '<div class="bl-response_social">';#}

        {#        //if($type_rep == 2)#}
        {#        // echo '#}
        {#        <div class="text">Рассказать об автоинструкторе:</div>#}
        {#        ';#}
        {#        //else#}
        {#        echo '#}
        {#        <div class="text">Рассказать о репетиторе:</div>#}
        {#        ';#}

        {#        echo '#}
        {#        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>#}
        {#        <script src="//yastatic.net/share2/share.js"></script>#}
        {#        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki" data-yashareTitle="'.$title.'"#}
        {#             data-yashareImage="'.$photo.'" data-yashareLink="https://{{ env('DOMAIN') }}/include/'.$link_anketa.'"#}
        {#             data-yashareDescription="'.$description.'"></div>#}
        {#    </div>#}
        {#    ';#}
        {#    ?>#}
        {#    </div>#}
        {#    <? } ?>#}
        <div class="left_block left_bg-white resp_hide_1000">
            <a class="left_block-banner-1" href="javascript:void(0);"
               onclick="callback_rep(null, 3, null, null, event); return false;"></a>
        </div>

        <div class="left_block left_bg-white resp_hide_1000">
			<span class="left_block-banner-2 external-reference" data-link="http://www.hospicefund.ru/help/">
				<img src="/assets/img/left_banner-2.gif">
			</span>
        </div>
    </aside>
</font>
