<font size="1">
    <aside class="aside_catalog resp_hide_1000">
        <div class="resp_search_block_shadow" onclick=""></div>
        <div class="left_block left_bg-gray resp_left_bg-pink resp_search_block">
            <div id="search">
                <form class="form_1" id="search_form" method="get" action="/include/lernuser.php" data-type="filter">
                    <div class="center">
                        <div class="center_padding">
                            <div class="select select-small data-courses">
                                <div class="current">Предмет</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите предмет" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                                        {% for course in searchCoursesList %}
                                            <input id="course-{{ course.id_courses }}" type="checkbox" name="courses[]" value="{{ course.id_courses }}" {% if course.id_courses in app.request.get('courses') or course.id_courses in app.session.get('nametags')['courses']|keys %}checked{% endif %}>
                                            <label for="course-{{ course.id_courses }}" style="display: none;">{{ course.name }}</label>
                                        {% endfor %}

                                        {% for course in coursesList %}
                                            <input id="course-{{ course.id_courses }}" type="checkbox" name="courses[]" value="{{ course.id_courses }}" {% if course.id_courses in app.request.get('courses') or course.id_courses in app.session.get('nametags')['courses']|keys %}checked{% endif %}>
                                            <label for="course-{{ course.id_courses }}">{{ course.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-cities">
                                <div class="current">Город</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите город" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                                        {% for city in citiesList %}
                                            <input id="city-{{ city.id_cities }}" type="checkbox" name="cities[]" value="{{ city.id_cities }}" {% if city.id_cities in app.request.get('cities') or city.id_cities in app.session.get('nametags')['cities']|keys %}checked{% endif %}>
                                            <label for="city-{{ city.id_cities }}">{{ city.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-metro">
                                <div class="current">Метро</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите метро" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column scroll-custom">
                                        {% for item in metroList %}
                                            <input id="metro-{{ item.id_metro }}" type="checkbox" name="metro[]" value="{{ item.id_metro }}" {% if item.id_metro in app.request.get('metro') %}checked{% endif %}>
                                            <label for="metro-{{ item.id_metro }}">{{ item.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-prices">
                                <div class="current">Цена (руб./час)</div>
                                <div class="list">
                                    <div class="list2 checkbox-list checkbox-list-column">
                                        <input id="price-1" type="checkbox" name="price[]" value="<500" {% if '<500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-1">&lt;500</label>

                                        <input id="price-2" type="checkbox" name="price[]" value="500-750" {% if '500-750' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-2">500 - 750</label>

                                        <input id="price-3" type="checkbox" name="price[]" value="750-1000" {% if '750-1000' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-3">750 - 1000</label>

                                        <input id="price-4" type="checkbox" name="price[]" value="1000-1500" {% if '1000-1500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-4">1000 - 1500</label>

                                        <input id="price-5" type="checkbox" name="price[]" value=">1500" {% if '>1500' in app.request.get('price') %}checked{% endif %}>
                                        <label for="price-5">&gt;1500</label>
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-universities">
                                <div class="current">ВУЗ</div>
                                <div class="list">
                                    <div class="select_search">
                                        <input placeholder="Введите вуз" type="text" value="">
                                    </div>
                                    <div class="list2 checkbox-list checkbox-list-column">
                                        {% for item in universitiesList %}
                                            <input id="university-{{ item.id_universities }}" type="checkbox" name="universities[]" value="{{ item.id_universities }}" {% if item.id_universities in app.request.get('universities') %}checked{% endif %}>
                                            <label for="university-{{ item.id_universities }}">{{ item.short_name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-statuses">
                                <div class="current">Статус репетитора</div>
                                <div class="list">
                                    <div class="list2 checkbox-list checkbox-list-column">
                                        {% for status in statusesList %}
                                            <input id="status-{{ status.id_users_statuses }}" type="checkbox" name="statuses[]" value="{{ status.id_users_statuses }}" {% if status.id_users_statuses in app.request.get('statuses') %}checked{% endif %}>
                                            <label for="status-{{ status.id_users_statuses }}">{{ status.name }}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>

                            <div class="select select-small data-places">
                                <div class="current">Место занятий</div>
                                <div class="list">
                                    <div class="list2 checkbox-list checkbox-list-column">
                                        <input id="place-students-home" type="checkbox" name="places[]" value="students-home" {% if 'students-home' in app.request.get('places') %}checked{% endif %}>
                                        <label for="place-students-home">У ученика дома</label>

                                        <input id="place-teachers-home" type="checkbox" name="places[]" value="teachers-home" {% if 'teachers-home' in app.request.get('places') %}checked{% endif %}>
                                        <label for="place-teachers-home">У преподавателя дома</label>
                                    </div>
                                    <div class="select_cur_right button_3">Завершить выбор</div>
                                </div>
                            </div>
                        </div>
                        <div class="search_form_brl1"></div>
                        <ul class="search_form_rul1">
                            <li class="title first">Пол репетитора:</li>
                            <li>
                                <div class="radio-list radio-list-column radio-list-auto-submit">
                                    <input id="man" type="radio" name="sex" value="m" {% if app.request.query.get('sex') in 'm' %}checked{% endif %}>
                                    <label for="man">Мужской</label>

                                    <input id="woman" type="radio" name="sex" value="w" {% if app.request.query.get('sex') in 'w' %}checked{% endif %}>
                                    <label for="woman">Женский</label>

                                    <input id="it" type="radio" name="sex" value="" {% if app.request.query.get('sex') not in ['m', 'w'] %}checked{% endif %}>
                                    <label for="it">Не важно</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="search_form_rul1">
                            <li class="title first">Носитель языка:</li>
                            <li class="info">Только для преподавателей иностранных языков</li>
                            <li>
                                <div class="radio-list radio-list-column radio-list-auto-submit">
                                    <input id="native-yes" type="radio" name="native" value="y" {% if app.request.query.get('native') in 'y' %}checked{% endif %}>
                                    <label for="native-yes">Да</label>

                                    <input id="native-no" type="radio" name="native" value="n" {% if app.request.query.get('native') in 'n' %}checked{% endif %}>
                                    <label for="native-no">Нет</label>

                                    <input id="native-no-matter" type="radio" name="native" value="" {% if app.request.query.get('native') not in ['y', 'n'] %}checked{% endif %}>
                                    <label for="native-no-matter">Не важно</label>
                                </div>
                            </li>
                            <li class="title">Дистанционные занятия:</li>
                            <li>
                                <div class="radio-list radio-list-column radio-list-auto-submit">
                                    <input id="distance-yes" type="radio" name="distance" value="y" {% if app.request.query.get('distance') in 'y' %}checked{% endif %}>
                                    <label for="distance-yes">Да</label>

                                    <input id="distance-no" type="radio" name="distance" value="n" {% if app.request.query.get('distance') in 'n' %}checked{% endif %}>
                                    <label for="distance-no">Нет</label>

                                    <input id="distance-no-matter" type="radio" name="distance" value="" {% if app.request.query.get('distance') not in ['y', 'n'] %}checked{% endif %}>
                                    <label for="distance-no-matter">Не важно</label>
                                </div>
                            </li>
                            <li class="title">Наличие отзывов:</li>
                            <li>
                                <div class="radio-list radio-list-column radio-list-auto-submit">
                                    <input id="reviews-yes" type="radio" name="reviews" value="y" {% if app.request.query.get('reviews') in 'y' %}checked{% endif %}>
                                    <label for="reviews-yes">С отзывами</label>

                                    <input id="reviews-no" type="radio" name="reviews" value="n" {% if app.request.query.get('reviews') in 'n' %}checked{% endif %}>
                                    <label for="reviews-no">Без отзывов</label>

                                    <input id="reviews-no-matter" type="radio" name="reviews" value="" {% if app.request.query.get('reviews') not in ['y', 'n'] %}checked{% endif %}>
                                    <label for="reviews-no-matter">Не важно</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="resp_search_dop_button" onclick="">Дополнительные параметры</div>
            <div class="directions resp_hide_1000">
                <div class="title">Готовые фильтры поиска:</div>
                <ul>
                    <li><a href="/include/raion_a.php" class="icon-mosk">По районам</a></li>
                    <li><a href="/include/metro_a.php" class="icon-metro">По метро</a></li>
                    <li><a href="/include/oblast.php" class="icon-mo">Ленинградская область</a></li>
                    <li><a href="/include/poisk-po-vuzu.php" class="icon-msk">По вузам</a></li>

                    {% if filter.filter_by_course %}
                        <li><a href="{{ filter.filter_by_course }}" class="icon-book">По предметам</a></li>
                    {% endif %}

                    {% if course.class_menu %}
                        <li><a href="/include/klass.php?predmet={{ course.id_courses }}" class="icon-book">По классам</a></li>
                    {% endif %}

                    {% if course.id_courses_categories == constant('App\\Models\\CoursesCategoriesSecond::LOGOPEDICS') %}
                        <li><a href="/include/poisk-logopeda.php" class="icon-man">По фильтрам логопедов</a></li>
                    {% endif %}

                    {% if showSubCourses %}
                        <li><a href="/include/filtr.php?id_lern={{ course.parentCourse ? course.parentCourse.id_courses : course.id_courses }}" class="icon-man">Подразделы {{ course.parentCourse ? course.parentCourse.recommend_name_second : course.recommend_name_second }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {#    //подключаем блок с отзывами#}
        {#    include $_SERVER['DOCUMENT_ROOT']."/include/block_otzyv.php";#}
        {#    <? } else { ?>#}
        {#    <div class="left_block left_bg-gray">#}
        {#        <div class="left_block-rep-menu">#}
        {#            <?#}
        {#				if($_SERVER['HTTP_REFERER']){#}

        {#					if($zayvki['id'])#}
        {#						$test_referer = strpos($_SERVER['HTTP_REFERER'], '/avtoinstruktory/');#}
        {#					else#}
        {#						$test_referer = strpos($_SERVER['HTTP_REFERER'], '/include/');#}

        {#					if(!$test_referer === FALSE){#}
        {#						if(!strpos($_SERVER['HTTP_REFERER'], 'id_rep='))#}
        {#							echo '<a href="javascript:void(0);" onclick="history.go(-1)" class="button_3 resp_hide_1000 link_return_catalog">#}
        {#            Вернуться в каталог</a>';#}
        {#            }#}
        {#            }#}
        {#            ?>#}
        {#            <ul id="rep_menu">#}
        {#                <?#}
        {#				foreach($rep_menu_array as $value){#}
        {#					echo '<li><a href="#'.$value['href'].'">'.$value['name'].'</a></li>';#}
        {#                }#}
        {#                ?>#}
        {#            </ul>#}
        {#        </div>#}
        {#    </div>#}
        {#    <div class="left_block resp_hide_1000">#}
        {#        <?#}
        {#			echo '<div class="bl-response_social">';#}

        {#        //if($type_rep == 2)#}
        {#        // echo '#}
        {#        <div class="text">Рассказать об автоинструкторе:</div>#}
        {#        ';#}
        {#        //else#}
        {#        echo '#}
        {#        <div class="text">Рассказать о репетиторе:</div>#}
        {#        ';#}

        {#        echo '#}
        {#        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>#}
        {#        <script src="//yastatic.net/share2/share.js"></script>#}
        {#        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki" data-yashareTitle="'.$title.'"#}
        {#             data-yashareImage="'.$photo.'" data-yashareLink="https://{{ env('DOMAIN') }}/include/'.$link_anketa.'"#}
        {#             data-yashareDescription="'.$description.'"></div>#}
        {#    </div>#}
        {#    ';#}
        {#    ?>#}
        {#    </div>#}
        {#    <? } ?>#}
        <div class="left_block left_bg-white resp_hide_1000">
            <a class="left_block-banner-1" href="javascript:void(0);"
               onclick="callback_rep(null, 3, null, null, event); return false;"></a>
        </div>

        <div class="left_block left_bg-white resp_hide_1000">
			<span class="left_block-banner-2 external-reference" data-link="http://www.hospicefund.ru/help/">
				<img src="/assets/img/left_banner-2.gif">
			</span>
        </div>
    </aside>
</font>
