{% macro sort_button(params, name, sort, category, direction) %}
    {% set active = sort in category %}
    {% set icon = direction in 'desc' or direction is empty ? 'active_asc' : 'active' %}

    <a id="sort_{{ category }}" class="{{ active ? icon : null }}" href="?{{ params|merge({sort:category, sort_type: active ? direction : null})|url_encode }}">{{ name }}<i></i></a>
{% endmacro %}

<div class="search-option search-option-empty">
    <div class="sort_st">
        {% set sort = app.request.query.get('sort', 'reit') %}
        {% set direction = app.request.get('sort_type') is defined and app.request.get('sort_type') == 'asc' ? 'desc' : 'asc' %}

        {{ _self.sort_button(app.request.query.all, 'По популярности', sort, 'reit', direction) }}
        {{ _self.sort_button(app.request.query.all, 'По цене', sort, 'price', direction) }}
        {{ _self.sort_button(app.request.query.all, 'По количеству отзывов', sort, 'comment', direction) }}
        <span class="sort_st_settings"></span>
    </div>
    <a href="javascript:void(0);" onclick="callback_rep(null, 3, null, 1); return false;" class="button_3"><span>Связаться с отложенными</span></a>
</div>
