<div class="page_s1"><div class="s_text_info {{ class }}">{{ result|raw }}{% if snippet is not empty %}<div>{{ snippet|raw }}</div> <a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>{% endif %}</div></div>
