{% extends '../../layouts/main.twig' %}

{% block title %}Каталог репетиторов{% endblock %}

{% block metas %}
    <meta name="description" content="Каталог репетиторов.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/catalog.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Каталог репетиторов' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
        <p class="s_text_info">В это разделе находятся ссылки на страницы с анкетами репетиторов по всем существующим предметам. Вы можете воспользоваться поиском выше, этими ссылками или же <a href="postform.php">оставить заявку</a> и вам подберут подходящего под ваши требования репетитора бесплатно.</p>
    </div>
    <div class="main width_100">
        <div class="tep_list_m">
            <div>
                <b>Общеобразовательные предметы</b>
                <div>
                    <a href="biology.php">Биология</a>
                    <a href="geography.php">География</a>
                    <a href="programming.php">Информатика</a>
                    <a href="history.php">История</a>
                    <a href="literature.php">Литература</a>
                    <a href="mathematics.php">Математика</a>
                    <a href="law.php">Обществознание</a>
                    <a href="picture.php">Рисунок</a>
                    <a href="physics.php">Физика</a>
                    <a href="chemistry.php">Химия</a>
                    <a href="drawing.php">Черчение</a>
                    <a href="economics.php">Экономика</a>
                </div>
            </div>

            <div>
                <b>Языки</b>
                <div>
                    <a href="albanian.php">Албанский язык</a>
                    <a href="english.php">Английский язык</a>
                    <a href="arabic.php">Арабский язык</a>
                    <a href="aramejskij_yazyk">Арамейский язык</a>
                    <a href="armenian.php">Армянский язык</a>
                    <a href="assirijskij_yazyk">Ассирийский язык</a>
                    <a href="bulgarian.php">Болгарский язык</a>
                    <a href="hungarian.php">Венгерский язык</a>
                    <a href="dutch.php">Голландский язык</a>
                    <a href="greek.php">Греческий язык</a>
                    <a href="hebrew.php">Иврит</a>
                    <a href="danish.php">Датский язык</a>
                    <a href="spanish.php">Испанский язык</a>
                    <a href="italian.php">Итальянский язык</a>
                    <a href="chinese.php">Китайский язык</a>
                    <a href="korean.php">Корейский язык</a>
                    <a href="latin.php">Латынь</a>
                    <a href="lettish.php">Латышский язык</a>
                    <a href="lithuanian.php">Литовский язык</a>
                    <a href="german.php">Немецкий язык</a>
                    <a href="norwegian.php">Норвежский язык</a>
                    <a href="persian.php">Персидский язык</a>
                    <a href="polish.php">Польский язык</a>
                    <a href="portuguese.php">Португальский язык</a>
                    <a href="romanian.php">Румынский язык</a>
                    <a href="russian.php">Русский язык</a>
                    <a href="sanscrit.php">Санскрит</a>
                    <a href="serbian.php">Сербский язык</a>
                    <a href="slovak.php">Словацкий язык</a>
                    <a href="slovenian.php">Словенский язык</a>
                    <a href="swahili.php">Суахили</a>
                    <a href="tibetan.php">Тибетский язык</a>
                    <a href="turkish.php">Турецкий язык</a>
                    <a href="ukrainian.php">Украинский язык</a>
                    <a href="finnish.php">Финский язык</a>
                    <a href="hindi.php">Хинди</a>
                    <a href="croatian.php">Хорватский язык</a>
                    <a href="french.php">Французский язык</a>
                    <a href="czech.php">Чешский язык</a>
                    <a href="swedish.php">Шведский язык</a>
                    <a href="estonian.php">Эстонский язык</a>
                    <a href="japanese.php">Японский язык</a>
                </div>
            </div>
            <div>
                <b>Музыка</b>
                <div>
                    <a href="accordion.php">Аккордеон, Баян</a>
                    <a href="viola.php">Альт</a>
                    <a href="cello.php">Виолончель</a>
                    <a href="singing.php">Вокал</a>
                    <a href="harmony.php">Гармония</a>
                    <a href="guitar.php">Гитара</a>
                    <a href="clarinet.php">Кларнет</a>
                    <a href="contrabass.php">Контрабас</a>
                    <a href="mandolin.php">Мандолина</a>
                    <a href="music.php">Музыка</a>
                    <a href="saxophone.php">Саксофон</a>
                    <a href="synthesizer.php">Синтезатор</a>
                    <a href="violin.php">Скрипка</a>
                    <a href="solfeggio.php">Сольфеджио</a>
                    <a href="trombone.php">Тромбон</a>
                    <a href="horn.php">Труба</a>
                    <a href="drum.php">Ударные</a>
                    <a href="flute.php">Флейта</a>
                    <a href="piano.php">Фортепиано</a>
                </div>
            </div>
            <div>
                <b>Инструкторы по вождению</b>
                <div>
                    <a href="akpp.php">Инструкторы с АКПП</a>
                    <a href="mkpp.php">Инструкторы c МКПП</a>
                    <a href="motoinstruktor.php">Мотоинструкторы</a>
                </div>
            </div>
        </div>
        <div class="tep_list_m">
            <div>
                <b>Танцы</b>
                <div style="display: none;">
                    <a href="east.php">Восточные танцы</a>
                    <a href="club.php">Клубные танцы</a>
                    <a href="latina.php">Латиноамериканские танцы</a>
                    <a href="salsa.php">Сальса</a>
                    <a href="ballroom.php">Спортивные бальные танцы</a>
                    <a href="strip.php">Стриппластика</a>
                    <a href="belly.php">Танцы живота</a>
                    <a href="dance.php">Танцы</a>
                    <a href="choreography.php">Хореография</a>
                </div>
            </div>
            <div>
                <b>Спортивные дисциплины</b>
                <div>
                    <a href="aikido.php">Айкидо</a>
                    <a href="aerobics.php">Аэробика</a>
                    <a href="basketball.php">Баскетбол</a>
                    <a href="billiards.php">Бильярд</a>
                    <a href="boxing.php">Бокс</a>
                    <a href="tennis.php">Большой теннис</a>
                    <a href="volleyball.php">Волейбол</a>
                    <a href="handball.php">Гандбол</a>
                    <a href="gymnastics.php">Гимнастика</a>
                    <a href="alpine.php">Горные лыжи</a>
                    <a href="diving.php">Дайвинг</a>
                    <a href="jiu-jitsu.php">Джиу джитсу</a>
                    <a href="judo.php">Дзюдо</a>
                    <a href="yoga.php">Йога</a>
                    <a href="karate.php">Карате</a>
                    <a href="kickboxing.php">Кикбоксинг</a>
                    <a href="horse.php">Конный спорт</a>
                    <a href="athletics.php">Легкая атлетика</a>
                    <a href="small_tennis.php">Настольный теннис</a>
                    <a href="pilates.php">Пилатес</a>
                    <a href="swimming.php">Плавание</a>
                    <a href="hand.php">Рукопашный бой</a>
                    <a href="sambo.php">Самбо</a>
                    <a href="snowboard.php">Сноуборд</a>
                    <a href="stretching.php">Стретчинг</a>
                    <a href="thai.php">Тайский бокс</a>
                    <a href="taekwondo.php">Тхэквондо</a>
                    <a href="wushu.php">Ушу</a>
                    <a href="fencing.php">Фехтование</a>
                    <a href="figure.php">Фигурное катание</a>
                    <a href="ofp.php">Физическая культура и ОФП</a>
                    <a href="fitnes.php">Фитнес</a>
                    <a href="football.php">Футбол</a>
                    <a href="cigun.php">Цигун</a>
                    <a href="chess.php">Шахматы</a>
                </div>
            </div>
            <div>
                <b>Логопедия, подготовка к школе, начальная школа</b>
                <div>
                    <a href="logoped.php">Логопеды, дефектологи</a>
                    <a href="elementary.php">Начальная школа</a>
                    <a href="kid.php">Подготовка к школе</a>
                </div>
            </div>
            <div>
                <b>Другие предметы</b>
                <div>
                    <a href="autocad.php">AutoCAD</a>
                    <a href="actor.php">Актерское мастерство</a>
                    <a href="anatomy.php">Анатомия</a>
                    <a href="architecture.php">Архитектура</a>
                    <a href="astronomy.php">Астрономия</a>
                    <a href="bookkeeping.php">Бухгалтерский учёт</a>
                    <a href="design.php">Дизайн</a>
                    <a href="diffur.php">Дифференциальные уравнения</a>
                    <a href="journalism.php">Журналистика</a>
                    <a href="art_history.php">История искусств</a>
                    <a href="photoshop.php">Компьютерная графика</a>
                    <a href="culture.php">Культура речи</a>
                    <a href="culturology.php">Культурология</a>
                    <a href="algebra.php">Линейная алгебра</a>
                    <a href="logic.php">Логика</a>
                    <a href="marketing.php">Маркетинг</a>
                    <a href="matan.php">Математический анализ</a>
                    <a href="management.php">Менеджмент</a>
                    <a href="politics.php">Политология</a>
                    <a href="justice.php">Право</a>
                    <a href="programmirovanie">Программирование</a>
                    <a href="psychology.php">Психология</a>
                    <a href="rhetoric.php">Риторика</a>
                    <a href="foreigner.php">Русский язык для иностранцев</a>
                    <a href="sculpture.php">Скульптура</a>
                    <a href="sopromat.php">Сопротивление материалов</a>
                    <a href="sociology.php">Социология</a>
                    <a href="termeh.php">Теоретическая механика</a>
                    <a href="terver.php">Теория вероятностей</a>
                    <a href="philosophy.php">Философия</a>
                    <a href="photography.php">Фотография</a>
                    <a href="ecology.php">Экология</a>
                    <a href="electro.php">Электротехника</a>
                    <a href="etiquette.php">Этикет</a>
                    <a href="linguistics.php">Языкознание</a>
                </div>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
