{% extends '../../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Контакты{% endblock %}

{% block metas %}
    <meta name="description" content="Контакты.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/contakts.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Контакты' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <div class="vcard contacts">
            <div class="contacts-group-1">
                <ul class="contacts-list">
                    <li class="icon_1">
                        <div class="contacts-list-name">
                            Наименование организации
                        </div>
                        <div>
                            <span class="fn org">СПбРепетитор</span>
                        </div>
                    </li>
                    <li class="icon_2">
                        <div class="contacts-list-name">
                            Контактный телефон
                        </div>
                        <div>
                            <span class="tel">+7 (812) 988-91-41</span> - для учеников <br>
                            <span class="tel">+7 (812) 988-42-04</span> - для репетиторов
                        </div>
                    </li>
                    <li class="icon_3">
                        <div class="contacts-list-name">
                            WhatsApp
                        </div>
                        <div>
                            +7 (903) 790-27-16
                        </div>
                    </li>
                </ul>
                <ul class="contacts-list">
                    <li class="icon_4">
                        <div class="contacts-list-name">
                            Skype
                        </div>
                        <div>
                            <span class="X-SKYPE">spbrepetitor</span>
                        </div>
                    </li>
                    <li class="icon_5 adr">
                        <div class="contacts-list-name">
                            <span class="type">Адрес</span>
                        </div>
                        <div>
                            <span class="postal-code">197342</span>, <span class="locality">г. Санкт-Петербург</span>,
                            <span class="street-address">улица Сердобольская д. 39</span>
                        </div>
                    </li>
                    <li class="icon_6 tglas_1">
                        <div class="contacts-list-name">
                            Время работы
                        </div>
                        <div>
                            <span class="workhours">Ежедневно с 9:00 до 20:00</span>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="contacts-list">
                <li class="icon_6 tglas_2">
                    <noindex>
                        <div class="contacts-list-name">
                            Время работы
                        </div>
                        <div>
                            Ежедневно с 9:00 до 20:00
                        </div>
                    </noindex>
                </li>
                <li class="icon_7">
                    <div class="contacts-list-name">
                        <span>E-mail  для учеников</span>
                    </div>
                    <div>
                        <a href="mailto:admin2@spbrepetitor.ru" class="email">admin2@{{ env('DOMAIN') }}</a>
                    </div>
                </li>
                <li class="icon_7">
                    <div class="contacts-list-name">
                        <span>Для отзывов</span>
                    </div>
                    <div>
                        <a href="mailto:feedback@spbrepetitor.ru" class="email">feedback@{{ env('DOMAIN') }}</a>
                    </div>
                </li>
                <li class="icon_7">
                    <div class="contacts-list-name">
                        <span>E-mail для внесения изменений в анкету</span>
                    </div>
                    <div>
                        <a href="mailto:reg@spbrepetitor.ru" class="email">reg@{{ env('DOMAIN') }}</a>
                    </div>
                </li>
            </ul>

            <div class="contacts-social_block">
                <div class="text">Наши сообщества в соц. сетях</div>
                <a href="https://vk.com/spbrepetitorru" class="vk" target="_blank"></a>
                <a href="https://www.facebook.com/SpbRepetitor" class="fb" target="_blank"></a>
            </div>
            <div class="contact-yandex-map">
                <script src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=9xgn1_hTlsODpwbgxZlDE_ax9lYd2f2u&width=100%&height=100%"></script>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
