{% extends '../../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Иностранные языки{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/foreign_language_main.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Иностранные языки', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Иностранные языки' }) }}
    </div>
    <table border="0" width="100%">
        <tr valign="top">
            <td>
                -&nbsp;<a href="avarskiy_yazyk/">Репетиторы аварского языка</a><br>
                -&nbsp;<a href="azerbaydzhanskiy_yazyk/">Репетиторы азербайджанского языка</a><br>
                -&nbsp;<a href="albanian.php">Репетиторы албанского языка</a><br>
                -&nbsp;<a href="aramejskij_yazyk/">Репетиторы арамейского языка</a><br>
                -&nbsp;<a href="armenian.php">Репетиторы армянского языка</a><br>
                -&nbsp;<a href="assirijskij_yazyk/">Репетиторы ассирийского языка</a><br>
                -&nbsp;<a href="afrikaans/">Репетиторы африкаанс</a><br>
                <br>
                -&nbsp;<a href="belorusskiy_yazyk/">Репетиторы белорусского языка</a><br>
                -&nbsp;<a href="bengalskiy_yazyk/">Репетиторы бенгальского языка</a><br>
                -&nbsp;<a href="bulgarian.php">Репетиторы болгарского языка</a><br>
                <br>
                -&nbsp;<a href="hungarian.php">Репетиторы венгерского языка</a><br>
                <br>
                -&nbsp;<a href="dutch.php">Репетиторы голландского языка</a><br>
                -&nbsp;<a href="greek.php">Репетиторы греческого языка</a><br>
                -&nbsp;<a href="gruzinskiy_yazyk/">Репетиторы грузинского языка</a><br>
                <br>
                -&nbsp;<a href="danish.php">Репетиторы датского языка</a><br>
                -&nbsp;<a href="drevneangliyskiy_yazyk/">Репетиторы древнеанглийского языка</a><br>
                -&nbsp;<a href="drevnegrecheskiy_yazyk/">Репетиторы древнегреческого языка</a><br>
                -&nbsp;<a href="drevneevreyskiy_yazyk/">Репетиторы древнееврейского языка</a><br>
                -&nbsp;<a href="drevneislandskiy_yazyk/">Репетиторы древнеисландского языка</a><br>
                -&nbsp;<a href="drevnekitayskiy_yazyk/">Репетиторы древнекитайского языка</a><br>
                <br>
                -&nbsp;<a href="zulu">Репетиторы зулу</a><br>
                <br>
                -&nbsp;<a href="hebrew.php">Репетиторы иврита</a><br>
                -&nbsp;<a href="igbo/">Репетиторы игбо</a><br>
                -&nbsp;<a href="indoneziyskiy_yazyk/">Репетиторы индонезийского языка</a><br>
                -&nbsp;<a href="irlandskiy_yazyk/">Репетиторы ирландского языка</a><br>
                -&nbsp;<a href="islandskiy_yazyk/">Репетиторы исландского языка</a><br>
                <br>
                -&nbsp;<a href="kazahskiy_yazyk/">Репетиторы казахского языка</a><br>
                -&nbsp;<a href="katalonskiy_yazyk/">Репетиторы каталонского языка</a><br>
                -&nbsp;<a href="korean.php">Репетиторы корейского языка</a><br>
                -&nbsp;<a href="khmerskiy_yazyk/">Репетиторы кхмерского языка</a><br>
            </td>
            <td>
                -&nbsp;<a href="laosskiy_yazyk/">Репетиторы лаосского языка</a><br>
                -&nbsp;<a href="latin.php">Репетиторы латыни</a><br>
                -&nbsp;<a href="lettish.php">Репетиторы латышского языка</a><br>
                -&nbsp;<a href="lithuanian.php">Репетиторы литовского языка</a><br>
                <br>
                -&nbsp;<a href="makedonskiy_yazyk/">Репетиторы македонского языка</a><br>
                -&nbsp;<a href="malayskiy_yazyk/">Репетиторы малайского языка</a><br>
                -&nbsp;<a href="mariyskiy_yazyk/">Репетиторы марийского языка</a><br>
                -&nbsp;<a href="moldavskiy_yazyk/">Репетиторы молдавского языка</a><br>
                -&nbsp;<a href="mongolskiy_yazyk/">Репетиторы монгольского языка</a><br>
                <br>
                -&nbsp;<a href="nepalskiy_yazyk/">Репетиторы непальского языка</a><br>
                -&nbsp;<a href="nigeriyskiy_yazyk/">Репетиторы нигерийского языка</a><br>
                -&nbsp;<a href="norwegian.php">Репетиторы норвежского языка</a><br>
                <br>
                -&nbsp;<a href="persian.php">Репетиторы персидского языка</a><br>
                -&nbsp;<a href="polish.php">Репетиторы польского языка</a><br>
                -&nbsp;<a href="portuguese.php">Репетиторы португальского языка</a><br>
                <br>
                -&nbsp;<a href="romanian.php">Репетиторы румынского языка</a><br>
                <br>
                -&nbsp;<a href="sanscrit.php">Репетиторы санскрита</a><br>
                -&nbsp;<a href="serbian.php">Репетиторы сербского языка</a><br>
                -&nbsp;<a href="siriyskiy_yazyk/">Репетиторы сирийского языка</a><br>
                -&nbsp;<a href="slovak.php">Репетиторы словацкого языка</a><br>
                -&nbsp;<a href="slovenian.php">Репетиторы словенского языка</a><br>
                -&nbsp;<a href="staroslavyanskiy_yazyk/">Репетиторы старославянского языка</a><br>
                -&nbsp;<a href="swahili.php">Репетиторы суахили</a><br>
                <br>
                -&nbsp;<a href="tadzhikskiy_yazyk/">Репетиторы таджикского языка</a><br>
                -&nbsp;<a href="tayskiy_yazyk/">Репетиторы тайского языка</a><br>
                -&nbsp;<a href="tatarskiy_yazyk/">Репетиторы татарского языка</a><br>
                -&nbsp;<a href="tibetan.php">Репетиторы тибетского языка</a><br>
                -&nbsp;<a href="turkish.php">Репетиторы турецкого языка</a><br>
                -&nbsp;<a href="turkmenskiy_yazyk/">Репетиторы туркменского языка</a><br>
            </td>
            <td>
                -&nbsp;<a href="uzbekskiy_yazyk/">Репетиторы узбекского языка</a><br>
                -&nbsp;<a href="ukrainian.php">Репетиторы украинского языка</a><br>
                -&nbsp;<a href="urdu/">Репетиторы урду</a><br>
                <br>
                -&nbsp;<a href="farerskiy_yazyk/">Репетиторы фарерского языка</a><br>
                -&nbsp;<a href="farsi/">Репетиторы фарси</a><br>
                -&nbsp;<a href="filippinskiy_yazyk/">Репетиторы филиппинского языка</a><br>
                -&nbsp;<a href="finnish.php">Репетиторы финского языка</a><br>
                <br>
                -&nbsp;<a href="hindi.php">Репетиторы хинди</a><br>
                -&nbsp;<a href="croatian.php">Репетиторы хорватского языка</a><br>
                <br>
                -&nbsp;<a href="chechenskiy_yazyk/">Репетиторы чеченского языка</a><br>
                -&nbsp;<a href="czech.php">Репетиторы чешского языка</a><br>
                -&nbsp;<a href="chuvashskiy_yazyk/">Репетиторы чувашского языка</a><br>
                <br>
                -&nbsp;<a href="swedish.php">Репетиторы шведского языка</a><br>
                <br>
                -&nbsp;<a href="esperanto/">Репетиторы эсперанто</a><br>
                -&nbsp;<a href="estonian.php">Репетиторы эстонского языка</a><br>
                <br>
                -&nbsp;<a href="yazyk_zhestov/">Репетиторы языка жестов</a><br>
                -&nbsp;<a href="yazyk_yoruba/">Репетиторы языка Йоруба</a><br>
                -&nbsp;<a href="yazyk_hausa/">Репетиторы языка хауса</a><br>
                -&nbsp;<a href="yakutskiy_yazyk/">Репетиторы якутского языка</a><br>
            </td>
        </tr>
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
