{% extends '../layouts/main.twig' %}

{% block content_class %}{% endblock %}
{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <section class="index-search">
        <div class="inner clearfix">
            <div class="index-search_title">СПбРепетитор - это:</div>
            <div class="index-search_stats">
                <div>
                    {% set year = "now"|date('Y') - 2009 %}
                    <span class="index-search_stats_count">{{ year }}</span>
                    <span class="index-search_stats_text">{{ ''|plural_word(year, 'год|года|лет') }} работы</span></div>
                <div>
                    <span class="index-search_stats_count">{{ lastOrderId|number_format(0, ',', ' ') }}</span>
                    <span class="index-search_stats_text">{{ 'ученик'|plural_word(lastOrderId, '|а|ов') }}</span>
                </div>
                <div>
                    <span class="index-search_stats_count">{{ reviewsCount|number_format(0, ',', ' ') }}</span>
                    <span class="index-search_stats_text">{{ 'отзыв'|plural_word(reviewsCount, '|а|ов') }}</span>
                </div>
                <div>
                    <span class="index-search_stats_count">{{ usersCount|number_format(0, ',', ' ') }}</span>
                    <span class="index-search_stats_text">{{ 'репетитор'|plural_word(usersCount, '|а|ов') }}</span>
                </div>
                <div>
                    <span class="index-search_stats_count">{{ courseCount }}</span>
                    <span class="index-search_stats_text">{{ 'предмет'|plural_word(courseCount, '|а|ов') }}</span>
                </div>
            </div>
            <div class="index-search_form_text">Готовы начать? <span class="rfix">Выберите репетитора</span></div>
            <div class="index-search_form_panel" id="search">
                {{ Helper.searchIndex }}
            </div>
            <div class="index-search_form_text index-search_form_text_2"><span class="rfix">Или воспользуйтесь нашей услугой подбора</span>
                <a href="javascript:void(0);" onclick="callback_rep(null, 3); return false;" class="button_1">заполнить форму</a>
            </div>
        </div>
    </section>
    <div class="main width_100">
        <div class="inner index-text">
            <article class="about">
                <div class="index-text_title"><h1 style="padding:0;line-height:inherit;">СПбРепетитор - репетиторы Санкт-Петербурга и ЛО</h1></div>
                <div class="entry hide_main_text_1 h_uniq_style">
                    <p class="last">«СПбРепетитор» - это сообщество преподавателей и педагогов, профессионально
                        занимающихся
                        репетиторством в Петербурге. Наша задача состоит в том, что бы взаимодействие репетиторов и
                        учеников
                        было максимально простым и удобным. Если Вам нужен репетитор, то вы можете зайти на страничку с
                        анкетами преподавателей, и выбрать наиболее подходящего Вашим требованиям репетитора. Если у Вас
                        недостаточно времени на самостоятельный поиск репетитора, Вы можете поручить выбор нам, оставив
                        заявку на сайте или позвонив по контактному телефону. На нашем сайте, зарегистрированы лучшие
                        репетиторы Петербурга, преподаватели, аспиранты и студенты ведущих питерских ВУЗов. Вы можете
                        найти
                        репетиторов СПбГУ, РГПУ им. А. И. Герцена, СПбГПУ и др. Подбор и поиск репетитора осуществляется
                        абсолютно бесплатно. <br>
                        Наши филиалы расположены во всех крупных городах России, а также в Казахстане и Республике
                        Беларусь.
                    </p>
                </div>
                <div class="hide_main_text_2 page_s1">
                    <h2 class="subtitle">ЕСЛИ ВАМ НУЖЕН ЧАСТНЫЙ ПРЕПОДАВАТЕЛЬ</h2>
                    <p>Если вы ищете репетитора, то наша ассоциация поможет Вам облегчить эту задачу. На нашем сайте
                        представлены анкеты репетиторов СПб, которые в кратчайшие сроки помогут подготовиться в сдаче
                        ЕГЭ,
                        поступлению в ВУЗ, улучшить знания по школьным предметам, а репетиторы для детей помогут
                        подготовить
                        ребенка к школе. Найти репетитора на нашем сайте очень легко. Подбор осуществляется 2-мя
                        способами.
                        Самостоятельный выбор репетитора из базы, в нашей базе преподавателей вы можете найти
                        репетитора,
                        наиболее отвечающего Вашим требованиям. В анкетах представлена подробная информация об
                        образовании,
                        районе, стоимости занятия и пр. Благодаря этому, выбирая услуги репетитора, представленного на
                        нашем
                        сайте, Вы получаете полное представление об этом репетиторе. Также есть возможность поручить
                        выбор
                        нам, оставив заявку на сайте. В случае того, если у вас нет времени, на самостоятельный поиск и
                        Вам
                        нужен репетитора, вы можете доверить выбор нам. Для этого достаточно оставить заявку на сайте, и
                        администратор оперативно с Вами свяжется в течении пары часов, что бы выяснить все детали, для
                        поиска подходящего Вам репетитора. Подбор репетитора для Вас, осуществляется абсолютно
                        бесплатно. Мы
                        верим, что с нашим сообществом, Вам будет легче найти преподавателя, даже если Вам нужен лучший
                        репетитор Петербурга в своей области.</p>
                    <h2>ЕСЛИ ВАС ИНТЕРЕСУЕТ РАБОТА РЕПЕТИТОРОМ</h2>
                    <p>Мы рады сотрудничать с опытными и профессиональными преподавателями, работающими в школах и
                        ВУЗах, но
                        даже если Вы просто частный репетитор, то мы готовы к сотрудничеству. Если Вас интересует работа
                        репетитором, вы смело можете регистрироваться у нас на сайте. Так же репетиторы студенты и
                        преподаватели аспиранты могут зарегистрироваться у нас на сайте, если обладают нужной
                        квалификацией.
                        Несмотря на то, что опыт и навыки преподавания, несомненно, играют важную роль в любом обучении,
                        не
                        исключено что молодые репетиторы студенты окажется ближе по духу к ребенку и смогут построить
                        обучение увлекательно и интересно. Особенно, если это репетитор начальных классов, где требуется
                        более тонкий подход к ребенку. Репетитор для ребенка должен быть не только «живой энциклопедией»
                        знаний по предмету, но так же быть опытным педагогом, знать подход к детям. Именно поэтому
                        репетитор
                        для детей, это что-то большее, чем просто репетитор для школьников старших классов.</p>
                    <p>Стать репетитором, а тем более хорошим репетитором не так просто. Для этого необходимо безупречно
                        знать материал, а так же уметь его преподнести понятным ученику способом. Мы поддерживаем
                        гибкость
                        обучения и индивидуальный подход к каждому ученику. Основной критерий размещения анкет на сайте
                        –
                        это порядочность, профессионализм и положительные отзывы от учеников. Для того, что бы
                        присоединиться к нашему сообществу репетиторов, что бы Ваша анкета оказалась в Базе, Вам
                        достаточно
                        пройти регистрацию в разделе «Для Репетиторов». Через несколько дней, наш администратор свяжется
                        с
                        Вами для уточнения деталей и небольшого собеседования. Размещение анкеты осуществляется
                        бесплатно.
                        Поэтому если Вы частный репетитор, занимающийся преподавательской деятельностью или тренер или
                        инструктор, то мы приглашаем Вас к партнерскому сотрудничеству.</p>
                </div>
                <a href="javascript:void(0);" class="btn button_2 show_main_text">Читать полностью</a>
            </article>
        </div>
        <div class="index-howitworks">
            <div class="index-text_title">Как это работает?</div>
            <div class="tabs">
                <ul class="index-howitworks_menu">
                    <li id="for-students" class="index-howitworks_menu_uch active" data-id="0"><span>Для учеников</span></li>
                    <li id="for-teachers" class="index-howitworks_menu_rep" data-id="1"><span>Для репетиторов</span></li>
                </ul>
                <div class="inner index-howitworks_content">
                    <div id="tab-for-students" class="index-tabs_uch">
                        <ul>
                            <li class="index-tabs_1"><span>Выбираете преподавателя <br>сами или поручаете <br>выбор нам</span></li>
                            <li class="index-tabs_2"><span>Мы подтверждаем <br>заказ, затем передаем <br>контакты репетитору</span></li>
                            <li class="index-tabs_3"><span>Занимаетесь <br>с репетитором, достигаете <br>поставленной цели</span></li>
                            <li class="index-tabs_4"><span>С удовольствием <br>оставляете отзыв о <br>репетиторе &#128522;</span></li>
                            <li class="index-tabs_5"><span>Если репетитор вам <br>не подошел - предлагаем <br>других</span></li>
                        </ul>
                    </div>
                    <div id="tab-for-teachers" class="index-tabs_rep" style="display: none;">
                        <ul>
                            <li class="index-tabs_1"><span>Регистрируетесь <br>на сайте, заполнив <br>анкету</span></li>
                            <li class="index-tabs_2"><span>Мы присылаем доступ <br>в личный кабинет</span></li>
                            <li class="index-tabs_3"><span>Получаете контакты <br>учеников от нас</span></li>
                            <li class="index-tabs_4"><span>Занимаетесь с этими <br>учениками, получаете <br>оплату</span></li>
                            <li class="index-tabs_5"><span>После получения <br>оплаты платите комиссию <br>нам</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner index-lern catalog_menu_lern">
            {{ include('../components/catalog-menu.twig') }}
        </div>
        <div class="inner index-response">
            <div class="index-text_title">Отзывы наших учеников</div>
            {{ include('../components/reviews/reviews.twig') }}
            {{ include('../components/likes.twig') }}
        </div>
    </div>
{% endblock %}
