{% extends '../layouts/main.twig' %}

{% block title %}Электронная библиотека | Варианты ЕГЭ прошлых лет | Вступительные задания | Материалы для подготовки к ЕГЭ | Варианты вступительных экзаменов{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/library.php">
{% endblock %}

{% block style %}
    <style>
        .lead-personal h2 {
            margin: 30px 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: #535353;
        }
        .lead-personal .type {
            color: #b3b3b3;
        }
        .lead-personal > p {
            text-align: justify;
            font-size: 13px;
            font-family: "Tahoma", sans-serif;
        }
        .lead-personal > p a {
            color: #838383;
            font-weight: 500;
            margin-right: 5px;
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="lead lead-personal">
        <h2>Демонстрационные варианты ЕГЭ (2009 г.):</h2>

        <p>
            <a href="library/ru_demo_2009.pdf">Вариант ЕГЭ по русскому языку</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/ma_demo_2009.pdf">Вариант ЕГЭ по математике</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/fi_demo_2009.pdf">Вариант ЕГЭ по физике</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/khi_demo_2009.pdf">Вариант ЕГЭ по химии</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/ob_demo_2009.pdf">Вариант ЕГЭ по обществознанию</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/is_demo_2009.pdf">Вариант ЕГЭ по истории</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/gg_demo_2009.pdf">Вариант ЕГЭ по географии</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/bi_demo_2009.pdf">Вариант ЕГЭ по биологии</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/li_demo_2009.pdf">Вариант ЕГЭ по литературе</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/__2009-1.pdf">Вариант ЕГЭ по информатике и ИКТ</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/jaa_demo_2009.pdf">Вариант ЕГЭ по английскому языку</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/jaf_demo_2009.pdf">Вариант ЕГЭ по французскому языку</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/jai_demo_2009.pdf">Вариант ЕГЭ по испанскому языку</a>
            <span class="type">(pdf)</span>
        </p>
        <p>
            <a href="library/jan_demo_2009.pdf">Вариант ЕГЭ по немецкому языку</a>
            <span class="type">(pdf)</span>
        </p>

        <h2>Варианты вступительных экзаменов в ВУЗы:</h2>

        <p>
            <a href="library/Mexmat.PNG">Вариант вступительного экзамена по математике на МехМат МГУ, 2006 год</a>
            <span class="type">(png)</span>
        </p>
        <p>
            <a href="library/mfti.PNG">Вариант вступительного экзамена по физике в МФТИ, 2006 год</a>
            <span class="type">(png)</span>
        </p>
        <p>
            <a href="library/mitht.PNG">Вариант вступительного экзамена по химии в МИТХТ, 2006 год</a>
            <span class="type">(png)</span>
        </p>
        <p>
            <a href="library/rudn_rus.doc">Вариант вступительного экзамена по русскому языку и литературе в РУДН, 2005 год</a>
            <span class="type">(doc)</span>
        </p>
        <p>
            <a href="library/rudn.PNG">Вариант вступительного экзамена по математике в РУДН, 2005 год</a>
            <span class="type">(png)</span>
        </p>
        <p>
            <a href="library/vmk.PNG">Вариант вступительного экзамена по математике на ВМиК МГУ, 2003 год</a>
            <span class="type">(png)</span>
        </p>

        <h2>Автоинструкторы:</h2>

        <p><a href="avtoinstruktor_obuchenie_vozhdeniju_v_spb.php">Частные автоинструкторы по вождению</a></p>
        <p><a href="instruktor_po_vozhdeniju_sankt-peterburg.php">Частные инструкторы по вождению</a></p>
        <p><a href="instruktor_po_vozhdeniju_zhenshhina.php">Частные инструкторы по вождению женщины</a></p>
        <p><a href="otzyvy_ob_avtoinstruktorah.php">Отзывы об инструкторах по вождению</a></p>
        <p><a href="otzyvy_o_motoinstruktorah.php">Отзывы о мотоинструкторах</a></p>
        <p><a href="kursy_avtoinstruktorov_instruktorov_po_vozhdeniju.php">Курсы инструкторов по вождению</a></p>
        <p><a href="poisk-po-avto.php">Поиск по марке автомобиля</a></p>

        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
