{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по метро (станции метро с О по С){% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по метро Санкт-Петербурга (станции метро с О по С).">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/metro_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по метро', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск преподавателя по станции метро' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_cat">
            <a href="metro_a.php">А-З</a>
            <a href="metro_b.php">И-Н</a>
            <a href="metro_c.php" class="active">О-С</a>
            <a href="metro_d.php">Т-Я</a>
        </div>
        <div class="search-alf_block search-alf_width_20">
            <div>
                <ul>
                    <li class="first">О</li>
                    <li>-&nbsp;<a href="obvodnyj_kanal.php">Репетиторы на м. Обводный канал</a></li>
                    <li>-&nbsp;<a href="obuhovo.php">Репетиторы на м. Обухово</a></li>
                    <li>-&nbsp;<a href="ozerki.php">Репетиторы на м. Озерки</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">П</li>
                    <li>-&nbsp;<a href="park_pobedy.php">Репетиторы на м. Парк Победы</a></li>
                    <li>-&nbsp;<a href="parnas.php">Репетиторы на м. Парнас</a></li>
                    <li>-&nbsp;<a href="petrogradskaya.php">Репетиторы на м. Петроградская</a></li>
                    <li>-&nbsp;<a href="pionerskaya.php">Репетиторы на м. Пионерская</a></li>
                    <li>-&nbsp;<a href="ploshchad_aleksandra_nevskogo.php">Репетиторы на м. Площадь Александра Невского</a></li>
                    <li>-&nbsp;<a href="ploshchad_vosstaniya.php">Репетиторы на м. Площадь Восстания</a></li>
                    <li>-&nbsp;<a href="ploshchad_lenina.php">Репетиторы на м. Площадь Ленина</a></li>
                    <li>-&nbsp;<a href="ploshchad_muzhestva.php">Репетиторы на м. Площадь Мужества</a></li>
                    <li>-&nbsp;<a href="politehnicheskaya.php">Репетиторы на м. Политехническая</a></li>
                    <li>-&nbsp;<a href="primorskaya.php">Репетиторы на м. Приморская</a></li>
                    <li>-&nbsp;<a href="proletarskaya.php">Репетиторы на м. Пролетарская</a></li>
                    <li>-&nbsp;<a href="prospekt_bolshevikov.php">Репетиторы на м. Проспект Большевиков</a></li>
                    <li>-&nbsp;<a href="prospekt_veteranov.php">Репетиторы на м. Проспект Ветеранов</a></li>
                    <li>-&nbsp;<a href="prospekt_prosvescheniya.php">Репетиторы на м. Проспект Просвещения</a></li>
                    <li>-&nbsp;<a href="prslavy.php">Репетиторы на м. Проспект Славы</a></li>
                    <li>-&nbsp;<a href="pushkinskaya.php">Репетиторы на м. Пушкинская</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">Р</li>
                    <li>-&nbsp;<a href="rybatskoe.php">Репетиторы на м. Рыбацкое</a></li>
                </ul>
            </div><div>
                <ul>
                    <li class="first">С</li>
                    <li>-&nbsp;<a href="sadovaya.php">Репетиторы на м. Садовая</a></li>
                    <li>-&nbsp;<a href="sennaya_ploshchad.php">Репетиторы на м. Сенная площадь</a></li>
                    <li>-&nbsp;<a href="spasskaya.php">Репетиторы на м. Спасская</a></li>
                    <li>-&nbsp;<a href="sportivnaya.php">Репетиторы на м. Спортивная</a></li>
                    <li>-&nbsp;<a href="staraya_derevnya.php">Репетиторы на м. Старая Деревня</a></li>
                </ul>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
