{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по метро (станции метро с И по Н){% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по метро Санкт-Петербурга (станции метро с И по Н).">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/metro_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по метро', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск преподавателя по станции метро' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_cat">
            <a href="metro_a.php">А-З</a>
            <a href="metro_b.php" class="active">И-Н</a>
            <a href="metro_c.php">О-С</a>
            <a href="metro_d.php">Т-Я</a>
        </div>
        <div class="search-alf_block search-alf_width_20">
            <div>
                <ul>
                    <li class="first">К</li>
                    <li>-&nbsp;<a href="kirovskij_zavod.php">Репетиторы на м. Кировский завод</a></li>
                    <li>-&nbsp;<a href="komendantskij_prospekt.php">Репетиторы на м. Комендантский проспект</a></li>
                    <li>-&nbsp;<a href="krestovskij_ostrov.php">Репетиторы на м. Крестовский остров</a></li>
                    <li>-&nbsp;<a href="kupchino.php">Репетиторы на м. Купчино</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">Л</li>
                    <li>-&nbsp;<a href="ladozhskaya.php">Репетиторы на м. Ладожская</a></li>
                    <li>-&nbsp;<a href="leninskij_prospekt.php">Репетиторы на м. Ленинский проспект</a></li>
                    <li>-&nbsp;<a href="lesnaya.php">Репетиторы на м. Лесная</a></li>
                    <li>-&nbsp;<a href="ligovskij_prospekt.php">Репетиторы на м. Лиговский проспект</a></li>
                    <li>-&nbsp;<a href="lomonosovskaya.php">Репетиторы на м. Ломоносовская</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">М</li>
                    <li>-&nbsp;<a href="mayakovskaya.php">Репетиторы на м. Маяковская</a></li>
                    <li>-&nbsp;<a href="mezhdunarodnaya.php">Репетиторы на м. Международная</a></li>
                    <li>-&nbsp;<a href="moskovskaya.php">Репетиторы на м. Московская</a></li>
                    <li>-&nbsp;<a href="moskovskie_vorota.php">Репетиторы на м. Московские ворота</a></li>
                </ul>
            </div><div>
                <ul>
                    <li class="first">Н</li>
                    <li>-&nbsp;<a href="narvskaya.php">Репетиторы на м. Нарвская</a></li>
                    <li>-&nbsp;<a href="nevskij_prospekt.php">Репетиторы на м. Невский проспект</a></li>
                    <li>-&nbsp;<a href="novokrestovskaya.php">Репетиторы на м. Новокрестовская</a></li>
                    <li>-&nbsp;<a href="novocherkasskaya.php">Репетиторы на м. Новочеркасская</a></li>
                </ul>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
