{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по метро (станции метро с А по З){% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по метро Санкт-Петербурга (станции метро с А по З).">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/metro_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по метро', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск преподавателя по станции метро' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_cat">
            <a href="metro_a.php" class="active">А-З</a>
            <a href="metro_b.php">И-Н</a>
            <a href="metro_c.php">О-С</a>
            <a href="metro_d.php">Т-Я</a>
        </div>
        <div class="search-alf_block search-alf_width_20">
            <div>
                <ul>
                    <li class="first">А</li>
                    <li>-&nbsp;<a href="avtovo.php">Репетиторы на м. Автово</a></li>
                    <li>-&nbsp;<a href="admiraltejskaya.php">Репетиторы на м. Адмиралтейская</a></li>
                    <li>-&nbsp;<a href="akademicheskaya.php">Репетиторы на м. Академическая</a></li>
                </ul>
                <ul>
                    <li class="first">Б</li>
                    <li>-&nbsp;<a href="baltijskaya.php">Репетиторы на м. Балтийская</a></li>
                    <li>-&nbsp;<a href="begovaya.php">Репетиторы на м. Беговая</a></li>
                    <li>-&nbsp;<a href="buharestskaya.php">Репетиторы на м. Бухарестская</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">В</li>
                    <li>-&nbsp;<a href="vasileostrovskaya.php">Репетиторы на м. Василеостровская</a></li>
                    <li>-&nbsp;<a href="vladimirskaya.php">Репетиторы на м. Владимирская</a></li>
                    <li>-&nbsp;<a href="volkovskaya.php">Репетиторы на м. Волковская</a></li>
                    <li>-&nbsp;<a href="vyborgskaya.php">Репетиторы на м. Выборгская</a></li>
                </ul>
                <ul>
                    <li class="first">Г</li>
                    <li>-&nbsp;<a href="gorkovskaya.php">Репетиторы на м. Горьковская</a></li>
                    <li>-&nbsp;<a href="gostinyj_dvor.php">Репетиторы на м. Гостиный двор</a></li>
                    <li>-&nbsp;<a href="grazhdanskij_prospekt.php">Репетиторы на м. Гражданский проспект</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">Д</li>
                    <li>-&nbsp;<a href="devyatkino.php">Репетиторы на м. Девяткино</a></li>
                    <li>-&nbsp;<a href="dostoevskaya.php">Репетиторы на м. Достоевская</a></li>
                    <li>-&nbsp;<a href="dunaiskaya.php">Репетиторы на м. Дунайская</a></li>
                </ul>
                <ul>
                    <li class="first">Е</li>
                    <li>-&nbsp;<a href="elizarovskaya.php">Репетиторы на м. Елизаровская</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">З</li>
                    <li>-&nbsp;<a href="zvezdnaya.php">Репетиторы на м. Звездная</a></li>
                    <li>-&nbsp;<a href="zvenigorodskaya.php">Репетиторы на м. Звенигородская</a></li>
                </ul>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
