{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по метро (станции метро с Т по Я){% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по метро Санкт-Петербурга (станции метро с Т по Я).">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/metro_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по метро', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск преподавателя по станции метро' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_cat">
            <a href="metro_a.php">А-З</a>
            <a href="metro_b.php">И-Н</a>
            <a href="metro_c.php">О-С</a>
            <a href="metro_d.php" class="active">Т-Я</a>
        </div>
        <div class="search-alf_block search-alf_width_20">
            <div>
                <ul>
                    <li class="first">Т</li>
                    <li>-&nbsp;<a href="tehnologicheskij_institut.php">Репетиторы на м. Технологический институт</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="first">У</li>
                    <li>-&nbsp;<a href="udelnaya.php">Репетиторы на м. Удельная</a></li>
                    <li>-&nbsp;<a href="ulica_dybenko.php">Репетиторы на м. Улица Дыбенко</a></li>
                </ul>

            </div>
            <div>
                <ul>
                    <li class="first">Ф</li>
                    <li>-&nbsp;<a href="frunzenskaya.php">Репетиторы на м. Фрунзенская</a></li>
                </ul>
            </div><div>
                <ul>
                    <li class="first">Ч</li>
                    <li>-&nbsp;<a href="chernaya_rechka.php">Репетиторы на м. Черная речка</a></li>
                    <li>-&nbsp;<a href="chernyshevskaya.php">Репетиторы на м. Чернышевская</a></li>
                    <li>-&nbsp;<a href="chkalovskaya.php">Репетиторы на м. Чкаловская</a></li>
                </ul>
                <ul>
                    <li class="first">Ш</li>
                    <li>-&nbsp;<a href="shushary.php">Репетиторы на м. Шушары</a></li>
                </ul>
                <ul>
                    <li class="first">Э</li>
                    <li>-&nbsp;<a href="elektrosila.php">Репетиторы на м. Электросила</a></li>
                </ul>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
