{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Музыка{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/muzyka_main.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Другие предметы' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <table border="0" width="100%">
        <tr>
            <td width="50%" valign="top" align="center" colspan=3>
                <font size=4>
                    <br>Музыка:<br><br>
                </font>
            </td>
        </tr>
        <tr valign="top">
            <td>

                -&nbsp;<a href="accordion.php">Репетиторы по аккордеону и баяну</a><br>
                -&nbsp;<a href="viola.php">Репетиторы по альту</a><br>
                -&nbsp;<a href="arfa/">Репетиторы по арфе</a><br>

                <br>

                -&nbsp;<a href="balalayka/">Репетиторы по балалайке</a><br>
                -&nbsp;<a href="bandzho/">Репетиторы по банджо</a><br>
                -&nbsp;<a href="bandura/">Репетиторы по бандуре</a><br>
                -&nbsp;<a href="blok-fleyta/">Репетиторы по блок-флейте</a><br>
                -&nbsp;<a href="bubny/">Репетиторы по бубнам</a><br>

                <br>

                -&nbsp;<a href="valtorna/">Репетиторы по валторне</a><br>
                -&nbsp;<a href="vargan/">Репетиторы по варгану</a><br>
                -&nbsp;<a href="cello.php">Репетиторы по виолончели</a><br>
                -&nbsp;<a href="volynka/">Репетиторы по волынке</a><br>

                <br>

                -&nbsp;<a href="harmony.php">Репетиторы по гармонии</a><br>
                -&nbsp;<a href="goboy/">Репетиторы по гобою</a><br>
                -&nbsp;<a href="gusli/">Репетиторы по гуслям</a><br>

            </td>
            <td>

                -&nbsp;<a href="dzhembe/">Репетиторы по джембе</a><br>
                -&nbsp;<a href="dirizhirovanie/">Репетиторы по дирижированию</a><br>
                -&nbsp;<a href="domra/">Репетиторы по домре</a><br>
                -&nbsp;<a href="duduk/">Репетиторы по дудуку</a><br>

                <br>

                -&nbsp;<a href="clarinet.php">Репетиторы по кларнету</a><br>
                -&nbsp;<a href="contrabass.php">Репетиторы по контрабасу</a><br>
                -&nbsp;<a href="kontrabas/">Репетиторы по контрабасу</a><br>
                -&nbsp;<a href="kornet/">Репетиторы по корнету</a><br>
                -&nbsp;<a href="ksilofon/">Репетиторы по ксилофону</a><br>

                <br>

                -&nbsp;<a href="litavry/">Репетиторы по литаврам</a><br>
                -&nbsp;<a href="lyutnya/">Репетиторы по лютне</a><br>

                <br>

                -&nbsp;<a href="mandolin.php">Репетиторы по мандолине</a><br>
                -&nbsp;<a href="music.php">Репетиторы по музыке</a><br>
                -&nbsp;<a href="muzykalnaya_literatura/">Репетиторы по музыкальной литературе</a><br>

            </td>
            <td>

                -&nbsp;<a href="notnaya_gramota/">Репетиторы по нотной грамоте</a><br>

                <br>

                -&nbsp;<a href="organ/">Репетиторы по органу</a><br>

                <br>

                -&nbsp;<a href="polifoniya/">Репетиторы по полифонии</a><br>

                <br>

                -&nbsp;<a href="ritmika/">Репетиторы по ритмике</a><br>
                -&nbsp;<a href="royal/">Репетиторы по роялю</a><br>

                <br>

                -&nbsp;<a href="svirel/">Репетиторы по свирели</a><br>
                -&nbsp;<a href="synthesizer.php">Репетиторы по синтезатору</a><br>

                <br>

                -&nbsp;<a href="trombone.php">Репетиторы по тромбону</a><br>
                -&nbsp;<a href="horn.php">Репетиторы по трубе</a><br>

                <br>

                -&nbsp;<a href="drum.php">Репетиторы по ударным</a><br>
                -&nbsp;<a href="ukulele/">Репетиторы по укулеле</a><br>

                <br>

                -&nbsp;<a href="fagot/">Репетиторы по фаготу</a><br>

            </td>
        </tr>
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
