{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Носители языков{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/native.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Носители языка' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="search-alf_block">
        <div>
            <ul>
                <li>- <a href="english_n.php">Английский язык</a></li>
                <li>- <a href="spanish_n.php">Испанский язык</a></li>
                <li>- <a href="italian_n.php">Итальянский язык</a></li>
                <li>- <a href="german_n.php">Немецкий язык</a></li>
                <li>- <a href="portuguese_n.php">Португальский язык</a></li>
                <li>- <a href="french_n.php">Французский язык</a></li>
                <li>- <a href="arabic_n.php">Арабский язык</a></li>
                <li>- <a href="chinese_n.php">Китайский язык</a></li>
            </ul>
        </div>
    </div>
    {{ include('../components/likes.twig') }}
{% endblock %}
