{% extends '../layouts/main.twig' %}

{% block title %}Отзывы по категориям предметов - "СПбРепетитор"{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/otzyvy.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Отзывы по категориям предметов' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_block">
            <ul>
                <li>-&nbsp;<a href="otzyvy_regular.php">Отзывы о репетиторах по общеобразовательным предметам</a></li>
                <li>-&nbsp;<a href="otzyvy_language.php">Отзывы о репетиторах по иностранным языкам</a></li>
                <li>-&nbsp;<a href="logoped/otzyvy.php">Отзывы о логопедах</a></li>
                <li>-&nbsp;<a href="otzyvy_music.php">Отзывы о преподавателях музыки</a></li>
                <li>-&nbsp;<a href="otzyvy_dance.php">Отзывы об инструкторах по танцам</a></li>
                <li>-&nbsp;<a href="otzyvy_sport.php">Отзывы о тренерах</a></li>
                <li>-&nbsp;<a href="otzyvy_other.php">Отзывы о репетиторах по разным дисциплинам</a></li>
                <li>-&nbsp;<a href="otzyvy_ob_avtoinstruktorah.php">Отзывы об автоинструкторах</a></li>
                <li>-&nbsp;<a href="otzyvy_o_motoinstruktorah.php">Отзывы о мотоинструкторах</a></li>
            </ul>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
