{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Политика в области персональных данных{% endblock %}

{% block style %}
    <style>
        #tutors p {
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Политика в области персональных данных' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <section id="tutors">
            <p style="text-align:center;">Политика в отношении обработки персональных данных пользователей
                интернет-сайта {{ env('DOMAIN') }}</p>

            <div><br></div>
            <p style="text-align:center;">1. Общие положения</p>
            <div><br></div>

            <p>1.1. Настоящая политика в отношении обработки персональных данных разработана – ИП Горохов Иван
                Геннадьевич, г. Москва, ул. Теплый Стан, д. 14/2, кв. 183, ИНН 772851565911, ОГРН: 312774601800257,
                расчетный счет: 40802810300000008783 в ВТБ 24 (ПАО), город Москва, БИК 044525716, к/с
                30101810100000000716 (далее – оператор персональных данных, оператор) и определяет порядок обработки
                персональных данных физических лиц, пользующихся услугами интернет-сайта {{ env('DOMAIN') }} (далее -
                сайт) и его сервисами. Указанные физические лица далее именуются пользователями.</p>
            <p>1.2. Отношения, связанные с обработкой персональных данных пользователя, регулируются настоящей
                политикой, а также действующим законодательством Российской Федерации, в том числе Федеральным законом
                от 27.07.2006 N 152-ФЗ «О персональных данных».</p>
            <p>1.3. Регистрируясь и/или используя сайт, пользователь выражает свое согласие с условиями настоящей
                политики.</p>
            <p>1.4. В случае несогласия пользователя с условиями настоящей политики использование сайта и его сервисов
                должно быть немедленно прекращено.</p>
            <p>1.5. Оператор не проверяет достоверность получаемой (собираемой) информации о пользователях, за
                исключением случаев, когда такая проверка необходима в целях исполнения оператором обязательств перед
                пользователем.</p>
            <p>1.6. Пользователи сайта разделены на две группы: пользователи со статусом «репетитор» и пользователи со
                статусом «ученик». Для каждой их групп настоящей политикой установлены разные правила в отношении
                персональных данных.</p>

            <div><br></div>
            <p style="text-align:center;">2. Цели обработки персональных данных</p>
            <div><br></div>

            <p>2.1. Оператор осуществляет обработку персональных данных пользователей, в целях выполнения обязательств
                перед пользователями в отношении использования сайта и его сервисов.</p>

            <div><br></div>
            <p style="text-align:center;">3. Состав обрабатываемых персональных данных пользователей</p>
            <div><br></div>

            <p>3. Оператор обрабатывает следующие персональных данные пользователей со статусом «ученик»:</p>
            <p>3.1.1. фамилию, имя, отчество, а также никнейм пользователя, в зависимости от того, что указывает
                пользователь при заполнении контактной формы «Заявка репетитору».</p>
            <p>3.1.2. номер телефона.</p>
            <p>3.1.3. адрес электронной почты, если пользователь желает его указать.</p>
            <p>3.1.4. предмет, по которому пользователь хочет получать услуги репетитора, если пользователь желает его
                указать.</p>
            <p>3.1.5. цель занятий, возраст, класс учебного заведения ученика, если пользователь желает его указать.</p>
            <p>3.1.6. место проведения занятий (у ученика дома, у преподавателя дома, дистанционно, или место проведения
                занятий не имеет значения), если пользователь желает его указать.</p>
            <p>3.1.7. город, в котором ученик желает заниматься у репетитора, если пользователь желает его указать.</p>
            <p>3.1.8. станция метро, рядом с которой ученику удобно заниматься у репетитора, если пользователь желает
                его указать.</p>
            <p>3.1.9. иные персональные данные, которые пользователь сообщил оператору по своей инициативе, но
                предоставление которых не является обязательным, в том числе удобные дни и время занятий и т.д.</p>
            <p>3.2. Оператор обрабатывает следующие персональных данные пользователей со статусом «репетитор»:</p>
            <p>3.2.1. фамилию, имя, отчество, пол, год рождения.</p>
            <p>3.2.2. номер телефона.</p>
            <p>3.2.3. адрес электронной почты.</p>
            <p>3.2.4. изображение пользователя со статусом «репетитор».</p>
            <p>3.2.5. сведения о преподаваемых предметах.</p>
            <p>3.2.6. информация о месте проведения занятий, в том числе адрес, информация о возможности удаленных
                занятий, о стоимости занятий.</p>
            <p>3.2.7. информация о преподавательском стаже, опыте работы в образовательных учреждениях, статусе
                (студент, аспирант, школьный преподаватель, преподаватель вуза, частный преподаватель).</p>
            <p>3.2.8. информация об оконченном вузе и годе окончания вуза, факультете, ученой степени и т.д.</p>
            <p>3.2.9. скан-копии документов об образовании и повышении квалификации.</p>
            <p>3.3. Оператор может получать от пользователя и оборудования пользователя иные данные, которые при
                определенных обстоятельствах могут являться персональными данными, в том числе: данные о технических
                средствах (устройствах), технологическом взаимодействии с сайтом (в том числе IP-адрес хоста, вид
                операционной системы пользователя, тип браузера, географическое положение, поставщик услуг Интернета,
                данные из адресной книги, данные, полученные в результате доступа к камере, микрофону и т.п. устройств),
                и последующих действиях пользователя на сайте; информация, автоматически получаемая при доступе к сайту
                с использованием закладок (cookies) и т.д.</p>

            <div><br></div>
            <p style="text-align:center;">4. Порядок обработки персональных данных пользователей</p>
            <div><br></div>

            <p>4.1. Принципы обработки персональных данных пользователей:</p>
            <p>4.1.1. законная и справедливая основа обработки персональных данных.</p>
            <p>4.1.2. ограничение обработки персональных данных достижением конкретных, заранее определенных и законных
                целей. Не допускается обработка персональных данных, несовместимая с целью сбора персональных данных -
                выполнение обязательств перед пользователями в отношении использования сайта и его сервисов.</p>
            <p>4.1.3. недопустимость объединения баз данных, содержащих персональные данные, обработка которых
                осуществляется в целях, несовместимых между собой.</p>
            <p>4.1.4. обработка только персональных данных, которые отвечают целям их обработки.</p>
            <p>4.1.5. соответствие содержания и объема обрабатываемых персональных данных заявленным целям обработки.
                Запрет обработки избыточных персональных данных по отношению к заявленным целям обработки.</p>
            <p>4.1.6. обеспечение точности персональных данных, их достаточности, а в необходимых случаях и актуальности
                по отношению к целям обработки персональных данных.</p>
            <p>4.1.7. хранение персональных данных должно осуществляться в форме, позволяющей определить субъекта
                персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения
                персональных данных не установлен федеральным законом, договором, стороной которого,
                выгодоприобретателем или поручителем, по которому является субъект персональных данных. Обрабатываемые
                персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае
                утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.</p>
            <p>4.2. Оператор осуществляет обработку персональных данных пользователей в целях исполнения договора на
                оказание услуг сайта. В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных»
                отдельное согласие пользователя на обработку его персональных данных не требуется. В силу п.п. 2 п. 2
                статьи 22 указанного закона оператор вправе осуществлять обработку персональных данных без уведомления
                уполномоченного органа по защите прав субъектов персональных данных.</p>
            <p>4.3. Оператор не проверяет достоверность получаемой (собираемой) информации о пользователях, за
                исключением случаев, когда такая проверка необходима в целях исполнения оператором обязательств перед
                пользователем.</p>
            <p>4.4. Сбор персональных данных пользователя со статусом «ученик» осуществляется на сайте при заполнении и
                отправке формы подачи заявки репетитору.</p>
            <p>4.5. Сбор персональных данных пользователя со статусом «репетитор» осуществляется на сайте при
                регистрации пользователя.</p>
            <p>4.6. Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с
                использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка
                персональных данных необходима в связи с исполнением требований законодательства.</p>
            <p>4.7. Персональные данные пользователей со статусом «ученик» передаются исключительно выбранному
                пользователем другому пользователю со статусом «репетитор» для последующего оказания репетитором услуг
                ученику. Другие пользователи со статусом «ученик» и другие пользователи со статусом «репетитор» не имеют
                доступа к персональным данным.</p>
            <p>4.8. Персональные данные пользователей со статусом «репетитор» доступны неограниченному числу
                пользователей со статусом «ученик» и пользователей со статусом «репетитор», а также неограниченному
                числу пользователей сети Интернет.</p>
            <p>4.9. Персональные данные пользователей обрабатываются в течение срока функционирования сайта в сети
                Интернет, если не будут уничтожены ранее по инициативе пользователя или по инициативе оператора.</p>
            <p>4.10. Персональные данные пользователей уничтожаются при удалении персональных данных пользователем, при
                удалении аккаунта на сайте, удалении оператором персональных данных, в случае нарушения пользователем
                условий пользования сайтом, персональных данных, противоречащих действующему законодательству, а также в
                иных случаях, установленных действующим законодательством.</p>
            <p>4.11. Пользователь со статусом «репетитор» осознает, что его персональные данные могут быть доступны
                неограниченному количеству пользователей сети Интернет и соглашается с тем, что его персональные данные
                будут доступны пользователям сети Интернет.</p>
            <p>4.12. Неограниченному количеству пользователей сети Интернет в отношении пользователей со статусом
                «репетитор» доступны все персональные данные, указанные в п. 3.2 настоящей Политики.</p>
            <p>4.13. Трансграничная передача персональных данных пользователя не предусматривается.</p>

            <div><br></div>
            <p style="text-align:center;">5. Права и обязанности пользователей.</p>
            <div><br></div>

            <p>5.1. Пользователи вправе:</p>
            <p>5.1.1. осуществлять свободный бесплатный доступ к своим персональным данным с использованием функционала
                сайта.</p>
            <p>5.1.2. самостоятельно редактировать, дополнять, удалять свои персональных данные.</p>
            <p>5.1.3. требовать от оператора уточнения своих персональных данных, их блокирования или уничтожения в
                случаях, предусмотренных действующим законодательством и, если пользователь не имеет возможности сделать
                это самостоятельно.</p>
            <p>5.1.4. получать от оператора информацию, касающуюся обработки его персональных данных.</p>

            <div><br></div>
            <p style="text-align:center;">6. Меры по защите информации о пользователях</p>
            <div><br></div>

            <p>6.1. Оператор принимает технические и организационно-правовые меры в целях обеспечения защиты
                персональных данных пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения,
                блокирования, копирования, распространения, а также от иных неправомерных действий.</p>
            <p>6.2. Для авторизации доступа к сайту используется логин и пароль пользователя. Ответственность за
                сохранность данной информации несет пользователь. Пользователь не вправе передавать собственный логин и
                пароль третьим лицам, а также обязан предпринимать меры по обеспечению их конфиденциальности.</p>

            <div><br></div>
            <p style="text-align:center;">7. Ограничение действия политики</p>
            <div><br></div>

            <p>7.1. Действие политики не распространяется на действия и Интернет-ресурсы третьих лиц.<br>Оператор не
                несет ответственности за действия третьих лиц, получивших в результате использования Интернета или услуг
                сайта доступ к информации о пользователе, за последствия использования информации, которая, в силу
                природы сайта, доступна любому пользователю сети Интернет.</p>

            <div><br></div>
            <p style="text-align:center;">8. Обращения пользователей</p>
            <div><br></div>

            <p>8.1. Пользователи вправе направлять оператору свои запросы, в том числе запросы относительно
                использования их персональных данных, предусмотренные в письменной форме по адресу г. Москва, ул. Теплый
                Стан, д. 14/2, кв. 183, индекс 117133, на имя Горохов Иван Геннадьевич.</p>
            <p>8.2. Запрос, направляемый пользователем, должен содержать достаточную информацию, необходимую для
                идентификации его как пользователя сайта, то есть как минимум, фамилию, имя и отчество (при
                наличии).</p>
            <p>8.3. Запрос должен быть подписан собственноручно или представителем. В последнем случае прилагается
                доверенность, подтверждающая полномочия представителя.</p>
            <p>8.4. Оператор рассматривает обращения и направляет ответ в течение 30 дней с момента поступления
                обращения.</p>
            <div><br></div>
        </section>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
