{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск логопеда{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/poisk-logopeda.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Поиск логопеда' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_block search-alf_width_25">
            <div>
                <ul>
                    <li>-&nbsp;<a href="logoped/dlya-2-let.php">Логопеды для детей 2 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-3-let.php">Логопеды для детей 3 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-4-let.php">Логопеды для детей 4 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-5-let.php">Логопеды для детей 5 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-6-let.php">Логопеды для детей 6 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-7-let.php">Логопеды для детей 7 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-8-let.php">Логопеды для детей 8 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-9-let.php">Логопеды для детей 9 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-10-let.php">Логопеды для детей 10 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-11-let.php">Логопеды для детей 11 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-12-let.php">Логопеды для детей 12 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-13-let.php">Логопеды для детей 13 лет</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-shkolnika.php">Логопеды для школьника</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-podrostka.php">Логопеды для подростка</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>-&nbsp;<a href="logoped/dlya-alalika.php">Логопеды для алалика</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-detei-s-autizmom.php">Логопеды для ребенка с аутизмом</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-afazika.php">Логопеды для афазика</a></li>
                    <li>-&nbsp;<a href="logoped/pri-dizartrii.php">Логопеды при дизартрии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-disgrafii.php">Логопеды при дисграфии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-dislalii.php">Логопеды при дислалии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-disleksii.php">Логопеды при дислексии</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-detei-s-dcp.php">Логопеды для ребенка с дцп</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-zaikayushihsya.php">Логопеды для заикающегося</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-detei-s-zpr.php">Логопеды для детей с зпр</a></li>
                    <li>-&nbsp;<a href="logoped/pri-zrr.php">Логопеды при ЗРР</a></li>
                    <li>-&nbsp;<a href="logoped/pri-zprr.php">Логопеды при ЗПРР</a></li>
                    <li>-&nbsp;<a href="logoped/pri-lgnr.php">Логопеды при ЛГНР</a></li>
                    <li>-&nbsp;<a href="logoped/posle-insulta.php">Логопеды для перенесших инсульт</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-negovoryashego-rebenka.php">Логопеды для неговорящего ребенка</a>
                    </li>
                    <li>-&nbsp;<a href="logoped/pri-onr.php">Логопеды при ОНР</a></li>
                    <li>-&nbsp;<a href="logoped/pri-rinolalii.php">Логопеды при ринолалии</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-detei-s-sindromom-dauna.php">Логопеды для детей с синдромом
                            дауна</a></li>
                    <li>-&nbsp;<a href="logoped/dlya-slaboslyshashih.php">Логопеды для слабослышащего</a></li>
                    <li>-&nbsp;<a href="logoped/pri-ffnr.php">Логопеды при ФФНР</a></li>
                    <li>-&nbsp;<a href="logoped/pri-bradilalii.php">Логопеды при брадилалии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-dizorfografii.php">Логопеды при дизорфографии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-disfonii.php">Логопеды при дисфонии</a></li>
                    <li>-&nbsp;<a href="logoped/pri-tahilalii.php">Логопеды при тахилалии</a></li>
                </ul>
            </div>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
