{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по району{% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по району Санкт-Петербурга.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/raion_a.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по району', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск преподавателя по району' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_block search-alf_width_33">
            <table border="0" width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <font face="tahoma" size="2" color="838383">
                            <br><b>А</b><br><br>
                            -&nbsp;<a href="admiraltejskij.php">Репетиторы в Адмиралтейском районе</a><br>

                            <br><b>В</b><br><br>
                            -&nbsp;<a href="vasileostrovskij.php">Репетиторы в Василеостровском районе</a><br>
                            -&nbsp;<a href="vyborgskij.php">Репетиторы в Выборгском районе</a><br>

                            <br><b>К</b><br><br>
                            -&nbsp;<a href="kalininskij.php">Репетиторы в Калининском районе</a><br>
                            -&nbsp;<a href="kirovskij.php">Репетиторы в Кировском районе</a><br>
                            -&nbsp;<a href="kolpinskij.php">Репетиторы в Колпинском районе</a><br>
                            -&nbsp;<a href="krasnogvardejskij.php">Репетиторы в Красногвардейском районе</a><br>
                            -&nbsp;<a href="krasnoselskij.php">Репетиторы в Красносельском районе</a><br>
                            -&nbsp;<a href="kronshtadtskij.php">Репетиторы в Кронштадтском районе</a><br>
                            -&nbsp;<a href="kurortnyj.php">Репетиторы в Курортном районе</a><br>

                            <br><b>М</b><br><br>
                            -&nbsp;<a href="moskovskij.php">Репетиторы в Московском районе</a><br>
                        </font>
                    </td>
                    <td width="50%" valign="top">
                        <font face="tahoma" size="2" color="838383">
                            <br><b>Н</b><br><br>
                            -&nbsp;<a href="nevskij.php">Репетиторы в Невском районе</a><br>

                            <br><b>П</b><br><br>
                            -&nbsp;<a href="petrogradskij.php">Репетиторы в Петроградском районе</a><br>
                            -&nbsp;<a href="petrodvorcovyj.php">Репетиторы в Петродворцовом районе</a><br>
                            -&nbsp;<a href="primorskij.php">Репетиторы в Приморском районе</a><br>
                            -&nbsp;<a href="pushkinskij.php">Репетиторы в Пушкинском районе</a><br>

                            <br><b>Ф</b><br><br>
                            -&nbsp;<a href="frunzenskij.php">Репетиторы в Фрунзенском районе</a><br>

                            <br><b>Ц</b><br><br>
                            -&nbsp;<a href="centralnyj.php">Репетиторы в Центральном районе</a><br>
                        </font>
                    </td>
                </tr>
            </table>
            <br><br>
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
