{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Регистрация специалиста{% endblock %}

{% block metas %}
    <meta name="description" content="Регистрация специалиста">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/registraciya.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Регистрация специалиста' }) }}
        {{ include('../components/h1.twig', { name: 'Выберите категорию, в которой хотите зарегистрироваться' }) }}
    </div>
    <div class="main width_100">
        <div class="regist_top_text">Если вы хотите зарегистрироваться сразу в двух категориях (например, если вы
            преподаете и математику, и гитару), то просто сначала создайте одну анкету в одной категории, а затем вторую
            анкету во второй категории (указав во второй анкете те же телефон, электронную почту, что и в первой, а
            также поставив галочку "вторая анкета" при регистрации второй анкеты).
        </div>
        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Репетиторы </span><span class="description">Регистрация репетиторов по школьным, вузовским предметам, а также иностранным языкам и другим предметам не входящим в другие категории</span>
                <a href="registerform.php" class="button_1 btn">Зарегистрироваться</a>
            </div>
        </div>

        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Репетиторы по музыкальным дисциплинам </span><span class="description">Регистрация репетиторов по обучению игре на музыкальных инструментах и другим музыкальным дисциплинам</span>
                <a href="registerform_muzyka.php" class="button_1 btn">Зарегистрироваться</a>
            </div>

        </div>

        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Тренеры </span><span class="description">Регистрация тренеров и инструкторов по спортивным дисциплинам и танцам</span>
                <a href="registerform_sport.php" class="button_1 btn">Зарегистрироваться</a>
            </div>

        </div>

        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Логопеды </span><span class="description">Регистрация логопедов, преподавателей начальной школы и подготовки к школе</span>
                <a href="registerform_logoped.php" class="button_1 btn">Зарегистрироваться</a>
            </div>
        </div>

        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Автоинструкторы </span><span class="description">Регистрация инструкторов по вождению автомобиля или мотоцикла</span>
                <a href="rabota_avtoinstruktorom_po_vozhdeniju.php" class="button_1 btn">Зарегистрироваться</a>
            </div>
        </div>

        <div class="regist_cat_link">
            <div class="regist_cat_text">
                <span class="title">Другие предметы </span><span class="description">Репетиторы по редким дисциплинам - регистрация преподавателей по редким дисциплинам и предметам, не вошедшим в другие разделы</span>
                <a href="registerform_other.php" class="button_1 btn">Зарегистрироваться</a>
            </div>
        </div>
    </div>
{% endblock %}
