{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Общеобразовательные предметы{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/regular_predmet.php">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="lead">
            <table border="0" width="100%">
                <tr>
                    <td width="50%" valign="top" align="center" colspan=3>
                        <font size=4><br>Общеобразовательные предметы:<br><br></font>
                    </td>
                </tr>
                <tr valign="top" align=center>
                    <td>
                        -&nbsp;<a href="mathematics.php">Репетиторы по математике</a><br><br>
                        -&nbsp;<a href="physics.php">Репетиторы по физике</a><br><br>
                        -&nbsp;<a href="chemistry.php">Репетиторы по химии</a><br><br>
                        -&nbsp;<a href="programming.php">Репетиторы по информатика</a><br><br>
                        -&nbsp;<a href="programming.php">Репетиторы по программированию</a><br><br>
                    </td>
                    <td>
                        -&nbsp;<a href="russian.php">Репетиторы по русскому языку</a><br><br>
                        -&nbsp;<a href="literature.php">Репетиторы по литературе</a><br><br>
                        -&nbsp;<a href="history.php">Репетиторы по истории</a><br><br>
                        -&nbsp;<a href="law.php">Репетиторы по обществознанию</a><br><br>
                        -&nbsp;<a href="picture.php">Репетиторы по рисунку</a><br><br>
                    </td>
                    <td>
                        -&nbsp;<a href="biology.php">Репетиторы по биологии</a><br><br>
                        -&nbsp;<a href="geography.php">Репетиторы по географии</a><br><br>
                        -&nbsp;<a href="economics.php">Репетиторы по экономике</a><br><br>
                        -&nbsp;<a href="drawing.php">Репетиторы по черчению</a><br><br>
                        -&nbsp;<a href="drawing.php">Репетиторы по начертательной геометрии</a><br><br>
                    </td>
                </tr>
            </table>
            {{ include('../components/likes.twig') }}
        </div>
    </div>
    {{ Helper.searchSidebar(null, false) }}
{% endblock %}
