{% extends '../layouts/main.twig' %}

{% block title %}"Репетит-Центр" - Согласие на обработку персональных данных{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Согласие на обработку персональных данных' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100 page_s1 us_1">
        <section id="tutors">
            <p>Настоящим свободно, своей волей и в своем интересе даю согласие ИП Горохову Ивану Геннадьевичу, г. Москва, ул. Теплый Стан, д. 14/2, кв. 183, ИНН 772851565911, ОГРН: 312774601800257, расчетный счет: 40802810300000008783 в ВТБ 24 (ПАО), город Москва, БИК 044525716, к/с 30101810100000000716 (далее – оператор) на обработку моих персональных данных, а именно:</p>
            <p>Оператор обрабатывает следующие персональных данные пользователей со статусом «ученик»:</p>
            <ul>
                <li><span>фамилию, имя, отчество, а также никнейм пользователя, в зависимости от того, что указывает пользователь при заполнении контактной формы «Заявка репетитору».</span></li>
                <li><span>номер телефона.</span></li>
                <li><span>адрес электронной почты, если пользователь желает его указать.</span></li>
                <li><span>предмет, по которому пользователь хочет получать услуги репетитора, если пользователь желает его указать.</span></li>
                <li><span>цель занятий, возраст, класс учебного заведения ученика, если пользователь желает его указать.</span></li>
                <li><span>место проведения занятий (у ученика дома, у преподавателя дома, дистанционно, или место проведения занятий не имеет значения), если пользователь желает его указать.</span></li>
                <li><span>город, в котором ученик желает заниматься у репетитора, если пользователь желает его указать.</span></li>
                <li><span>станция метро, рядом с которой ученику удобно заниматься у репетитора, если пользователь желает его указать.</span></li>
                <li><span>иные персональные данные, которые пользователь сообщил оператору по своей инициативе, но предоставление которых не является обязательным, в том числе удобные дни и время занятий и т.д.</span></li>
            </ul>
            <p>Оператор обрабатывает следующие персональных данные пользователей со статусом «репетитор»:</p>
            <ul>
                <li><span>фамилию, имя, отчество, пол, год рождения.</span></li>
                <li><span>номер телефона.</span></li>
                <li><span>адрес электронной почты.</span></li>
                <li><span>изображение пользователя со статусом «репетитор».</span></li>
                <li><span>сведения о преподаваемых предметах.</span></li>
                <li><span>информация о месте проведения занятий, в том числе адрес, информация о возможности удаленных занятий, о стоимости занятий.</span></li>
                <li><span>информация о преподавательском стаже, опыте работы в образовательных учреждениях, статусе (студент, аспирант, школьный преподаватель, преподаватель вуза, частный преподаватель).</span></li>
                <li><span>информация об оконченном вузе и годе окончания вуза, факультете, ученой степени и т.д.</span></li>
                <li><span>скан-копии документов об образовании и повышении квалификации.</span></li>
            </ul>
            <p>Оператор может получать от пользователя и оборудования пользователя иныеданные, которые при определенных обстоятельствах могут являться персональными данными, в том числе: данные о технических средствах (устройствах), технологическом взаимодействии с сайтом (в том числе IP-адрес хоста, вид операционной системы пользователя, тип браузера, географическое положение, поставщик услуг Интернета, данные из адресной книги, данные, полученные в результате доступа к камере, микрофону и т.п. устройств), и последующих действиях пользователя на сайте; информация, автоматически получаемая при доступе к сайту с использованием закладок (cookies) и т.д.</p>
            <p>Оператору предоставляется право производить любые действия (операции) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных, а также предоставление персональных данных органам государственной власти и органам местного самоуправления в случаях, предусмотренных законом.</p>
            <p>Оператор может поручить обработку персональных данных своим работникам.</p>
            <p>Цель обработки персональных данных: выполнение оператором выполнения обязательств перед пользователями в отношении использования сайта и его сервисов.</p>
            <p>Согласие действует неограниченное время до отзыва.</p>
            <p>Настоящее согласие может быть отозвано в письменной форме.</p>
        </section>
    </div>
{% endblock %}
