{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Спортивные дисциплины{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/sport_main.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Спорт' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <table border="0" width="100%">
        <tr valign="top">
            <td>
                -&nbsp;<a href="avtosport/">Тренеры по автоспорту</a><br>
                -&nbsp;<a href="adzhiliti/">Тренеры по аджилити</a><br>
                -&nbsp;<a href="aikido.php">Тренеры по айкидо</a><br>
                -&nbsp;<a href="akademicheskaya_greblya/">Тренеры по академической гребле</a><br>
                -&nbsp;<a href="akrobatika/">Тренеры по акробатике</a><br>
                -&nbsp;<a href="alpinizm/">Тренеры по альпинизму</a><br>
                -&nbsp;<a href="amerikanskiy_futbol/">Тренеры по американскому футболу</a><br>
                -&nbsp;<a href="armrestling/">Тренеры по армрестлингу</a><br>
                -&nbsp;<a href="aerobics.php">Тренеры по аэробике</a><br>

                <br>

                -&nbsp;<a href="badminton/">Тренеры по бадминтону</a><br>
                -&nbsp;<a href="basketball.php">Тренеры по баскетболу</a><br>
                -&nbsp;<a href="beysbol/">Тренеры по бейсболу</a><br>
                -&nbsp;<a href="biatlon/">Тренеры по биатлону</a><br>
                -&nbsp;<a href="billiards.php">Тренеры по бильярду</a><br>
                -&nbsp;<a href="bobsley/">Тренеры по бобслею</a><br>
                -&nbsp;<a href="bodibilding">Тренеры по бодибилдингу</a><br>
                -&nbsp;<a href="bodifleks/">Тренеры по бодифлексу</a><br>
                -&nbsp;<a href="tennis.php">Тренеры по большому теннису</a><br>
                -&nbsp;<a href="borba/">Тренеры по борьбе</a><br>
                -&nbsp;<a href="bouling/">Тренеры по боулингу</a><br>

                <br>

                -&nbsp;<a href="veykbord/">Тренеры по вейкборду</a><br>
                -&nbsp;<a href="velosport/">Тренеры по велоспорту</a><br>
                -&nbsp;<a href="vin_chun/">Тренеры по вин чун</a><br>
                -&nbsp;<a href="vodnoe_polo/">Тренеры по водному поло</a><br>
                -&nbsp;<a href="volleyball.php">Тренеры по волейболу</a><br>

                <br>

                -&nbsp;<a href="handball.php">Тренеры по гандболу</a><br>
                -&nbsp;<a href="gymnastics.php">Тренеры по гимнастике</a><br>
                -&nbsp;<a href="golf/">Тренеры по гольфу</a><br>
                -&nbsp;<a href="greblya_na_baydarkah/">Тренеры по гребле на байдарках</a><br>
                -&nbsp;<a href="greppling/">Тренеры по грэпплингу</a><br>

                <br>

                -&nbsp;<a href="diving.php">Тренеры по дайвингу</a><br>
                -&nbsp;<a href="darts/">Тренеры по дартсу</a><br>
                -&nbsp;<a href="jiu-jitsu.php">Тренеры по джиу джитсу</a><br>
                -&nbsp;<a href="judo.php">Тренеры по дзюдо</a><br>

                <br>

                -&nbsp;<a href="zhonglirovanie/">Тренеры по жонглированию</a><br>

                <br>

                -&nbsp;<a href="kallanetika/">Тренеры по калланетике</a><br>
                -&nbsp;<a href="kapoeyra/">Тренеры по капоэйре</a><br>
                -&nbsp;<a href="karate.php">Тренеры по карате</a><br>
                -&nbsp;<a href="karting/">Тренеры по картингу</a><br>
                -&nbsp;<a href="kendo/">Тренеры по кендо</a><br>
                -&nbsp;<a href="kickboxing.php">Тренеры по кикбоксингу</a><br>
                -&nbsp;<a href="horse.php">Тренеры по конному спорту</a><br>
                -&nbsp;<a href="krossfit/">Тренеры по кроссфиту</a><br>
                -&nbsp;<a href="kudo/">Тренеры по кудо</a><br>
                -&nbsp;<a href="kung-fu/">Тренеры по кунг-фу</a><br>

                <br>

                -&nbsp;<a href="lakross/">Тренеры по лакроссу</a><br>
                -&nbsp;<a href="athletics.php">Тренеры по легкой атлетике</a><br>
                -&nbsp;<a href="lfk/">Тренеры по ЛФК</a><br>
                -&nbsp;<a href="lyzhi/">Тренеры по лыжам</a><br>
            </td>
            <td>
                -&nbsp;<a href="massazh/">Тренеры по массажу</a><br>
                -&nbsp;<a href="miksfayt/">Тренеры по миксфайту</a><br>
                -&nbsp;<a href="mini-futbol/">Тренеры по мини-футболу</a><br>
                -&nbsp;<a href="motokross/">Тренеры по мотокроссу</a><br>

                <br>

                -&nbsp;<a href="small_tennis.php">Тренеры по настольному теннису</a><br>
                -&nbsp;<a href="nozhevoy_boy/">Тренеры по ножевому бою</a><br>

                <br>

                -&nbsp;<a href="parkur/">Тренеры по паркуру</a><br>
                -&nbsp;<a href="parusnyy_sport/">Тренеры по парусному спорту</a><br>
                -&nbsp;<a href="pauerlifting/">Тренеры по пауэрлифтингу</a><br>
                -&nbsp;<a href="pilates.php">Тренеры по пилатесу</a><br>
                -&nbsp;<a href="poker/">Тренеры по покеру</a><br>
                -&nbsp;<a href="pryzhki_na_batute/">Тренеры по прыжкам на батуте</a><br>

                <br>

                -&nbsp;<a href="regbi/">Тренеры по регби</a><br>
                -&nbsp;<a href="rolikovye_konki/">Тренеры по роликовым конькам</a><br>

                <br>

                -&nbsp;<a href="savat/">Тренеры по савату</a><br>
                -&nbsp;<a href="samooborona/">Тренеры по самообороне</a><br>
                -&nbsp;<a href="serfing/">Тренеры по серфингу</a><br>
                -&nbsp;<a href="skvosh/">Тренеры по сквошу</a><br>
                -&nbsp;<a href="skeytbord/">Тренеры по скейтборду</a><br>
                -&nbsp;<a href="snowboard.php">Тренеры по сноуборду</a><br>
                -&nbsp;<a href="snuker/">Тренеры по снукеру</a><br>
                -&nbsp;<a href="sportivnoe_orientirovanie/">Тренеры по спортивному ориентированию</a><br>
                -&nbsp;<a href="strelba/">Тренеры по стрельбе</a><br>
                -&nbsp;<a href="stretching.php">Тренеры по стретчингу</a><br>
                -&nbsp;<a href="sumo/">Тренеры по сумо</a><br>

                <br>

                -&nbsp;<a href="taybo/">Тренеры по тайбо</a><br>
                -&nbsp;<a href="thai.php">Тренеры по тайскому боксу</a><br>
                -&nbsp;<a href="tayczicyuan/">Тренеры по тайцзицюаню</a><br>
                -&nbsp;<a href="treking/">Тренеры по трекингу</a><br>
                -&nbsp;<a href="triking/">Тренеры по трикингу</a><br>
                -&nbsp;<a href="turizm/">Тренеры по туризму</a><br>
                -&nbsp;<a href="taekwondo.php">Тренеры по тхэквондо</a><br>
                -&nbsp;<a href="tyazhelaya_atletika/">Тренеры по тяжелой атлетике</a><br>

                <br>

                -&nbsp;<a href="ulichnyy_boy/">Тренеры по уличному бою</a><br>
                -&nbsp;<a href="wushu.php">Тренеры по ушу</a><br>

                <br>

                -&nbsp;<a href="fencing.php">Тренеры по фехтованию</a><br>
                -&nbsp;<a href="figure.php">Тренеры по фигурному катанию</a><br>
                -&nbsp;<a href="ofp.php">Тренеры по физической культуре</a><br>
                -&nbsp;<a href="football.php">Тренеры по футболу</a><br>

                <br>

                -&nbsp;<a href="hodba/">Тренеры по ходьбе</a><br>
                -&nbsp;<a href="hokkey/">Тренеры по хоккею</a><br>

                <br>

                -&nbsp;<a href="cigun.php">Тренеры по цигун</a><br>

                <br>

                -&nbsp;<a href="chirliding/">Тренеры по чирлидингу</a><br>

                <br>

                -&nbsp;<a href="chess.php">Тренеры по шахматам</a><br>
                -&nbsp;<a href="shashki/">Тренеры по шашкам</a><br>
                -&nbsp;<a href="short-trek/">Тренеры по шорт-треку</a><br>
            </td>
        </tr>
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
