{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Танцы{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/tancy.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Танцы' %}
        {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <table border="0" width="100%">
        <tr valign="top">
            <td>
                -&nbsp;<a href="dubstep/">Инструкторы по dubstep</a><br>
                <br>
                -&nbsp;<a href="pole_dance/">Инструкторы по pole dance</a><br>
                <br>
                -&nbsp;<a href="r&b/">Инструкторы по R&B</a><br>
                <br>
                -&nbsp;<a href="akrobaticheskiy_rok-n-roll/">Инструкторы по акробатическому рок-н-роллу</a><br>
                <br>
                -&nbsp;<a href="balet/">Инструкторы по балету</a><br>
                -&nbsp;<a href="bachata/">Инструкторы по бачате</a><br>
                -&nbsp;<a href="breyk-dans/">Инструкторы по брейк-дансу</a><br>
                -&nbsp;<a href="bugi-vugi/">Инструкторы по буги-вуги</a><br>
                <br>
                -&nbsp;<a href="vals/">Инструкторы по вальсу</a><br>
                -&nbsp;<a href="east.php">Инструкторы по восточным танцам</a><br>
                <br>
                -&nbsp;<a href="gou_gou/">Инструкторы по гоу гоу</a><br>
                <br>
                -&nbsp;<a href="dzhaz-modern/">Инструкторы по джаз-модерну</a><br>
                -&nbsp;<a href="dzhaz-fank/">Инструкторы по джаз-фанку</a><br>
                -&nbsp;<a href="dzhayv/">Инструкторы по джайву</a><br>
                -&nbsp;<a href="disko/">Инструкторы по диско</a><br>
                <br>
                -&nbsp;<a href="zumba/">Инструкторы по зумбе</a><br>
                <br>
                -&nbsp;<a href="indiyskie_tancy/">Инструкторы по индийским танцам</a><br>
                <br>
                -&nbsp;<a href="club.php">Инструкторы по клубным танцам</a><br>
                <br>
                -&nbsp;<a href="lambada/">Инструкторы по ламбаде</a><br>
                -&nbsp;<a href="latina.php">Инструкторы по латиноамериканским танцам</a><br>
                -&nbsp;<a href="lezginka/">Инструкторы по лезгинке</a><br>
            </td>
            <td>
                -&nbsp;<a href="mamba/">Инструкторы по самбе</a><br>
                <br>
                -&nbsp;<a href="polka/">Инструкторы по польке</a><br>
                <br>
                -&nbsp;<a href="reggeton/">Инструкторы по реггетону</a><br>
                -&nbsp;<a href="rumba/">Инструкторы по румбе</a><br>
                <br>
                -&nbsp;<a href="salsa.php">Инструкторы по сальсе</a><br>
                -&nbsp;<a href="sving/">Инструкторы по свингу</a><br>
                -&nbsp;<a href="ballroom.php">Инструкторы по спортивным бальным танцам</a><br>
                -&nbsp;<a href="strip.php">Инструкторы по стриппластике</a><br>
                <br>
                -&nbsp;<a href="tango/">Инструкторы по танго</a><br>
                -&nbsp;<a href="belly.php">Инструкторы по танцу живота</a><br>
                -&nbsp;<a href="dance.php">Инструкторы по танцам</a><br>
                -&nbsp;<a href="tvist/">Инструкторы по твисту</a><br>
                -&nbsp;<a href="tektonik/">Инструкторы по тектонику</a><br>
                <br>
                -&nbsp;<a href="ulichnye_tancy/">Инструкторы по уличным танцам</a><br>
                <br>
                -&nbsp;<a href="flamenko/">Инструкторы по фламенко</a><br>
                -&nbsp;<a href="fokstrot/">Инструкторы по фокстроту</a><br>
                <br>
                -&nbsp;<a href="hastl/">Инструкторы по хастлу</a><br>
                -&nbsp;<a href="hip-hop/">Инструкторы по хип-хопу</a><br>
                -&nbsp;<a href="choreography.php">Инструкторы по хореографии</a><br>
                <br>
                -&nbsp;<a href="chachacha/">Инструкторы по чачача</a><br>
                -&nbsp;<a href="chechetka/">Инструкторы по чечетке</a><br>
                <br>
                -&nbsp;<a href="dance.php">Другие виды танцев</a><br>
            </td>
        </tr>
    </table>
{% endblock %}
