{% extends '../layouts/main.twig' %}

{% block title %}"Репетит-Центр" - Условия использования{% endblock %}

{% block style %}
    <style>
        #tutors p {
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Условия использования' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <section id="tutors">
            <p><b>1. Общие положения Пользовательского соглашения.</b></p>
            <div><br>
            </div>
            <p>1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие
                термины и определения: </p>
            <p>а) <b>Платформа</b> — программно-аппаратные средства, интегрированные с Сайтом Администрации; </p>
            <p>б) <b>Пользователь</b> — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в
                собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица. </p>
            <p>в) <b>Сайт Администрации/ Сайт</b> — интернет-сайты, размещенные в домене https://{{ env('DOMAIN') }} и
                его поддоменах. </p>
            <p>г) <b>Сервис</b> — комплекс услуг, предоставляемые Пользователю с использованием Платформы. </p>
            <p>д) <b>Соглашение</b> — настоящее соглашение со всеми дополнениями и изменениями. </p>
            <p>е) <b>Услуга</b> — основная услуга, предоставляемая Пользователю, заключающаяся в информировании
                Пользователя о репетиторах, зарегистрированным в базе данных сайта.</p>
            <div><br>
            </div>
            <p>1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных
                возможностей, включая: </p>
            <p>- просмотр размещенных на Сайте материалов; </p>
            <p>- регистрация и/или авторизация на Сайте, создает договор на условиях настоящего Соглашения в
                соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации. </p>
            <div><br>
            </div>
            <p>1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете,
                что: </p>
            <div><br>
            </div>
            <p>а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса. </p>
            <p>б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с
                вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с
                условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует
                незамедлительно прекратить любое использование Сервиса. </p>
            <p>в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо
                специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте
                Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено
                новой редакцией Соглашения. </p>
            <div><br>
            </div>
            <p><b>2. Общие условия пользования Сервисом </b></p>
            <div><br>
            </div>
            <p>2.1. Технические, организационные и коммерческие условия использования Сервиса, в том числе его
                функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или
                путем нотификации Пользователей. </p>
            <div><br>
            </div>
            <p>2.2. Основной Услугой Сервиса является подбор Пользователю репетитора. </p>
            <div><br>
            </div>
            <p>2.3. Услуга, заключающаяся в подборе репетитора, является бесплатной. </p>
            <div><br>
            </div>
            <p><b>3. Лицензия на использование Сайта и допустимое использование Сервиса </b></p>
            <div><br>
            </div>
            <p>3.1. Администрация предоставляет Пользователю право безвозмездного функционального использования
                Платформы и Сайта Администрации на условиях простой (неисключительной) непередаваемой лицензии в
                пределах функциональных возможностей Сервиса. </p>
            <div><br>
            </div>
            <p>3.2. Использование Платформы и (или) Сайта Администрации иными способами строго запрещены. </p>
            <div><br>
            </div>
            <p><b>4. Гарантии Пользователя </b></p>
            <div><br>
            </div>
            <p>Принимая условия настоящего Соглашения, вы подтверждаете и гарантируете, что: </p>
            <div><br>
            </div>
            <p>4.1. Вы обладаете всеми необходимыми правами и полномочиями для заключения Договора на использование
                Сервиса и его исполнения; </p>
            <div><br>
            </div>
            <p>4.2. Использование Сервиса будет осуществляться вами исключительно для целей, разрешенных настоящим
                Соглашением с соблюдением его положений, а равно требований применимого права и общепринятой
                практики; </p>
            <div><br>
            </div>
            <p>4.3. Вы не будете совершать каких-либо действий, которые вступают в противоречие или препятствуют
                предоставлению Сервиса или работе соответствующего оборудования, сетей, или программного обеспечения, с
                помощью которых предоставляется Сервис; </p>
            <div><br>
            </div>
            <p><b>5. Ограничения </b></p>
            <div><br>
            </div>
            <p>Соглашаясь с условиями настоящего Соглашения, вы понимаете и признаете, что: </p>
            <div><br>
            </div>
            <p>5.1. К отношениям сторон по предоставлению Сервиса на безвозмездной основе не подлежат применению
                положения законодательства о защите прав потребителей. </p>
            <div><br>
            </div>
            <p>5.2. Сервис предоставляется на условиях «как есть», в связи с чем вам не представляются какие-либо
                гарантии, что Сервис будет соответствовать вашим требованиям; услуги будут предоставляться непрерывно,
                быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Сервиса, будут
                точными и надежными; качество какого-либо продукта, услуги, информации и пользовательских материалов,
                полученных с использованием Сервиса, будет соответствовать вашим ожиданиям; все ошибки в программном
                обеспечении Сервиса будут исправлены. </p>
            <div><br>
            </div>
            <p>5.3. Пользователь принимает, что Администрация не отвечает за действия репетитора, подобранного
                Пользователю, в том числе за финансовые взаимоотношения Пользователя и репетитора, а также за качество
                оказываемых услуг репетитором. </p>
            <div><br>
            </div>
            <p>5.4. Всю ответственность за содержание материалов и соответствие его требованиям применимого права несет
                лицо, создавшее данные материалы и/или добавившее его на Сайт Администрации. </p>
            <div><br>
            </div>
            <p>5.5. Несмотря на установленный запрет, при использовании Сервиса вы можете получить материалы, которые
                можете счесть содержащими информацию оскорбительного или непристойного характера, а также в иной форме
                нарушающими применимое право, права и/или интересы третьих лиц. </p>
            <div><br>
            </div>
            <p>5.6. В случае обнаружения нарушения ваших прав и/или интересов в связи с предоставлением Сервиса, в том
                числе незаконных размещением материалов иным Пользователем, вам следует сообщить об этом Администрации.
                Для этого вам необходимо направить Администрации письменное уведомление с подробным изложением
                обстоятельств нарушения и гипертекстовой ссылкой на страницу Сайта, содержащую материалы, которыми
                нарушаются ваши права и/или интересы. </p>
            <div><br>
            </div>
            <p>5.7. В случае многократного или грубого нарушения условий настоящего Соглашения и/или требований
                законодательства, Администрация оставляет за собой право ограничить (прекратить) вам предоставление
                Сервиса. </p>
            <div><br>
            </div>
            <p>5.8. При любых обстоятельствах ответственность Администрации ограничена 1 000 (Одной тысячью) рублей и
                возлагается на него исключительно при наличии в ее действиях вины. </p>
            <div><br>
            </div>
            <p><b>6. Уведомления </b></p>
            <div><br>
            </div>
            <p>6.1. Вы соглашаетесь получать от Администрации на указанные при оставлении заявки на подбор репетитора на
                Сайте электронный адрес и телефон информационные сообщения (далее — «нотификаторы») о ходе подбора вам
                репетитора, сбора отзыва, важных событиях, происходящих в рамках Сайта или в связи с ним. </p>
            <div><br>
            </div>
            <p>6.2. Администрация вправе использовать нотификаторы для информирования Пользователя о возможностях
                Платформы и (или) Сайта Администрации и/или об изменении в размещенных на них информационных
                ресурсах. </p>
            <div><br>
            </div>
            <p>6.3. Вы соглашаетесь получать рассылку с любыми рекламно-информационными материалами от Администрации
                Сайта. </p>
            <div><br>
            </div>

            <p><b>7. Обработка персональных данных </b></p>
            <div><br>
            </div>
            <p>7.1. Администратор Сайта осуществляют обработку персональных данных Пользователя в соответствии с
                законодательством Российской Федерации и Политики в отношении обработки персональных данных
                пользователей интернет-сайта {{ env('DOMAIN') }} - <a href="/include/personal-data.php" target="_blank">{{ env('DOMAIN') }}/include/personal-data.php</a>.
            </p>
            <div><br>
            </div>
            <p>7.2. Пользователь до начала использования сайта обязан ознакомиться с Политикой в отношении обработки
                персональных данных пользователей интернет-сайта {{ env('DOMAIN') }} и случае несогласия с политикой
                прекратить использование сайта.</p>
            <div><br>
            </div>
            <p><b>8. Прочие условия </b></p>
            <div><br>
            </div>
            <p>8.1. Применимое право. Настоящее Соглашение, порядок его заключения и исполнения, а также вопросы, не
                урегулированные настоящим Соглашением, регулируется действующим законодательством Российской
                Федерации.</p>
            <div><br>
            </div>
            <p>8.2. Арбитраж. Все споры по Соглашению или в связи с ним подлежат рассмотрению в суде по месту нахождения
                Администрации в соответствии с действующим процессуальным правом Российской Федерации. </p>
            <div><br>
            </div>
            <p>8.3. Изменения. Настоящее Соглашение может быть изменено или прекращено Администрацией в одностороннем
                порядке без предварительного уведомления Пользователя и без выплаты какой-либо компенсации в связи с
                этим. </p>
            <div><br>
            </div>
            <p>8.4. Редакция Соглашения. Действующая редакция настоящего Соглашения размещена на Сайте Администрации и
                доступна в сети Интернет по адресу: https://{{ env('DOMAIN') }}/include/term-of-use.php. Редакция от
                «10» декабря 2014 г.</p>
        </section>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
