{% extends '../layouts/main.twig' %}

{% block title %}"Репетит-Центр" - О нас{% endblock %}

{% block metas %}
    <meta name="description" content="Информация о нашей компании. Свидетельства и сертификаты.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/us.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'О нас' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100 page_s1 us_1">
        <p>Сайт SPbRepetitor.ru работает с мая 2009 года, за это время более 30 000 человек нашли репетитора с нашей помощью. База репетиторов по Санкт-Петербургу насчитывает около 10 000 преподавателей. На сайте представлены анкеты репетиторов по общеобразовательным предметам, языкам (в том числе и редким), музыке, анкеты спортивных тренеров, логопедов и автоинструкторов. Мы работаем также и во многих крупных городах России:</p>

        <ul>
            <li><span><a href="https://repetit-center.ru">Москве</a>,</span></li>
            <li><span><a href="https://repetitor-nsk.com">Новосибирске</a>,</span></li>
            <li><span><a href="https://repetitor-ekt.com">Екатеринбурге</a>,</span></li>
            <li><span><a href="https://repetitor-kzn.com">Казани</a>,</span></li>
            <li><span><a href="https://repetitor-ufa.com">Уфе</a>.</span></li>
        </ul>

        <p>Мы используем инновации в области информационных технологий, организации администрирования ресурса, взаимодействия с учениками и преподавателями. Это позволяет оптимизировать расходы и сделать работу сайта более эффективной. Благодаря этому подбор репетитора для ученика бесплатен, а комиссия за услуги, взимаемая с репетитора остается неизменной с самого начала — стоимость одного занятия (что в среднем составляет 3-5% от всех заработанных репетитором денег, а потому не влияет на конечную стоимость занятий для ученика).</p>
        <p>Также мы собираем отзывы о всех наших репетиторах. Причем, мы собираем отзывы самостоятельно и только у учеников, которых репетитор нашел через наш сайт (это гарантирует защиту от недобросовестных репетиторов, размещающих ненастоящие отзывы). С репетиторами, получившими плохие оценки мы прекращаем сотрудничество.</p>
        <p>Если у вас есть какие-то вопросы о нашей деятельности или предложения о сотрудничестве, вы можете связаться с нами по электронной почте, указанной в разделе «<a href="contakts.php">Контакты</a>» или любым другим удобным способом.</p>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
