{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Вакансии{% endblock %}

{% block metas %}
    <meta name="description" content="Вакансии компании СПбРепетитор.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/vakansii.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Вакансии' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <p align="justify" style="color: #434343">
            1. <b>Администратор</b> - временно закрыта, но вы можете присылать свои резюме на адрес rabota@{{ env('DOMAIN') }}. Периодически открываются новые подобные вакансии и тогда мы рассмотрим ваше резюме.
            <br><br>Примерные обязанности администратора - обработка заявок клиентов, распределение их среди репетиторов, администрирование заказов
            <br><br>2. <b>Репетитор</b> - мы всегда открыты к партнерскому сотрудничеству с репетиторами. Зарегистрироваться как репетитор в нашей базе можно по ссылке - <a href="/include/registerform.php">https://{{ env('DOMAIN') }}/include/registerform.php</a>
            <br><br>3. <b>IT специалист</b> - закрыта.
        </p>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
