{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Вождение{% endblock %}

{% block metas %}
    <meta name="description" content="Вакансии компании СПбРепетитор.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/vozhdenie.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Вождение' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <table border="0" width="100%">
        <tr valign="top" align=center>
            <td>
                -&nbsp;<a href="akpp.php">АКПП</a><br><br>
            </td>
            <td>
                -&nbsp;<a href="mkpp.php">МКПП</a><br><br>
            </td>
            <td>
                -&nbsp;<a href="motoinstruktor.php">Мотоинструкторы</a><br><br>
            </td>
        </tr>
    </table>
{% endblock %}
