{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        Инструкторы по вождению на {{ car.manufacturer.name }} {{ car.name }}. Автоинструкторы на {{ car.manufacturer.name_eng }} {{ car.name_eng }} (Санкт-Петербург). Обучение и уроки вождения на {{ car.manufacturer.name }} {{ car.name }}.
    {% else %}
        Автоинструкторы по вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }})
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Индивидуальные уроки вождения на {{ car.manufacturer.name_eng }} {{ car.name_eng }} в Санкт-Петербурге. Автоинструкторы с ценами на занятие от 500 рублей/час. Инструкторы по вождению на {{ car.manufacturer.name }} {{ car.name }} с АКПП и МКПП в разных районах города. Обучение вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }}.">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ car.slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: car.manufacturer.name_eng ~ ' ' ~ car.name_eng, type: constant('Helper::CAR_INSTRUCTOR') }) }}
        {{ include('../components/h1.twig', { name: 'Инструкторы по вождению на ' ~ car.manufacturer.name ~ ' ' ~ car.name ~ ' в Санкт-Петербурге' }) }}

        <br><p class="rep_kol">Всего частных инструкторов по вождению на {{ car.manufacturer.name_eng }} {{ car.name_eng }} в СПб: {{ repetitors.total }}</p>
        <p class="s_text_info">
            Если Вас интересует обучение вождению на {{ car.manufacturer.name }} {{ car.name }} в
            Санкт-Петербурге и времени осуществлять поиск самостоятельно у Вас нет, Вы можете <a href="postform.php">написать</a>,
            какой именно инструктор Вам нужен, и администратор <strong>бесплатно</strong> подберет подходящие для Вас
            варианты. Для корректного подбора администратору нужно знать Ваши требования к преподавателю. Укажите цену,
            укажите тип коробки передач - АКПП или МКПП. Вам нужно, чтобы автоинструктор на {{ car.manufacturer.name_eng }}
            {{ car.name_eng }} недорого брал за свои занятия или же важнее его опыт (не секрет, что стоимость
            занятий более опытных инструкторов больше)? Укажите в каком районе должны проходить занятия. Это основные
            параметры для подбора. Частные уроки вождения на {{ car.manufacturer.name_eng }}
            {{ car.name_eng }} дают разные инструктора, но среди них вы можете выбрать наиболее подходящего.
        </p>
    </div>
    {{ Helper.helpButtons(constant('Helper::CAR_INSTRUCTOR')) }}
    <div class="main">
        {{ Helper.sortButtons(constant('Helper::CAR_INSTRUCTOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig', { index: loop.index, car: car }) }}
            {% endfor %}

            {{ repetitors.links('components.pagination')|raw }}

            {% if repetitors.currentPage == 1 and newCar is not null %}
                <font size="1"><br><p align="center"><strong>СПбРепетитор <a href="{{ newCar.slug }}.php">Частные инструкторы по вождению на {{ newCar.manufacturer.name }} {{ newCar.name }} (Санкт-Петербург)</a></strong></p></font>
            {% endif %}
        </section>
    </div>
    {{ Helper.searchSidebar(null, true) }}
{% endblock %}
