{% extends '../layouts/main.twig' %}

{% block title %}
{% if repetitors.currentPage == 1 %}
{#    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}.php">#}
{% else %}
{#    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}.php?start={{ (repetitors.currentPage - 1) * repetitors.perPage }}">#}
{% endif %}
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: breadcrumbs.last, type: breadcrumbs.type, array: breadcrumbs.items }) }}
        {{ include('../components/h1.twig', { name: header }) }}

        {% if totalText is not empty %}
            <p class="rep_kol" style="text-align:center;">{{ totalText|raw }}</p>
        {% endif %}

        {% if prependText is not empty %}
            <p class="s_text_info">{{ prependText|raw }}</p>
        {% endif %}
    </div>
    {{ Helper.helpButtons(constant('Helper::CAR_INSTRUCTOR')) }}
    <div class="main">
        {{ Helper.sortButtons(constant('Helper::CAR_INSTRUCTOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
        </section>
    </div>
    {{ Helper.searchSidebar(null, true) }}
{% endblock %}
