{% extends '../layouts/main.twig' %}

{% block title %}{{ seo.title|raw }}{% endblock %}

{% block metas %}{% if seo.description %}<meta name="description" content="{{ seo.description|raw }}">{% endif %}{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: breadcrumbs.last, type: breadcrumbs.type, array: breadcrumbs.items }) }}
        {{ include('../components/h1.twig', { name: header }) }}

        {% if totalText is not empty %}
            <p class="rep_kol" style="text-align:center;">{{ totalText|raw }}</p>
        {% endif %}

        {{ prependText|raw }}
    </div>
    {{ Helper.helpButtons(constant('Helper::CAR_INSTRUCTOR')) }}
    <div class="main">
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}

            {{ pagesAppendText|raw }}

            <font size="1"><br>
                <div class="perelink_bottom_seo">
                    <p><strong>{{ link|raw }}</strong></p>
                </div>
            </font>

            {{ include('../components/likes.twig') }}
        </section>
    </div>
    {{ Helper.searchSidebar(null, true) }}
{% endblock %}
