{% extends '../layouts/main.twig' %}

{% block title %}
{% if repetitors.currentPage == 1 %}
{#    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}.php">#}
{% else %}
{#    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}.php?start={{ (repetitors.currentPage - 1) * repetitors.perPage }}">#}
{% endif %}
{% endblock %}

{% block content %}
    <div class="lead">
    </div>
    {{ Helper.helpButtons(constant('Helper::CAR_INSTRUCTOR')) }}
    <div class="main">
        {{ Helper.sortButtons(constant('Helper::CAR_INSTRUCTOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
        </section>
    </div>
    {{ Helper.searchSidebar(null, true) }}
{% endblock %}
