{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск автоинструкторов по маркам машин Санкт-Петербурга{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/poisk-po-avto.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по маркам автомобилей', type: constant('Helper::CAR_INSTRUCTOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск инструкторов по вождению по маркам автомобилей Санкт-Петербурга:' }) }}
    </div>
    {% for car in cars %}
        <div>-&nbsp;<a href="{{ car.slug }}.php">{{ car.manufacturer ~ ' ' ~ car.name_eng }}</a></div>
    {% endfor %}
    {{ include('../components/likes.twig') }}
{% endblock %}
