{% extends '../layouts/main.twig' %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск инструкторов по вождению', type: constant('Helper::CAR_INSTRUCTOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск инструкторов по вождению' }) }}
        {{ include('../components/car-instructors/total-text.twig') }}
        {{ include('../components/car-instructors/prepend-text.twig') }}
    </div>
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::CAR_INSTRUCTOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
            {{ include('../components/likes.twig') }}
        </section>
    </div>
    {{ Helper.searchSidebar(null, true) }}
{% endblock %}
