{% extends '../layouts/main.twig' %}

{% block title %}Ваш отзыв о репетиторе {{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}{% endblock %}

{% block metas %}
    <meta name="description" content="Ваш отзыв о репетиторе {{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/response_add.php?id_rep={{ repetitor.id_users }}" >
{% endblock %}

{% block content %}
    <div class="lead resp_hide_1000">
        <div class="bread_ots">
            {{ include('../components/breadcrumbs.twig', { last: 'Оставить отзыв', type: 1, array: [{ url: repetitor.getLink(), title: repetitor.first_name ~ ' ' ~ repetitor.middle_name }] }) }}
        </div>
    </div>
    <div class="main width_100">
        <h1 class="header-through response-h1"><span>Ваш отзыв о репетиторе ( <a href="{{ repetitor.getLink() }}"><span style="padding:0;">{{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}</span></a> )</span></h1>
        <article class="anketa response_add">
            <div class="anketa-photo">
                <div class="anketa-photo_image">
                    <img src="{{ repetitor.getPhoto() }}" alt="{{ repetitor.getPrefixName() ~ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}">
                </div>
                <div class="anketa-number_in_base">Анкета № {{ repetitor.id_users }}</div>
            </div>
            <div class="anketa-body">
                <div class="anketa-body_info">
                    {% if session_has('success') %}
                        {{ session_get('success')|raw }}
                    {% else %}
                        <form class="response_add_0 form" action="response_add.php?id_rep={{ repetitor.id_users }}" method="post">
                            {{ csrf_field() }}
                            <p class="response_add_p_1">
                                Понравились ли вам занятия?<br><br>
                                Удалось ли достичь поставленного результата? Каков был этот результат (сдали ЕГЭ на 100 баллов, научились играть на гитаре, водить, ваш ребенок стал получать хорошие оценки по предмету и т.д.)? Намного ли он лучше того с чем начинали заниматься?<br><br>
                                Как оцениваете личные качества преподавателя? Доступно ли объясняет? Пунктуален ли, приятен в общении?<br><br>
                                Можете ли отметить какие-то иные особенности? Например, необычную и интересную методику преподавания или что-то еще.
                            </p>
                            <p><textarea name="comment" rows="8" placeholder="Пожалуйста, постарайтесь ответить на вопросы" required></textarea></p>
                            <div class="mark">
                                <span style="font-size:20px;">Оценка</span><br><br>
                                {% set marks = [1, 2, 3, 4, 5] %}
                                {% for mark in marks %}
                                    <input type="radio" name="rating" value="{{ mark }}" id="mark_{{ mark }}" required><label for="mark_{{ mark }}" class="{{ mark == 5 ? 'mark_last' : mark == 1 ? 'mark_first' : '' }}">{{ mark }}</label>
                                {% endfor %}
                            </div>
                            <div class="mark_contact">
                                <div>
                                    <input placeholder="Имя" value="" type="text" name="name" required>
                                </div>
                                <div>
                                    <input placeholder="Телефон" value="" type="text" name="phone" required>
                                </div>
                                <div class="mark_inf">
                                    Ваше имя и телефон помогут нам подтвердить достоверность отзыва
                                </div>
                                <input type="submit" value="Отправить" class="btn button_1">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('.main input[name="phone"]').inputmask("+7 (999) 999-99-99");
</script>
{% endblock %}
