{% extends '../layouts/main.twig' %}

{% if course.id_courses_categories == constant('App\\Models\\CoursesCategories::SPORT_DISCIPLINES') or course.id_courses_categories == constant('App\\Models\\CoursesCategories::DANCE') %}
    {% set name_first = 'тренерах по ' ~ course.recommend_name %}
    {% set name_second = 'тренере по ' ~ course.recommend_name %}
    {% set name_third = 'тренера' %}
    {% set name_fourth = 'тренерами' %}
{% elseif course.id_courses_categories == constant('App\\Models\\CoursesCategories::LOGOPEDICS') %}
    {% set name_first = 'логопедах' %}
    {% set name_second = 'логопеде' %}
    {% set name_third = 'логопеда' %}
    {% set name_fourth = 'логопедами' %}
{% else %}
    {% set name_first = 'репетиторах по ' ~ course.recommend_name %}
    {% set name_second = 'репетиторе по ' ~ course.recommend_name %}
    {% set name_third = 'репетитора' %}
    {% set name_fourth = 'репетиторами' %}
{% endif %}

{% block title %}
    {% if course.id_courses_categories == constant('App\\Models\\CoursesCategories::LOGOPEDICS') %}
        {% if reviews.currentPage == 1 %}
            Отзывы о логопедах для детей и взрослых {{ course.seo.emoji }} (Санкт-Петербург)
        {% else %}
            Отзывы о преподавателях по {{ course.recommend_name }} (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }}) - "Репетит-Центр"
        {% endif %}
    {% else %}
        {% if reviews.currentPage == 1 %}
            Отзывы о {{ name_first }} {{ course.seo.emoji }} (Санкт-Петербург)
        {% else %}
            Отзывы о преподавателях по {{ course.recommend_name }} (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }}) - "Репетит-Центр"
        {% endif %}
    {% endif %}
{% endblock %}

{% block metas %}
    {% if course.id_courses_categories == constant('App\\Models\\CoursesCategories::LOGOPEDICS') %}
        {% if reviews.currentPage == 1 %}
            <meta name="description" content="Отзывы о логопедах из Санкт-Петербурга и ЛО. Более 12 000 отзывов о репетиторах!">
        {% else %}
            <meta name="description" content="Отзывы о логопедах (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }})">
        {% endif %}
    {% else %}
        {% if reviews.currentPage == 1 %}
            {% if course.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::SPORT_DISCIPLINES') or course.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::DANCE') %}
                <meta name="description" content="Отзывы о тренерах по {{ course.recommend_name }} из Санкт-Петербурга и ЛО. &#11088;Более 30 000 отзывов!&#11088; Более 20 000 анкет преподавателей. Читайте на сайте Repetit-Center.ru!">
            {% else %}
                <meta name="description" content="Отзывы о репетиторах по {{ course.recommend_name }} из Санкт-Петербурга и ЛО. &#11088;Более 30 000 отзывов!&#11088; Более 20 000 анкет преподавателей. Читайте на сайте Repetit-Center.ru!">
            {% endif %}
        {% else %}
            <meta name="description" content="Отзывы о преподавателях по {{ course.recommend_name }} (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }}).">
        {% endif %}
    {% endif  %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}/otzyvy.php{{ reviews.currentPage > 1 ? '?start=' ~ (reviews.currentPage - 1) * reviews.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% if reviews.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: 'Отзывы', type: constant('Helper::REPETITOR'), array: [{ url: '/include/' ~ course.slug_second ~ '.php', title: course.name }] }) }}
            {{ include('../components/h1.twig', { name: 'Отзывы о ' ~ name_first ~ ' (Санкт-Петербург)' }) }}
        {% else %}
            {% set breadcrumbs = [
                { url: '/include/' ~ course.slug_second ~ '.php', title: course.name },
                { url: '/include/' ~ course.slug ~ '/otzyvy.php', title: 'Отзывы' }
            ] %}
            {{ include('../components/breadcrumbs.twig', { last: 'Отзывы с ' ~ reviews.firstItem ~ ' по ' ~ reviews.lastItem, type: constant('Helper::REPETITOR'), array: breadcrumbs }) }}
        {% endif %}

        <p class="rep_kol">Всего <span>{{ reviews.total }}</span> {{ 'отзыв'|plural_word(reviews.total, '|а|ов') }}</p>
        {% if reviews.currentPage == 1 %}
            <p align="justify">&#8194;&#8194;Отзывы о {{ name_first }} собираются у учеников, которые
                нашли {{ name_third }} именно через наш сайт, посредством электронной почты и телефонных звонков нашего
                сотрудника. <b>Непроверенные отзывы</b> о {{ name_first }} (то есть присланные с неизвестных адресов или
                представленные самими {{ name_fourth }}) <b>не публикуются</b>.
                <br>&#8194;&#8194;Если же вы ученик какого-либо {{ name_third }} и нашли его на нашем сайте, то пишите
                нам на <b>feedback@{{ env('DOMAIN') }}</b>, по возможности, с той почты, с которой оставляли заявку. Это
                нужно для того, чтобы мы могли подтвердить, что этот отзыв действительно ваш. Пожалуйста, не забудьте
                указать в письме номер анкеты {{ name_third }} с которым вы занимались (он расположен под
                фото {{ name_third }}).</p>
        {% endif %}
    </div>
    <div class="main width_100">
        <section id="response_lern">
            {% for review in reviews %}
                {{ include('../components/reviews/reviews-account') }}
            {% endfor %}

            {{ reviews.links('components.pagination')|raw }}

            {% if reviews.currentPage == 1 %}
                {% if newCourse %}
                    <br><font size=1><p align="center">Также рекомендуем посмотреть - <a href="/include/{{ newCourse.slug }}/otzyvy.php">отзывы о репетиторах по {{ newCourse.recommend_name }}.</a>.</p></font>
                {% endif %}
            {% else %}
                {% set start = (reviews.currentPage / 10) % 9 %}
                <br><font size=1><p align="center">
                    {% if start == 1 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о репетиторах по {{ course.recommend_name }} в Санкт-Петербурге</a>.
                    {% elseif start == 2 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о репетиторах {{ course.recommend_name_second }}</a>.
                    {% elseif start == 3 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о преподавателях по {{ course.recommend_name }}</a>.
                    {% elseif start == 4 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о преподавателях {{ course.recommend_name_second }}</a>.
                    {% elseif start == 5 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о репетиторах по {{ course.recommend_name }} в г. Санкт-Петербург</a>.
                    {% elseif start == 6 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">репетиторы по {{ course.recommend_name }} - отзывы</a>.
                    {% elseif start == 7 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о учителях по {{ course.recommend_name }}</a>.
                    {% elseif start == 8 %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">репетитор по {{ course.recommend_name }}, отзывы</a>.
                    {% else %}
                        Также рекомендуем посмотреть - <a href="otzyvy.php">отзывы о репетиторах по {{ course.recommend_name }}</a>.
                    {% endif %}
                </p></font>
            {% endif %}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
