{% extends '../layouts/main.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
    <link rel="canonical" href="{{ canonical }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: header, type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: header }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_block search-alf_width_33 search-alf_uniqs">
            {% for course in courses %}
                {% if loop.index % 3 == 1 %}<div><ul>{% endif %}
                <li><a href="{{ course.slug }}/otzyvy.php">{{ course.name }}</a></li>
                {% if loop.index % 3 == 0 or courses|length == loop.index %}</ul></div>{% endif %}
            {% endfor %}
        </div>
        <section id="tutors">
            {{ include('../components/likes.twig') }}
        </section>
    </div>
{% endblock %}
