{% extends '../layouts/main.twig' %}

{% block title %}
    {% if reviews.currentPage == 1 %}
        Отзывы о репетиторах &#128270; - "СПбРепетитор"
    {% else %}
        Отзывы о репетиторах (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }}) - "СПбРепетитор"
    {% endif %}
{% endblock %}

{% block metas %}
    <meta name="description" content="Отзывы о репетиторах Санкт-Петербурга и ЛО. &#11088;Более 30 000 отзывов!&#11088; Отзывы по математике, физике, русскому, английскому языку и другим предметам (более 300 предметов) на Spbrepetitor.ru.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/otzyv.php{{ reviews.currentPage > 1 ? '?start=' ~ (reviews.currentPage - 1) * reviews.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% if reviews.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: 'Отзывы о репетиторах', type: constant('Helper::REPETITOR') }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Отзывы о репетиторах c ' ~ reviews.firstItem ~  ' по ' ~ reviews.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: 'otzyv.php', title: 'Отзывы о репетиторах' }] }) }}
        {% endif %}

        {{ include('../components/h1.twig', { name: 'Отзывы о репетиторах' }) }}

        <p class="rep_kol">Всего <span>{{ reviews.total }}</span> {{ 'отзыв'|plural_word(reviews.total, '|а|ов') }}</p>
        <p class="s_text_info">&ensp;&ensp;Отзывы собираются у учеников, которые нашли репетитора именно через наш сайт, посредством электронной почты и телефонных звонков нашего сотрудника. <b>Непроверенные отзывы о репетиторах</b> (то есть присланные с неизвестных адресов или представленные самими репетиторами) <b>не публикуются</b>. Страницу с разбиением отзывов по предметам можно посмотреть <a href="otzyvy.php">тут</a>.
        <br>&ensp;&ensp;Если же вы ученик какого-либо репетитора и нашли его на нашем сайте, то пишите нам на <!--<img src=img/feedback.jpg height=15 width=151>--><b>feedback@{{ env('DOMAIN') }}</b>, по возможности, с той почты, с которой оставляли заявку. Это нужно для того, чтобы мы могли подтвердить, что этот отзыв действительно ваш. Пожалуйста, не забудьте указать в письме номер анкеты репетитора с которым вы занимались (он расположен под фото репетитора).</p>
    </div>
    <div class="main width_100">
        <section id="response_lern">
            {% for review in reviews %}
                {{ include('../components/reviews/reviews-account') }}
            {% endfor %}
            {{ reviews.links('components.pagination')|raw }}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
