{% extends '../layouts/main.twig' %}

{% set responder = not repetitor.is_car_instructor ? 'репетиторе' : 'автоинструкторе' %}
{% set cities = [] %}

{% if repetitor.city.name %}
    {% set cities = cities|merge([repetitor.city.name])  %}
{% endif %}

{% if repetitor.citySecond.name %}
    {% set cities = cities|merge([repetitor.citySecond.name])  %}
{% endif %}

{% if repetitor.cityThird.name %}
    {% set cities = cities|merge([repetitor.cityThird.name])  %}
{% endif %}

{% if repetitor.cityFourth.name %}
    {% set cities = cities|merge([repetitor.cityFourth.name])  %}
{% endif %}

{% set ordersCount = repetitor.getOrdersCount() %}
{% set reviewsCount = repetitor.reviewsCount() %}

{% block title %}{{ repetitor.getLastName() ~ repetitor.first_name ~ ' ' ~ repetitor.middle_name }} (отзывы о {{ responder }}). Санкт-Петербург{{ cities|length > 0 ? ' и ' ~ cities|join(', ') : '' }}. Отзывы о преподавателях на сайте {{ env('DOMAIN') }}!{% endblock %}

{% block metas %}
    <meta itemprop="image" content="https://{{ env('DOMAIN') }}{{ repetitor.getPhoto() }}">

    {% if ordersCount > 1 and reviewsCount > 1 %}
        {% set rating = repetitor.getTotalRating() %}

        {% if rating > 0 %}
            {% set text = ' Средняя оценка учеников по отзывам - ' ~ rating ~ '.' %}
        {% endif %}

        {% set text = text ~ ' С сайта к ' ~ repetitor.getPrefixName(true)|lower|trim ~ 'у обратилось более ' ~ ordersCount ~ ' ученик'|plural_word(ordersCount, '|а|ов') ~ ', которые оставили ' ~ reviewsCount ~ ' отзыв'|plural_word(reviewsCount, '|а|ов') ~ '.' %}
    {% endif %}

    <meta name="description" content="Страница отзывов о {{ repetitor.getPrefixName(true)|lower|trim }}е ({{ repetitor.getLastName() ~ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}).{{ text }}">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/response.php?id_rep={{ repetitor.id_users }}" >
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Отзывы о ' ~ responder, type: type, array: [{ url: repetitor.getLink(), title: repetitor.first_name ~ ' ' ~ repetitor.middle_name }] }) }}
    </div>
    <div class="main width_100" itemscope itemtype="http://schema.org/LocalBusiness">
        <h1 class="header-through response-h1">
            <span>Отзывы о {{ responder }} (
                <a href="{{ repetitor.getLink() }}">
                    <span style="padding:0;" itemprop="name">{{ repetitor.getLastName() ~ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}</span>
                </a>
            )</span>
        </h1>
        <article id="tutor" class="anketa response">
            {% if reviewsCount > 0 %}
                <div class="response-title_1"><h6>Статистика отзывов {{ responder }}</h6></div>
                <div class="bl-response_stats">
                    {% set count = reviewsCount / 99 %}
                    {% for key, value in statistics %}
                        {% set width = (value/count + 1)|number_format(2) %}
                        <div class="r-reit_row">
                            <div style="width: {{ width }}%">
                                <div class="r-bl_1">{{ key }}</div>
                                <div class="r-bl_2 r-bl_bg_{{ key }}"></div>
                                <div class="r-bl_3">{{ value }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="response-title_2"><h6>Отзывы <span>({{ reviewsCount }})</span></h6></div>
            <div class="bl-response_block">
                {% for review in reviews %}
                    {% set class = review.date|date('Y') <= 2012 ? 'bl-response_icon_pen' : 'bl-response_icon_phone' %}
                    <div class="bl-response_item {{ class }}" itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <div class="bl-response_repetitor">
                            <span class="bl-response_name">{{ review.user.first_name ~ ' ' ~ review.user.middle_name }}</span>
                            {% if review.order.course.name %}
                                <span class="bl-response_lern">({{ review.order.course.name }})</span>
                            {% endif %}
                        </div>
                        <div class="bl-response_rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span class="bl-response_rating_1">Оценка:</span>
                            <span class="bl-response_rating_2" itemprop="ratingValue">{{ review.rating }}</span>
                            <meta itemprop="worstRating" content="1">
                            <meta itemprop="bestRating" content="5">
                        </div>
                        <div class="bl-response_text s_text_info" itemprop="description">
                            {{ review.comment }}
                            {% if review.response %}
                                <div style="display:block; margin-top:10px;" class="otzyv_response"><strong>Комментарий преподавателя:</strong> {{ review.response }}</div>
                            {% endif %}
                        </div>
                        <div class="bl-response_uchenik"><span itemprop="author">{{ review.name }}</span></div>
                        <div class="bl-response_info">
                            <span>
                                <meta itemprop="datePublished" content="{{ review.date }}">
                                {{ review.date|localizeddate('long', 'none', 'ru_RU') }}
                                {{ review.order.id_orders ? ', № ' ~ review.order.id_orders : '' }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="bl-response_addblock">Отзывы собираются у учеников, которые нашли репетитора именно через наш сайт, посредством электронной почты и телефонных звонков нашего сотрудника. <b>Непроверенные отзывы</b> (то есть присланные с неизвестных адресов или представленные самими репетиторами) <b>не публикуются.</b></div>
            <div class="bl-response_buttons"><a href="/include/{{ repetitor.getLink() }}" class="button_3 button_return_ank"><span>Вернуться в анкету</span></a></div>
            <div class="bl-response_social">
                {% set list = [] %}

                {% if repetitor.course.name %}
                    {% set list = list|merge([repetitor.course.name]) %}
                {% endif %}

                {% if repetitor.courseSecond.name %}
                    {% set list = list|merge([repetitor.courseSecond.name]) %}
                {% endif %}

                {% if repetitor.courseThird.name %}
                    {% set list = list|merge([repetitor.courseThird.name]) %}
                {% endif %}

                {% if repetitor.courseFourth.name %}
                    {% set list = list|merge([repetitor.courseFourth.name]) %}
                {% endif %}

                <div class="text">Поделиться отзывами:</div>
                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="//yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki" data-yashareTitle="{{ repetitor.getPrefixName() ~ repetitor.name ~ ' ' ~ repetitor.middle_name }}" data-yashareImage="{{ repetitor.getPhoto(true) }}" data-yashareLink="https://{{ env('DOMAIN') }}/include/{{ repetitor.getLink() }}" data-yashareDescription="{{ list|unique|join(', ') }}"></div>
            </div>
            <br>
            <font face=tahoma color=838383 style="font-size: 8pt;">
                <br>
                <p align="left">
                    <b>Также рекомендуем посмотреть анкеты преподавателей, которые могут Вас заинтересовать:</b>
                    {{ links|raw }}
                </p>
            </font>
        </article>
    </div>
{% endblock %}
