{% extends '../layouts/main.twig' %}

{% block title %}
    {% if reviews.currentPage == 1 %}
        Отзывы об инструкторах по вождению мотоцикла, отзывы о мотоинструкторах в Санкт-Петерубрге
    {% else %}
        Отзывы об автоинструкторах (отзывы с {{ reviews.firstItem }} по {{ reviews.lastItem }}) - "СПбРепетитор"
    {% endif %}
{% endblock %}

{% block metas %}
    {% if reviews.currentPage != 1 %}
        <meta name="description" content="Достоверные отзывы об инструкторах по вождению машины из СПб. Мы собираем отзывы только у реальных учеников, обратившихся к автоинструктору через наш сайт.">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/otzyvy_ob_avtoinstruktorah.php{{ reviews.currentPage > 1 ? '?start=' ~ (reviews.currentPage - 1) * reviews.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% if reviews.currentPage == 1 %}
            {% set title = 'Отзывы об инструкторах по вождению' %}
            {{ include('../components/breadcrumbs.twig', { last: title, type: constant('Helper::REPETITOR') }) }}
            {{ include('../components/h1.twig', { name: title }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Отзывы с ' ~ reviews.firstItem ~ ' по ' ~ reviews.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: 'otzyvy_ob_avtoinstruktorah.php', title: 'Отзывы об инструкторах по вождению' }] }) }}
        {% endif %}

        <p class="rep_kol">Всего <span>{{ reviews.total }}</span> {{ 'отзыв'|plural_word(reviews.total, '|а|ов') }}</p>
        <p>Отзывы об автоинструторах собираются у учеников, которые нашли автоинструктора именно через наш сайт,
            посредством электронной почты и телефонных звонков нашего сотрудника. Непроверенные отзывы об инструкторах
            по вождению (то есть присланные с неизвестных адресов или представленные самими инструкторами) не
            публикуются. Сбор отзыва происходит обычно через несколько месяцев после начала занятий.</p>
    </div>
    <div class="main width_100">
        <section id="response_lern">
            {% for review in reviews %}
                {{ include('../components/reviews/reviews-account', { page: reviews.currentPage, index: loop.index }) }}
            {% endfor %}

            {{ reviews.links('components.pagination')|raw }}

            {% if reviews.currentPage == 1 %}
                <p align="center" style="font-size: 7pt"><strong>СПбРепетитор - <a href="otzyvy_o_motoinstruktorah.php">отзывы о мотоинструкторах</a></strong></p>
            {% else %}
                <p align="center" style="font-size: 7pt"><strong>СПбРепетитор - <a href="otzyvy_ob_avtoinstruktorah.php">
                    {% if reviews.currentPage / 10 % 2 == 0 %}
                        отзывы об автоинструкторах
                    {% else %}
                        отзывы об инструкторах по вождению
                    {% endif %}
                </a></strong>
            {% endif %}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
