<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html lang="ru" class="no-js"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {{ include('../components/head/links.twig') }}

    <title>404</title>
</head>
<body>
    {% block content %}{% endblock %}

    {{ include('../components/footer.twig') }}

    <script src="/assets/js/application.js"></script>
{#  TODO: <script>#}

{#        request = '<?php echo $_SERVER['QUERY_STRING'];?>';#}
{#        request = '?'+request;#}
{#        stranica = '<?php echo $_SERVER['REQUEST_URI'];?>';#}
{#        stranica = stranica.replace(/\?.*$/, '', stranica);#}
{#        stranica = stranica.replace(/.*\//, '', stranica);#}

{#        $(document).ready(function() {#}

{#            var location = window.history.location || window.location;#}

{#            $.get('/include/form_ajax_index.php'+request).done(function(data) {#}
{#                $('.form_preloader').remove();#}
{#                $('#search').append(data);#}
{#                init();#}
{#            });#}
{#            $(".tabs").lightTabs();#}

{#        <?php echo $jquery_ready_z4; ?>#}
{#        });#}

{#    </script>#}
</body>
</html>


