<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html lang="ru" class="no-js"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {# OpenGraph #}
    {% if app.request.requesturi matches '#^\/include\/profrep\.php#' %}
        <meta property="og:image" content="https://{{ env('DOMAIN') }}/include/og_img.php?id={{ repetitor.id_users }}">
    {% else %}
        <meta property="og:image" content="https://{{ env('DOMAIN') }}/include/og_img.php">
    {% endif %}

    {% block metas %}{% endblock %}

    {{ include('../components/head/links.twig') }}
    {% block links %}{% endblock %}

    <title>{% block title %}"СПбРепетитор" - База репетиторов Санкт-Петербурга{% endblock %}</title>

    <style>
        .ya-page_js_yes .ya-site-form_inited_no {
            display: none;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
    <div id="vk_api_transport"></div>
    <div id="fb-root"></div>

    <header role="banner" class="header_border">
        {% if Cookie.has('device') %}
            {#  TODO: <?php echo $go_mobile; ?>#}
        {% endif %}
        <div class="inner clearfix">
            <div class="head_panel">
                <div class="h_resp_menu_link" onclick=""></div>
                <div class="h_logo">
                    <a href="/"><img src="/assets/img/logo.png" alt=""></a>
                </div>
                <div class="h_region">
                    <a id="gorod_link" data-city="{{ env('CITY_ID') }}" data-country="{{ env('COUNTRY_ID') }}" href="javascript:void(0);">
                        <span class="h_region_img"></span>
                        <span class="h_region_name">{{ env('CITY_NAME') }}</span>
                        <span class="h_spoiler"></span>
                    </a>
                </div>
                <div class="h_colresp_1">
                    <div class="h_phone">
                        <a href="tel:{{ env('PHONE') }}"><span>{{ env('PHONE') }}</span></a>
                    </div>
                    <div class="h_search">
                        {{ include('../components/yandex-search.twig') }}
                    </div>
                    {{ Helper.favourites() }}
                </div>
                <div class="h_login">
                    <a id="sign_in_link" href="javascript:void(0);"><span>Вход для репетитора</span></a>
                </div>
            </div>
        </div>
        <div class="inner clearfix hm_border">
            {{ include('../components/menu.twig') }}
        </div>
    </header>

    <div id="content" class="{% block content_class %}inner{% endblock %} clearfix" {% block content_scheme %}{% endblock %}>
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {{ include('../components/footer.twig') }}
    {% endblock %}

    {{ Helper.countries }}

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-68522110-1" async></script>
    <script>!function(){var t=document.createElement("script");t.async=true,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-293706-9XY47"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-293706-9XY47" style="position:fixed; left:-999px;" alt=""></noscript>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)};i[r].l=1*new Date();a=s.createElement(o);
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68522110-1', 'auto');
        ga('send', 'pageview');

        window.___gcfg = { lang: 'ru' };
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-68522110-1');

        // VK
        window.vkAsyncInit = function () {
            VK.init({apiId: 3945833, onlyWidgets: true});
            if (document.getElementById('vk_like')) VK.Widgets.Like("vk_like", {type: "button", height: 20, pageUrl: "https://spbrepetitor.ru"});
        };

        // Facebook
        (function (d, s, id) {
            var js,fjs=d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;js=d.createElement(s);js.id=id;js.async=true;
            js.src="//connect.facebook.net/ru_RU/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);
        }(document,"script","facebook-jssdk"));

        // Owl Carousel
        $('.owl-carousel').owlCarousel({loop:false,margin:0,items:1,rewind:false,nav:true,dots:true,checkVisible:true,navText:''});
    </script>

    <!-- Yandex.Metrika counter -->
    <script>
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments);
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = true, k.src = r, a.parentNode.insertBefore(k, a);
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(10151101, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/10151101" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script>
        if($(window).width() >= 1000){(function(){ var widget_id = '9XCHwkHVl2';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
            s.src = '//code.jivosite.com/script/widget/'+widget_id
            ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}
            if(d.readyState==='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}
            else{w.addEventListener('load',l,false);}}})();}
    </script>
    <!-- {/literal} END JIVOSITE CODE -->

    {% block scripts %}{% endblock %}

    <script>
        $(document).ready(function() {

        });
    </script>

{#    <script>#}
{#  TODO:      request = '<?php echo $_SERVER['QUERY_STRING'];?>';#}
{#        request = '?'+request;#}
{#        stranica = '<?php echo $_SERVER['REQUEST_URI'];?>';#}
{#        stranica = stranica.replace(/\?.*$/, '', stranica);#}
{#        stranica = stranica.replace(/.*\//, '', stranica);#}

{#        $(document).ready(function() {#}
{#        <?php#}
{#            if($pr_osn) $id_predmet=$pr_osn;#}
{#            if(($avtoinstruktor or strpos($_SERVER['REQUEST_URI'],'avto') !== false) AND $_SERVER['REQUEST_URI'] != '/include/avtozavodskaya.php') {#}
{#                    ?>#}
{#                $.get('/include/form_ajax_a.php'+request, { metro: '<?php echo $id_metro; ?>', gorod: '<?php echo $id_gorod; ?>', kpp: '<?php echo $type_kpp; ?>', stranica: stranica }).done(function(data) {#}
{#                    $('.form_preloader').remove();#}
{#                    search_option_block(2);#}
{#                    $('#search').append(data);#}
{#                    init();#}
{#                });#}
{#            <?php } else {?>#}
{#                $.get('/include/form_ajax.php'+request, { metro: '<?php echo $m_1; ?>', gorod: '<?php echo $g_1; ?>', predmet: '<?php echo $id_predmet; ?>', idLern: '<?php echo $idLern; ?>', metro_fix: '<?php echo $metro_fix; ?>', vuz: '<?php echo $vuz_1; ?>', stranica: stranica }).done(function(data) {#}
{#                    $('.form_preloader').remove();#}
{#                    search_option_block(1);#}
{#                    $('#search').append(data);#}
{#                    init();#}
{#                });#}
{#            <?php }?>#}
{#            $("#wc_button").click();#}
{#        });#}
{#    </script>#}

{#    <?#}
{#if($list_r_id) //карта районов авто#}
{#    include_once $_SERVER['DOCUMENT_ROOT']."/include/avto_raion.php";#}

{#if($list_m_id) //карта метро репов#}
{#    include_once $_SERVER['DOCUMENT_ROOT']."/include/rep_metro.php";#}
{#?>#}
</body>
</html>
