{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Восстановление пароля{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/email_check.php">
{% endblock %}

{% block content %}
<div class="lead">
    <p style="text-align: center; color: #434343; padding-top: 50px;">
        {% if session_has('error') %}
            {{ session_get('error') }}
        {% else %}
            {{ session_get('success') }}
        {% endif %}
    </p>
</div>
{% endblock %}
