{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Восстановление пароля{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/remember_pass.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Восстановление пароля' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <form action="/include/email_check.php" method="post" class="form">
            {{ csrf_field() }}
            <p class="forgot-hint">Введите электронный адрес, который указывали при регистрации:</p>
            <input type="text" placeholder="Электронная почта" name="email" style="max-width: 304px; margin: 0 0 20px 0;">
            <div class="g-recaptcha" data-sitekey="6LfYoAsTAAAAAPMfrfX0YAJA2kOpm-rEiVz6YvKQ"></div>
            <input type="submit" value="отправить" class="button_1" style="margin: 20px 0 0 0;">
        </form>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
