{% extends '../layouts/main.twig' %}

{# Собираем список всех доступных городов #}
{% set cities = ['Санкт-Петербург'] %}

{% if repetitor.city.name %}
    {% set cities = cities|merge([repetitor.city.name]) %}
{% endif %}

{% if repetitor.citySecond.name %}
    {% set cities = cities|merge([repetitor.citySecond.name]) %}
{% endif %}

{% if repetitor.cityThird.name %}
    {% set cities = cities|merge([repetitor.cityThird.name]) %}
{% endif %}

{% if repetitor.cityFourth.name %}
    {% set cities = cities|merge([repetitor.cityFourth.name]) %}
{% endif %}

{% set cities = cities|unique|join(', ') %}

{# Собираем список всех доступных метро #}
{% set metro = [] %}

{% if repetitor.metro.name %}
    {% set metro = metro|merge([repetitor.metro.name]) %}
{% endif %}

{% if repetitor.metroSecond.name %}
    {% set metro = metro|merge([repetitor.metroSecond.name]) %}
{% endif %}

{% set metro = metro|unique|join(', ') %}

{# Список предметов #}
{% set courses = [] %}

{% if repetitor.course.name %}
    {% set courses = courses|merge([repetitor.course.name]) %}
{% endif %}

{% if repetitor.courseSecond.name %}
    {% set courses = courses|merge([repetitor.courseSecond.name]) %}
{% endif %}

{% if repetitor.courseThird.name %}
    {% set courses = courses|merge([repetitor.courseThird.name]) %}
{% endif %}

{% if repetitor.courseFourth.name %}
    {% set courses = courses|merge([repetitor.courseFourth.name]) %}
{% endif %}

{% set coursesCount = courses|length %}
{% set courses = courses|unique|join(', ') %}

{# Список машин #}
{% set cars = [] %}

{% if repetitor.car.name_eng %}
    {% set cars = cars|merge([repetitor.car.manufacturer.name_eng ~ ' ' ~ repetitor.car.name_eng]) %}
{% endif %}

{% if repetitor.carSecond.name_eng %}
    {% set cars = cars|merge([repetitor.carSecond.manufacturer.name_eng ~ ' ' ~ repetitor.carSecond.name_eng]) %}
{% endif %}

{% set cars = cars|unique|join(', ') %}
{% set regYear = repetitor.reg_date|date('Y') %}

{% block title %}{{ repetitor.is_car_instructor ? 'Автоинструктор' : 'Репетитор' }} {{ repetitor.getLastName() ~ repetitor.first_name ~  ' ' ~ repetitor.middle_name }} (Санкт-Петербург{{ metro|length > 0 ? ', метро ' ~ metro : '' }}). {{ 'Предмет'|plural_word(coursesCount, '|ы') }}: {{ courses }}{% endblock %}

{% block metas %}
    <meta name="keywords" content="{{ repetitor.getLastName() ~ repetitor.first_name ~  ' ' ~ repetitor.middle_name }}">

    {% if repetitor.is_car_instructor %}
        {% set description = 'Инструктор по вождению ' ~ repetitor.getLastName() ~ repetitor.first_name ~  ' ' ~ repetitor.middle_name ~ ' (СПб' ~ (repetitor.district ? ', ' ~ repetitor.district.name ~ ' район' : '') ~ '.' ~ (cars|length > 0 ? ' Машина - ' ~ cars ~ '.' : '') %}
    {% else %}
        {% set description = 'Преподаватель ' ~  repetitor.getLastName() ~ repetitor.first_name ~  ' ' ~ repetitor.middle_name ~ '. Город - Санкт-Петербург' ~ (cities|length > 0 ? ' - ' ~ cities : '') %}
    {% endif %}
    <meta name="description" content="{{ description }} Зарегистрирован на «СПбРепетитор» в {{ regYear }} году.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/{{ repetitor.getLink() }}">
{% endblock %}

{% block content %}
    {% set menu = [] %}
    <div class="lead resp_hide_1000">
        <div class="bread_ots">
            {{ include('../components/breadcrumbs.twig', { last: repetitor.first_name ~  ' ' ~ repetitor.middle_name, type: repetitor.is_car_instructor ? 2 : 1 }) }}
        </div>
    </div>
    <div id="rep_menu" class="resp_help_buttons resp_help_buttons_ank">
        <a href="javascript:void(0);" class="resp_ankmenu_button"></a>
    </div>

    {% set menu = menu|merge([{ href: 'rep_about', name: 'О репетиторе' }]) %}

    <div class="main" itemscope itemtype="http://schema.org/LocalBusiness" id="rep_about">
        <article id="tutor" class="anketa">
            <div class="anketa-photo">
                <div class="anketa-photo_action">
                    <div class="anketa-photo_rating">{{ repetitor.ratings_rating is not empty ? repetitor.ratings_rating : repetitor.rating }}</div>
                    {% if repetitor.skype %}
                        <div class="anketa-photo_skype"></div>
                    {% endif %}
                </div>

                <a class="anketa-photo_image" href="/include/{{ repetitor.getLink() }}">
                    <img src="{{ repetitor.getPhoto() }}" alt="{{ repetitor.first_name ~ ' ' ~ repetitor.middle_name }}"
                         itemprop="image">
                </a>

                <div class="anketa-number_in_base">Анкета № {{ repetitor.id_users }}</div>

                {% if repetitor.id_users_active_statuses == constant('App\\Models\\UsersActiveStatuses::BLACK_LIST') or repetitor.id_users_active_statuses == constant('App\\Models\\UsersActiveStatuses::DELETED') %}
                    <div class="anketa-photo_callback profrep_status profrep_block">Заблокирован</div>
                {% elseif repetitor.id_users_active_statuses == constant('App\\Models\\UsersActiveStatuses::NOT_ACTIVE') %}
                    <div class="anketa-photo_callback profrep_status profrep_moder">Не активирован</div>
                {% else %}
                    <div class="anketa-photo_callback_fixed">{{ Helper.callback(repetitor.id_users, 1) }}</div>
                {% endif %}
            </div>
            <div class="anketa-body">
                <div class="ank_b_320_bl_1">
                    <div class="anketa-body_name">
                        {% set birthday = repetitor.year_of_birth > 1900 and repetitor.year_of_birth < "now"|date('Y') ? '<span class="razd">, </span><span class="birthday">' ~ repetitor.year_of_birth ~ ' г.р.</span>' : null %}
                        {% set name = repetitor.getLastName() ~ repetitor.first_name ~ ' ' ~ repetitor.middle_name %}
                        <h1>
                            <span class="type">{{ repetitor.getPrefixName() }}</span>
                            <span itemprop="name" class="big">{{ name }}</span>{{ birthday|raw }}
                        </h1>
                        {{ Helper.favouritesButton(repetitor.id_users, repetitor.is_car_instructor ? 2 : 1) }}
                    </div>
                    <div class="anketa-body_lerns">
                        <span>{{ repetitor.is_car_instructor ? 'Коробка передач' : 'Предметы' }}:</span>
                        {{ courses }}
                    </div>

                    {% if repetitor.status %}
                        <div class="anketa-body_status_rep"><span>Статус:</span> {{ repetitor.status.name }}</div>
                    {% endif %}

                    <div class="anketa-body_geo_right">
                        <div class="anketa-body_price">{{ repetitor.price_per_hour|number_format(0, ',', ' ') }} <span>руб./час</span>
                        </div>
                    </div>
                </div>
                <div class="anketa-body_geo_right_2">
                    {% if metro is not empty %}
                    <div class="anketa-body_metro">
                        {{ metro }}
                    </div>
                    {% endif %}
                    <div class="anketa-body_gorod">
                        {{ cities }}
                    </div>
                </div>
                <div class="anketa-body_geo_left">
                    {% if not repetitor.students_home %}
                        {% if repetitor.teachers_home %}
                            {% if repetitor.rating_address %}
                                {% set place = '<a href="javascript:void(0);">' ~ [repetitor.location, repetitor.street, repetitor.house_number]|filter(v => v != '')|join(', ') ~ '</a>' %}
                            {% endif %}

                            <div class="anketa-body_usebya">Провожу занятия у себя {{ place|raw }}</div>
                        {% elseif repetitor.skype %}
                            <div class="anketa-body_skype">Обучение по Skype</div>
                        {% endif %}
                    {% else %}
                        <div class="anketa-body_viezd">Выезд на дом:
                            {% if repetitor.metro_list %}
                                {{ Helper.metroList(repetitor, 2) }}
                            {% else %}
                                возможен
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if repetitor.first_lesson_free %}
                        <div class="anketa-body_pervoe">Первое занятие бесплатно</div>
                    {% endif %}
                </div>
                <div class="anketa-body_stag">
                    {% if repetitor.is_car_instructor and repetitor.work_experience_info %}
                        <div class="anketa-body_opit">Стаж
                            вождения: {{ repetitor.work_experience_info|plural_word(repetitor.work_experience_info, 'год|года|лет', ' ') }}</div>
                    {% endif %}

                    {% if repetitor.work_experience %}
                        <div class="anketa-body_opit">{{ repetitor.is_car_instructor ? 'Стаж обучения вождению' : 'Опыт' }}
                            : {{ repetitor.work_experience|plural_word(repetitor.work_experience, 'год|года|лет', ' ') }}</div>
                    {% endif %}
                </div>
                <div class="anketa-body_info">
                    <ul>
                        {% if repetitor.education %}
                            <li>
                                <b>Образование:</b> {{ repetitor.education|escape|nlbr|quotes|raw }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% if repetitor.comment is not empty %}
                <div class="anketa-row_text">
                    <p class="s_text_info"><b>Комментарий:</b>
                        {{ repetitor.comment|cut_up_to_marks(360, true)|raw }}
                    </p>
                </div>
            {% endif %}

            {% if repetitor.additional_information is not empty %}
                <div class="anketa-row_text">
                    <p class="s_text_info"><b>Дополнительная информация:</b>
                        {{ repetitor.additional_information|cut_up_to_marks(360, true)|raw }}
                    </p>
                </div>
            {% endif %}

            {% set documentsCount = repetitor.documentsVideoCount() %}
            {% if documentsCount > 0 %}
                {% set menu = menu|merge([{ href: 'rep_doci', name: 'Фото, видео, документы' }]) %}

                {# Количество документов на страницу #}
                {% set perPage = 4 %}

                {# Следующая страница #}
                {% set nextPage = 2 %}
                <div class="anketa-row_block" id="rep_doci">
                    <h6>Фото, видео, документы</h6>
                    <div class="anketa-row_block_doci">
                        <div class="content">
                            {% for document in videoDocuments %}
                                {% if document.document is not empty %}
                                    <a href="/include/photo_doc_mini/{{ document.document }}" data-fancybox="images">
                                        <img src="/include/photo_doc_mini_icon/{{ document.document }}" alt="">
                                    </a>
                                {% elseif document.video is not empty and document.getVideoId() %}
                                    <a data-fancybox="images"
                                       href="//www.youtube.com/watch?v={{ document.getVideoId() }}/"
                                       style="background:url('https://img.youtube.com/vi/{{ document.getVideoId() }}/mqdefault.jpg')"
                                       class="row_youtube"><span></span></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if documentsCount > nextPage * perPage %}
                        {% set pagesCount = (totalCount / perPage)|round(0, 'ceil') %}
                        {% set remain = nextPage < pagesCount ? perPage : totalCount - (nextPage - 1) * perPage %}

                        <a href="javascript:void(0);"
                           data-user_id="{{ repetitor.id_users }}"
                           data-start="{{ nextPage }}"
                           data-limit="{{ perPage }}"
                           data-pages_count="{{ pagesCount }}"
                           data-total_count="{{ totalCount }}"
                           class="anketa-doci_sh btn button_3"
                        >Открыть еще <span>{{ remain }}</span></a>
                    {% endif %}
                </div>
            {% endif %}


            {% if repetitor.services_and_prices %}
                {% set menu = menu|merge([{ href: 'rep_services', name: 'Услуги и цены' }]) %}

                <div class="anketa-row_block" id="rep_services">
                    <h6>Услуги и цены</h6>
                    <div class="d-table anketa-row_block_uslugi">
                        <div class="d-tr block_uslugi_content">
                            <div class="d-td">{{ repetitor.services_and_prices|escape|nlbr|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set menu = menu|merge([{ href: 'rep_stats', name: 'Статистика' }]) %}

            <div class="anketa-row_block" id="rep_stats">
                <h6>Статистика</h6>
                <div class="d-table anketa-row_block_stat">
                    <div class="d-tr">
                        <div class="d-td col_1">
                            <span class="block_stat_icon block_stat_icon_1"></span>
                            <span
                                class="block_stat_title">{{ repetitor.getRating() }} баллов</span>
                            <span class="block_stat_content">средняя оценка по <br>отзывам</span>
                        </div>
                        <div class="d-td col_2">
                            <span class="block_stat_icon block_stat_icon_2"></span>
                            <span class="block_stat_title">{{ regYear }}</span>
                            <span class="block_stat_content">год регистрации</span>
                        </div>
                        <div class="d-td col_3">
                            {% set currentYear = "now"|date('Y') %}
                            {% set diff = currentYear - regYear > 0 ? currentYear - regYear : 1 %}
                            <span class="block_stat_icon block_stat_icon_3"></span>
                            <span
                                class="block_stat_title">{{ repetitor.orders_count ~ ' ученик'|plural_word(repetitor.orders_count, '|а|ов') }}</span>
                            <span
                                class="block_stat_content">подобрано за {{ diff|plural_word(diff, 'год|года|лет', ' ') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            {% if repetitor.reviewsCount() %}
                <noindex>
                    {% set menu = menu|merge([{ href: 'rep_response', name: 'Отзывы' }]) %}

                    <div class="anketa-row_block" id="rep_response">
                        <div class="anketa-row_response_title">
                            <h6>Отзывы</h6>
                            <div class="anketa-body_stag">
                                <div class="anketa-body_r_all">{{ repetitor.reviewsCount() }}</div>
                                {% if repetitor.reviews_rating %}
                                    <div class="anketa-body_r_more">(
                                        <div class="anketa-body_r_plus">{{ repetitor.reviewsPositiveCount() }}</div>
                                        <div class="anketa-body_r_neitral">{{ repetitor.reviewsNeutralCount() }}</div>
                                        <div class="anketa-body_r_minus">{{ repetitor.reviewsNegativeCount() }}</div>
                                        ), средняя оценка: {{ repetitor.getRating() }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {{ include('../components/reviews/account-reviews') }}
                    </div>
                </noindex>
            {% endif %}

            <a class="anketa-response_add button_3" href="/include/response_add.php?id_rep={{ repetitor.id_users }}">Оставить
                отзыв</a>

            {# График занятости, показываем актуальное расписание, если более 14 дней не было изменений мы его скрываем #}
            {% set diff = repetitor.schedule_last_update_date ? date(repetitor.schedule_last_update_date|date('Y-m-d H:i:s')).diff(date('now'|date('Y-m-d H:i:s'))) %}
            {% if repetitor.show_schedule and repetitor.schedule_last_update_date and diff.days <= 14 %}
                {% set menu = menu|merge([{ href: 'rep_schedule', name: 'График занятости' }]) %}

                <div class="anketa-row_block" id="rep_schedule">
                    <h6>График занятости</h6>
                    <div class="d-table anketa-row_block_calendar">
                        <div id="work_calendar">
                            <table style="text-align: center;">
                                <tr class="wc_days">
                                    <th>Время</th>
                                    {% for day_of_week in weekDays %}
                                        <th>{{ day_of_week.name }}</th>
                                    {% endfor %}
                                </tr>
                                {% for time in timeSheet %}
                                    <tr class="wc_row">
                                        <th>{{ time.start|date('H') ~ '-' ~ time.end|date('H') }}</th>
                                        {% for day_of_week in weekDays %}
                                            <td class="{{ day_of_week.id_users_schedule_week_days not in schedule[time.id_users_schedule_time] ? 'wc_no' }}"></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div style="clear: both;"></div>

            {# Похожие репетиторы #}
            {% if newUsers|length > 0 %}
                <noindex>
                    <div class="anketa-row_block" id="rep_popular">
                        <div class="anketa-row_response_title">
                            <h6 style="margin-bottom: 15px;">Похожие преподаватели</h6>
                        </div>
                        <section id="tutors">
                            {% for user in newUsers %}
                                <article class="anketa">
                                    <div class="anketa-photo">
                                        <a class="anketa-photo_image" href="/include/{{ user.getLink() }}"
                                           rel="nofollow">
                                            <img src="{{ user.getPhoto() }}">
                                        </a>
                                    </div>
                                    <div class="anketa-body">
                                        <div class="ank_b_320_bl_1">
                                            <div class="anketa-body_name">
                                                <a href="/include/{{ user.getLink() }}" rel="nofollow">
                                                    <span>{{ user.first_name ~ ' ' ~ user.middle_name }}</span>
                                                </a>
                                            </div>
                                            <div class="anketa-body_lerns">
                                                <span>{{ user.is_car_instructor ? 'Коробка передач' : 'Предметы' }}:</span>

                                                {% set list = [] %}

                                                {% if user.course.name %}
                                                    {% set list = list|merge([user.course.name]) %}
                                                {% endif %}

                                                {% if user.courseSecond.name %}
                                                    {% set list = list|merge([user.courseSecond.name]) %}
                                                {% endif %}

                                                {% if user.courseThird.name %}
                                                    {% set list = list|merge([user.courseThird.name]) %}
                                                {% endif %}

                                                {% if user.courseFourth.name %}
                                                    {% set list = list|merge([user.courseFourth.name]) %}
                                                {% endif %}

                                                {% if list|length > 0 %}
                                                    {% set list = list|unique %}
                                                    {% if user.is_car_instructor %}
                                                        {{ list|join(', ') }}
                                                    {% else %}
                                                        {% if list|length > 2 %}
                                                            {{ list|slice(0, 2)|join(', ') ~ '...' }}
                                                        {% else %}
                                                            {{ list|join(', ') }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="anketa-body_geo_left">
                                            {% if not user.students_home %}
                                                {% if user.teachers_home %}
                                                    {% if user.rating_address %}
                                                        {% set place = '<a href="javascript:void(0);">' ~ [user.location, user.street, user.house_number]|filter(v => v != '')|join(', ') ~ '</a>' %}
                                                    {% endif %}

                                                    <div class="anketa-body_usebya">Провожу занятия у
                                                        себя {{ place|raw }}</div>
                                                {% else %}
                                                    <div class="anketa-body_skype">Обучение по Skype</div>
                                                {% endif %}
                                            {% else %}
                                                <div class="anketa-body_viezd">Выезд на дом:
                                                    {% if user.metro_list %}
                                                        {{ Helper.metroList(user, 2) }}
                                                    {% else %}
                                                        возможен
                                                    {% endif %}
                                                </div>
                                            {% endif %}

                                            {% if user.first_lesson_free %}
                                                <div class="anketa-body_pervoe">Первое занятие бесплатно</div>
                                            {% endif %}

                                            <div class="anketa-body_price">
                                                <span>от</span> {{ user.price_per_hour|number_format(0, ',', ' ') }}
                                                <span>руб./час</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        </section>
                    </div>
                </noindex>
            {% endif %}
        </article>

        <font face="tahoma" color="838383" style="font-size: 8pt;">
            <p align="left">
                <b>Также рекомендуем посмотреть анкеты преподавателей, которые могут Вас заинтересовать:
                    {# TODO: ПОРТЯНКА profrep.php#}
                </b>
            </p>
        </font>
    </div>
    {{ include('../components/aside-left.twig', { menu: menu, repetitor: repetitor }) }}
{% endblock %}

{% block scripts %}
    <script>
        function resize_documents(ajax) {
            if ($(window).width() <= 1000) {
                var $content = $(".anketa-row_block_doci").find(".content"),
                    count = 0;

                if ($content.length) {
                    $content.find("a").each(function () {
                        count += $(this).outerWidth(true);
                    });

                    $content.css({width: count + "px"});

                    if (ajax) {
                        $content.closest(".anketa-row_block_doci").scrollLeft($content.width);
                    }
                }
            } else {
                $(".anketa-row_block_doci").find(".content").css({width: "auto"});
            }
        }

        resize_documents();

        $(window).resize(function (event, ajax) {
            resize_documents(ajax);
        });

        $(document).on("click", "#rep_menu a", function (e) {
            e.preventDefault();
            var sna = $(this).attr("href"),
                sna_h = 0,
                sna_w = $(window).width();

            if (sna_w <= 768)
                sna_h = 74;
            else if (sna_w <= 1000)
                sna_h = 102;
            else
                sna_h = 0;

            $(window).scrollTop($(sna).offset().top - sna_h);
        });
    </script>
{% endblock %}
