{% extends '../layouts/main.twig' %}

{% block title %}Статьи о подготовке к экзаменам. Статьи о репетиторах - "СПбРепетитор"{% endblock %}

{% block metas %}
    <meta name="description" content="Блог компании.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/statyi.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Блог' }) }}
        {{ include('../components/h1.twig', { name: 'Блог компании "СПбРепетитор"' }) }}
    </div>
    <div class="main width_100">
        <table>
            <tr>
                <td valign="top" width="53%">
                    <b style="font-size:11pt;">&ensp;&ensp;Статьи о том, когда и для чего стоит нанимать репетитора</b>:
                </td>
                <td width="6%">&nbsp;</td>
                <td valign="top" width="41%">
                    <b style="font-size:11pt;">&ensp;&ensp;Статьи о подготовке к международным языковым экзаменам</b>:
                </td>
            </tr>
            <tr>
                <td valign="top" width="31%">
                    {% for blog in whenYouNeedRepetitor %}
                        <p align="justify">
                            &ensp;&ensp;<a href="{{ blog.slug }}.php"><font face="tahoma" size="2" color="838383"><b>{{ blog.header }}</b></font></a><br>
                            &ensp;&ensp;<font style="font-size:8pt;">{{ blog.date|date('d.m.Y') }}</font>
                        </p>
                    {% else %}
                        Список статей пуст
                    {% endfor %}
                </td>
                <td width="3%">&nbsp;</td>
                <td valign="top" width="31%">
                    {% for blog in internationalExam %}
                        <p align="justify">
                            &ensp;&ensp;<a href="{{ blog.slug }}.php"><font face="tahoma" size="2" color="838383"><b>{{ blog.header }}</b></font></a><br>
                            &ensp;&ensp;<font style="font-size:8pt;">{{ blog.date|date('d.m.Y') }}</font>
                        </p>
                    {% else %}
                        Список статей пуст
                    {% endfor %}
                </td>
            </tr>
        </table>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
