{% extends '../layouts/main.twig' %}

{% block title %}Отложенные анкеты - "СПбРепетитор"{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/favorites.php">
{% endblock %}

{% block metas %}
    <meta name="description" content="Отложенных анкеты">
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Отложенные анкеты', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Отложенные акнеты' }) }}
        <p class="rep_kol">Всего отображено анкет репетиторов: <span class="h_favorites_count_sa">{{ repetitors.count }}</span></p>
    </div>
    <div class="main width_100">
        {% if repetitors is not empty %}
            <div class="search-option search-option-favorites search-option-favorites-show">
                <a href="javascript:void(0);" onclick="callback_rep(null, 3, 0, 1); return false;" class="button_3 btn_callback"><span>Связаться с отложенными</span></a><a href="javascript:void(0);" onclick="fav(1, 1, 'del_all'); return false;" class="button_3 btn_d_all"><span>Удалить всех</span></a>
            </div>
        {% endif %}
        <section id="tutors">
            <div class="no_user_predmet_new no_user_fav {% if repetitors is empty %}no_user_fav_show{% endif %}">
                <div class="title">У вас нет отложенных анкет</div>
                <div class="content">Если у Вас нет времени выбирать самостоятельно, просматривая все анкеты, Вы можете написать, какой именно репетитор Вам нужен, и администратор бесплатно подберет Вам подходящие варианты.
                    <div class="fixedblock"><a class="button_1 btn" href="javascript:void(0);" onclick="callback_rep(0, 3); return false;">Быстрый подбор репетитора (бесплатно)</a></div>
                </div>
            </div>

            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig', { action: 1 }) }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
        </section>
    </div>
{% endblock %}
