{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Как это работает?{% endblock %}

{% block metas %}
    <meta name="description" content="Информация о нашей компании. Свидетельства и сертификаты.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/us.php">
{% endblock %}

{% block footer %}
    {% set footerClass = 'footer_fixed_padding_1' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Как это работает' }) }}
    </div>

    <div class="main width_100">
        <div class="info_for-tutors">
            <div class="index-text_title">Как это работает?</div>
            <div class="inner index-howitworks_content">
                <div class="index-tabs_rep">
                    <ul>
                        <li class="index-tabs_1"><span>Регистрируетесь<br>на сайте, заполнив<br>анкету</span></li>
                        <li class="index-tabs_2"><span>Мы присылаем доступ<br>в личный кабинет</span></li>
                        <li class="index-tabs_3"><span>Получаете контакты<br>учеников от нас</span></li>
                        <li class="index-tabs_4"><span>Занимаетесь с этими<br>учениками, получаете<br>оплату</span></li>
                        <li class="index-tabs_5"><span>После получения<br>оплаты платите комиссию<br>нам</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info_for-tutors_block info_for-tutors_2">
            <div class="info_for-tutors_subtitle">Подробности и преимущества</div>
            <div class="content">
                <ul class="list">
                    <li class="icon_1"><span></span>Бесплатная регистрация, нет никаких
                        скрытых платежей за регистрацию анкеты
                        или ее положение в базе.
                    </li>
                    <li class="icon_2"><span></span>Получение конактов учеников без обязательства брать всех
                        предлагаемых учеников: вы работаете частным репетитором, на себя, принимая решение, что вам
                        удобно, а что нет.
                    </li>
                    <li class="icon_3"><span></span>Оплата комиссии происходит только после того, как вы позанимались с
                        переданным учеником, после получения оплаты от него.
                    </li>
                    <li class="icon_4"><span></span>Нет двухуровненвых оплат как у конкурентов (вторая оплата комиссии
                        по долгим и дорогим заказам), комиссия в среднем ниже (несколько
                        более цены одного занятия, обычно 3-7% дохода от ученика),
                        чем у других крупных сайтов.
                    </li>
                    <li class="icon_5"><span></span>В то же время, есть заказы в достаточном количестве, реально
                        набрать поток учеников. После чего образуется "сарафнное радио"
                        от учеников, которых вы нашли через нас - они рекомендуют вас
                        друзьям - вы получаете бесплатно учеников и работа репетитором
                        становится стабильным источником дохода.
                    </li>
                </ul>
            </div>
        </div>

        <div class="info_for-tutors_block info_for-tutors_3">
            <div class="info_for-tutors_subtitle">Наши достижения</div>
            <div class="content">
                <ul class="info_for-tutors_3_list">
                    <li class="item_1">
                        <span class="first">50 000 <i>+</i></span>
                        <span>репетиторов из России, Белоруссии, <br>Казахстана работает с нами</span>
                    </li>
                    <li class="item_2">
                        <span class="first">10 <i>+</i></span>
                        <span>лет успешной <br>работы</span>
                    </li>
                    <li class="item_3">
                        <span class="first">600 000 <i>+</i></span>
                        <span>учеников обратилось <br>в поиске репетитора</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="info_for-tutors_block info_for_tutors-response">
            <div class="info_for-tutors_subtitle">Отзывы репетиторов <span>о работе с нами</span></div>
            <div class="bl-response_block">
                <div class="owl-carousel owl-theme_index inf_6_response_slider">
                    {% for review in reviews %}
                        <div class="item resp_ccc_class anketa">
                            <div class="bl-response_item">
                                <div class="anketa-photo">
                                    <a href="/include/{{ review.user.getLink() }}">
                                        <img src="{{ review.user.getPhoto() }}" alt="">
                                    </a>
                                </div>
                                <div class="bl-response_repetitor">
                                <span class="bl-response_name">
                                    <a href="/include/{{ review.user.getLink() }}">{{ review.user.getLastName() ~ review.user.first_name ~ ' ' ~ review.user.middle_name }}</a>
                                </span>
                                </div>
                                <div class="bl-response_text s_text_info bl-response_icon_pen">
                                    {% set maxLength = 450 %}

                                    {{ review.comment|slice(0, maxLength) }}

                                    {% if review.comment|length >= maxLength %}
                                        <span>{{ review.comment|slice(maxLength) }}</span> <i>...</i>
                                        <a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>
                                    {% endif %}
                                </div>
                                <div class="ift-response_list">
                                    <ul>
                                        <li class="icon_1">
                                            {# TODO: может считать настоящие заявки? #}
                                            <span class="bl_1">{{ review.user.orders_count ~ ' ученик'|plural_word(review.user.orders_count, '|а|ов') }}</span>
                                            <span class="bl_2">подобрано</span>
                                        </li>
                                        <li class="icon_2">
                                            {% set regYear = review.user.reg_date|date('Y') %}
                                            {% set currentYear = "now"|date('Y') %}
                                            {% set diff = currentYear - regYear > 0 ? currentYear - regYear : 1 %}
                                            <span class="bl_1">{{ diff|plural_word(diff, 'год|года|лет', ' ') }}</span>
                                            <span class="bl_2">на сайте</span>
                                        </li>
                                        <li class="icon_3">
                                            <span
                                                class="bl_1">{{ review.user.price_per_hour|number_format(0, ',', ' ') }} рублей</span>
                                            <span class="bl_2">средняя стоимость</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="info_for-tutors_block info_for-tutors_5">
            <div class="info_for-tutors_subtitle">Примеры выполненных заказов</div>
            {% for order in orders %}
                <div class="inf_5_item">
                    <div class="inf_5_padding">
                        <div class="inf_post">
                            <div class="lern">{{ order.course.name }}</div>
                            <div class="descriprion_1">Описание заказа</div>
                            <div class="descriprion_2">«{{ order.object }}»</div>
                        </div>
                        <div class="cols">
                            <div class="col_left">
                                <div class="col_margin">
                                    <a href="/include/{{ order.user.getLink() }}">
                                        <img class="photo" src="{{ order.user.getPhoto() }}"
                                             alt="{{ order.user.getLastName() ~ order.user.first_name ~ ' ' ~ order.user.middle_name }}">
                                    </a>
                                    <div class="col_left_cont">
                                        <div class="col_left_text_1">Выполнил заказ</div>
                                        <div class="col_left_text_2">
                                            <a href="/include/{{ order.user.getLink() }}">
                                                {{ order.user.getLastName() ~ order.user.first_name }}<br>
                                                {{ order.user.middle_name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col_right">
                                <div class="col_margin">
                                    <div class="col_right_cont">
                                        <div class="col_right_text_1">Итоговая стоимость</div>
                                        <div class="col_right_text_2">{{ order.total_price|number_format(0, ',', ' ') }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="response_name">
                            Отзыв {{ order.name }}
                        </div>
                        <div class="response_text  s_text_info">
                            {{ order.review.comment }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="info_for-tutors_block info_for-tutors_6">
            <div class="content">
                <div class="owl-carousel owl-theme_index inf_6_slider">
                    <div class="item resp_ccc_class">
                        <div class="item_padding">
                            <div class="history"><span class="icon"></span>Истории успеха</div>
                            <a data-fancybox="images" href="//www.youtube.com/watch?v=aKy_XVbQ2Lk"
                               style="background:url(https://img.youtube.com/vi/aKy_XVbQ2Lk/mqdefault.jpg) center center no-repeat;"
                               class="row_youtube photo"><span></span></a>
                            <div class="info">
                                <div class="title">
                                    <a data-fancybox="images" href="//www.youtube.com/watch?v=aKy_XVbQ2Lk">Как построить
                                        карьеру репетитора и хорошо зарабатывать</a>
                                </div>
                                <div class="text s_text_info">«Один из наших первых преподавателей (Александр Золотухин)
                                    рассказывает о том, как он начал работать с нашим сайтом еще будучи студентом и,
                                    благодаря потоку заказов от нас, сделал эту профессию основной, получая <span>достойный доход. Каждый год он набирал достаточно клиентов от нас, а затем стал получать и бесплатные заказы (по "сарафонному радио" от предыдущих его учеников) и в итоге, спустя 8 лет, начал свой бизнес и успешно его развивает (онлайн курсы подготовки к ЕГЭ).»</span><i>...</i>
                                    <a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info_for_fixed_link">
            <a href="/include/registraciya.php" class="button_1">Зарегистрироваться</a>
        </div>

        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}

{% block scripts %}
    {# TODO: Костыль с прошлого кода #}
    <script>
        function resize_li_info(clc) {
            var resp_width = $(window).width(),
                col = 3,
                col_h = [];
            if (resp_width > 1000)
                col = 3;
            else if (resp_width > 768)
                col = 2;
            else
                col = 1;

            if (col) {
                var class_resize = clc,
                    mh = 0,
                    j = 0,
                    k = 0;
                $(class_resize).each(function (i) {
                    if (k === col) {
                        j = i;
                        mh = 0;
                        k = 0;
                    }
                    k++;
                    var h_block = parseInt($(this).height("auto").height());
                    if (h_block > mh) {
                        mh = h_block;
                        if (col === 3)
                            col_h[j] = col_h[j + 1] = col_h[j + 2] = mh;
                        else if (col === 2)
                            col_h[j] = col_h[j + 1] = mh;
                        else if (col === 1) {
                            col_h[j] = mh;
                        }
                    }
                });
            }
            $(class_resize).each(function (i) {
                $(this).height(col_h[i]);
            });

            if (col === 1 || col === 2) {
                $(".info_for-tutors_5 .content").owlCarousel({
                    loop: true,
                    margin: 0,
                    items: 1,
                    rewind: false,
                    nav: true,
                    dots: true,
                    checkVisible: true,
                    navText: ""
                });
            } else {
                $(".info_for-tutors_5 .content").trigger("destroy.owl.carousel");
            }
        }

        resize_li_info(".info_for-tutors_2 .list li");
        resize_li_info(".info_for-tutors_3_list li");

        $(window).resize(function () {
            resize_li_info(".info_for-tutors_2 .list li");
            resize_li_info(".info_for-tutors_3_list li");
        });

        $(".info_for_tutors-response .owl-carousel").owlCarousel({
            loop: true,
            margin: 0,
            items: 1,
            rewind: false,
            nav: true,
            dots: true,
            checkVisible: true,
            navText: "",
            onTranslate: function (event) {
                $(".info_for_tutors-response .owl-carousel").find(".hide a").click();
            }
        });

        $(".info_for-tutors_6 .owl-carousel").owlCarousel({
            loop: false,
            margin: 0,
            items: 1,
            rewind: false,
            nav: true,
            dots: true,
            checkVisible: true,
            navText: ""
        });
    </script>
{% endblock %}
