{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Как это работает?{% endblock %}

{% block metas %}
    <meta name="description" content="Информация о нашей компании. Свидетельства и сертификаты.">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/us.php">
{% endblock %}

{% block footer %}
    {% set footerClass = 'footer_fixed_padding_2' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Как это работает' }) }}
    </div>

    <div class="main width_100">
        <div class="info_for-tutors">
            <div class="index-text_title">Как это работает?</div>
            <div class="inner index-howitworks_content">
                <div class="index-tabs_rep">
                    <ul>
                        <li class="index-tabs_1"><span>Выбираете преподавателя <br>сами или поручаете <br>выбор нам</span></li><li class="index-tabs_2"><span>Мы подтверждаем <br>заказ, затем передаем <br>контакты репетитору</span></li><li class="index-tabs_3"><span>Занимаетесь <br>с репетитором, достигаете <br>поставленной цели</span></li><li class="index-tabs_4"><span>С удовольствием <br>оставляете отзыв о <br>репетиторе &#128522;</span></li><li class="index-tabs_5"><span>Если репетитор вам <br>не подошел - предлагаем <br>других</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info_for-tutors_block info_for-students_2">
            <div class="info_for-tutors_subtitle">Подробнее о работе с нами</div>
            <div class="content">
                <ul class="list">
                    <li class="icon_1"><span></span>Поиск бесплатен и мы не беспокоим вас без нужды. Вы отправляете запрос на поиск репетитора или запрос на конкретного репетитора, которого выбрали в базе. В первом случае - бесплатно подбираем от одного до трех преподавателей по вашим требованиям. Во втором - сразу связываем вас с выбранным вами преподавателем. Если он оказался загружен и временно не берет учеников, то администратор уведомляет и подбирает похожих преподавателей, если это нужно.</li><li class="icon_2"><span></span>Вы можете заменить репетитора бесплатно. Если репетитор не подошел по какой-то причине, то всегда можно отказаться и попросить переподбор, это вполне нормально.</li><li class="icon_3"><span></span>У нас достоверные и положительные отзывы. Мы собираем отзывы только от учеников, обратившихся к нам, за которых репетитор оплатил комиссию - поэтому они достоверны. Мы публикуем как положительные, так и отрицательные отзывы (и даем репетитору возможность дать на них комментарий через анкету). 97% из более чем 60 000 отзывов - положительные, со средней оценкой 4,9 из 5.</li><li class="icon_4"><span></span>Нам доверяют. С нами работают более 50 000 преподавателей из России, Белоруссии, Казахстана. За репетиторами к нам обратилось более 600 000 учеников в течение 10 лет.</li><li class="icon_5"><span></span>Мы не навязчивы. Мы не спамим излишней рекламой, получив ваш телефон или мейл. Обычно мы связываемся только, для того, чтобы собрать отзыв о репетиторе или один-два раза в год сообщаем о, действительно, полезных новостях.</li><li class="icon_6"><span></span>Мы объективны и не навязываем конкретных специалистов. У нас невысокая комиссия для репетиторов. Поэтому она не влияет на цену занятий для учеников. Также все репетиторы равны перед нами - нам неважно кто оплатит комиссию, главное, чтобы ученик бы доволен. Поэтому стараемся подобрать лучшего репетитора для выполнения задачи без иных мотивов.</li>
                </ul>
            </div>
        </div>

        <div class="info_for-tutors_block info_for_tutors-response info_for_students-response">
            <div class="info_for-tutors_subtitle">Отзывы учеников <span>о наших репетиторах</span></div>
            {{ include('../components/reviews/reviews.twig') }}
        </div>

        <div class="info_for-tutors_block info_for-studens_menu catalog_menu_lern">
            <div class="info_for-tutors_subtitle">Начать поиск репетитора</div>
            <div class="content">
                {{ include('../components/catalog-menu.twig') }}
            </div>
        </div>

        <div class="info_for_fixed_link info_for-studens_fixed_link">
            <a href="/include/catalog.php" class="button_1">Найти репетитора самостоятельно</a><a href="javascript:void(0);" onclick="callback_rep(null, 3); return false;" class="button_1">Поручить выбор репетитора нам</a>
        </div>

        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}

{% block scripts %}
    {# TODO: Костыль с прошлого кода, типа адаптив, выкинуть надо #}
    <script>
        function resize_li_info() {
            const resp_width = $(window).width()

            let col = 3,
                col_h = [];

            if (resp_width >= 1000)
                col = 3;
            else if (resp_width >= 768)
                col = 2;
            else
                col = 1;

            if (col) {
                var class_resize = ".info_for-students_2 .list li",
                    mh = 0,
                    j = 0,
                    k = 0;

                $(class_resize).each(function (i) {
                    if (k === col) {
                        j = i;
                        mh = 0;
                        k = 0;
                    }
                    k++;
                    var h_block = parseInt($(this).height("auto").height());
                    if (h_block > mh) {
                        mh = h_block;
                        if (col === 3)
                            col_h[j] = col_h[j + 1] = col_h[j + 2] = mh;
                        else if (col === 2)
                            col_h[j] = col_h[j + 1] = mh;
                        else if (col === 1) {
                            col_h[j] = mh;
                        }
                    }
                });
            }
            $(class_resize).each(function (i) {
                $(this).height(col_h[i]);
            });
        }

        resize_li_info();

        $(window).resize(function () {
            resize_li_info();
        });
    </script>
{% endblock %}
