{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Новости{% endblock %}

{% block links %}
    <link rel="canonical" href="/include/news.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Новости' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <table align="center" width="100%" bgcolor="white" border="0" cellpadding="0" cellspacing="0" frame="void" rules="none">
            <tr>
                <td width="0">&nbsp;</td>
                <td>
                    {% set maxLength = 260 %}
                    {% for item in news %}
                        {% if loop.index != 1 %}
                            <hr size="1" width="200" align="left">
                        {% endif %}

                        <a href="/include/new.php?id_news={{ item.id_news }}">{{ item.title }}</a><br><br>
                        {{ item.text|nlbr|slice(0, maxLength)|raw }}
                        {% if (item.text|length > maxLength) %}...{% endif %}
                    {% else %}
                        Список новостей пуст
                    {% endfor %}
                </td>
                <td>&nbsp</td>
            </tr>
        </table>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
