{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        {% if course.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::LANGUAGES') %}
            Репетиторы {{ course.recommend_name_second }} онлайн и по скайпу {{ course.seo.emoji|raw }} (Skype). Онлайн обучение {{ course.recommend_name }} по Skype | "СПбРепетитор"
        {% else %}
            Репетиторы по {{ course.recommend_name }} онлайн и по скайпу (Skype) {{ course.seo.emoji|raw }} | "СПбРепетитор"
        {% endif %}
    {% else %}
        Преподаватели по {{ course.recommend_name }} удаленно (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }})
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Частные репетиторы по {{ course.recommend_name }} по Skype. &#11088;Умеренные цены и подтвержденные отзывы!&#11088; Занятия дистанционно. Более 20 000 анкет в базе!">
    {% else %}
        <meta name="description" content="Преподаватели по {{ course.recommend_name }} дистанционно (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}). Санкт-Петербург и вся Россия.">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}/online.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% if repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: 'Онлайн', type: constant('Helper::REPETITOR'), array: [
                { url: '/include/' ~ course.slug_second ~ '.php', title: course.name }
            ] }) }}
        {% else %}
            {% set breadcrumbs = [
                { url: '/include/' ~ course.slug_second ~ '.php', title: course.name },
                { url: '/include/' ~ course.slug ~ '/online.php', title: 'Онлайн' }
            ] %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~ ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: breadcrumbs }) }}
        {% endif %}

        {% if course.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::LANGUAGES') %}
            {{ include('../components/h1.twig', { name: 'Репетиторы ' ~ course.recommend_name_second ~ ' по Скайпу' }) }}
        {% else %}
            {{ include('../components/h1.twig', { name: 'Репетиторы по ' ~ course.recommend_name ~ ' по Скайпу' }) }}
        {% endif %}

        <p class="rep_kol" style="text-align:center;">Хотите найти онлайн репетитора по {{ course.recommend_name }}? В нашей базе их - {{ repetitors.total }}</p>

        {% if repetitors.currentPage == 1 %}
            <p class="s_text_info">Если Вас интсресует обучение {{ course.recommend_name }} по скайпу, но нет времени искать преподавателя самостоятельно, просматривая все анкеты, Вы можете <a href=../postform.php>написать</a>, какой именно репетитор нужен, и администратор <strong>бесплатно</strong> найдет для вас онлайн преподавателя {{ course.recommend_name_second }} в соответствии с Вашими требованиями.</p>
        {% endif %}
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig', {
                    index: loop.index,
                    course: course,
                    repetitor: repetitor,
                    page: repetitors.currentPage
                }) }}
            {% endfor %}

            {{ repetitors.links('components.pagination')|raw }}

            {% if repetitors.currentPage == 1 %}
                {% if newCourse is not null %}
                    <font size="1"><br>
                        <p align="center"><strong>
                                {% if newCourse.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::LANGUAGES') %}
                                    Если Вам требуется <a href="/include/{{ newCourse.slug }}/online.php">репетитор {{ newCourse.recommend_name_second }} по skype</a>, то оставляйте заявку в разделе "Найти репетитора".
                                {% else %}
                                    Если Вам требуется <a href="/include/{{ newCourse.slug }}/online.php">репетитор по {{ newCourse.recommend_name }} по skype</a>, то оставляйте заявку в разделе "Найти репетитора".
                                {% endif %}
                            </strong></p>
                    </font>
                {% endif %}
            {% else %}
                {% set start = (repetitors.currentPage / 15) % 30 %}

                <font size="1"><br>
                    <p align="center"><strong>
                            {% if start == 1 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетиторы по {{ course.recommend_name }} онлайн</a>.
                            {% elseif start == 2 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетиторы {{ course.recommend_name_second }} по скайпу</a>.
                            {% elseif start == 3 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетиторы по {{ course.recommend_name }} по скайпу</a>.
                            {% elseif start == 4 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетиторы {{ course.recommend_name_second }} онлайн</a>.
                            {% elseif start == 5 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">онлайн репетиторы по {{ course.recommend_name }}</a>.
                            {% elseif start == 6 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетиторы {{ course.recommend_name_second }} по skype</a>.
                            {% elseif start == 7 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватели по {{ course.recommend_name }} онлайн</a>.
                            {% elseif start == 8 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватели {{ course.recommend_name_second }} по skype</a>.
                            {% elseif start == 9 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватели {{ course.recommend_name_second }} по скайпу</a>.
                            {% elseif start == 10 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватели {{ course.recommend_name_second }} онлайн</a>.
                            {% elseif start == 11 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">обучение {{ course.recommend_name }} по скайпу</a>.
                            {% elseif start == 12 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">обучение {{ course.recommend_name }} по skype</a>.
                            {% elseif start == 13 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">онлайн обучение {{ course.recommend_name }}</a>.
                            {% elseif start == 14 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">обучение {{ course.recommend_name }} онлайн</a>.
                            {% elseif start == 15 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">дистансционное обучение {{ course.recommend_name }}</a>.
                            {% elseif start == 16 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">обучение {{ course.recommend_name }} удаленно</a>.
                            {% elseif start == 17 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">уроки {{ course.recommend_name_second }} дистанционно</a>.
                            {% elseif start == 18 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">онлайн уроки {{ course.recommend_name_second }}</a>.
                            {% elseif start == 19 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">уроки {{ course.recommend_name_second }} по скайпу</a>.
                            {% elseif start == 20 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">уроки {{ course.recommend_name_second }} по skype</a>.
                            {% elseif start == 21 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетитор по {{ course.recommend_name }} онлайн</a>.
                            {% elseif start == 22 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетитор {{ course.recommend_name_second }} по скайпу</a>.
                            {% elseif start == 23 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетитор по {{ course.recommend_name }} по скайпу</a>.
                            {% elseif start == 24 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетитор {{ course.recommend_name_second }} онлайн</a>.
                            {% elseif start == 25 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">онлайн репетитор по {{ course.recommend_name }}</a>.
                            {% elseif start == 26 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">репетитор {{ course.recommend_name_second }} по skype</a>.
                            {% elseif start == 27 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватель по {{ course.recommend_name }} онлайн</a>.
                            {% elseif start == 28 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватель {{ course.recommend_name_second }} по skype</a>.
                            {% elseif start == 29 %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватель {{ course.recommend_name_second }} по скайпу</a>.
                            {% else %}
                                Также вас возможно заинтересует и этот раздел - <a href="/include/{{ course.slug }}/online.php">преподаватель {{ course.recommend_name_second }} онлайн</a>.
                            {% endif %}
                        </strong></p></font>
            {% endif %}
        </section>
    </div>
    {{ Helper.searchSidebar(course, false) }}
{% endblock %}
