{% extends '../layouts/main.twig' %}

{% block title %}Вакансии для репетитора. Работа репетитором в Санкт-Петербурге. Ваш личный кабинет и бек офис для репетиторов - "СПбРепетитор"{% endblock %}

{% block metas %}
    <meta name="description" content="Работа для репетиторов! Стать репетитором легко - достаточно зарегистрироваться у нас в базе!">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/registerform.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Регистрация' }) }}
        {{ include('../components/h1.twig', { name: 'Работа для репетиторов - мы помогаем найти учеников' }) }}

        <div class="s_text_info s_text_info_registerform">
            <p style="display: inline">Если вы профессиональный и ответственный преподаватель и ищете работу репетитором
                (хотите найти учеников), то мы с радостью готовы сотрудничать с вами! С нами уже работают около 50000
                репетиторов из России, Казахстана и Белоруссии на протяжении более 9 лет. Регистрация анкеты бесплатна,
                а за подобранных учеников мы взимаем небольшую комиссию уже после получения вами оплаты от ученика
                (комиссия самая невысокая среди крупных сайтов частных репетиторов - наша оплата равна примерно сумме
                одного занятия). После заполнения анкеты, в течение 3-5 дней, с вами свяжется консультант и уточнит ее
                детали, правильность заполнения по телефону или e-mail. Зарегистрированные пользователи получают
                возможность заходить в свой Личный кабинет репетитора под логином и паролем, указанными при регистрации.
            </p>
            <div>
                <p>В Личном кабинете можно посмотреть свою анкету и ознакомиться со списком заявок на обучение,
                    оставленных учениками. В основном это индивидуальные заявки, изредка вакансии для репетиторов по
                    иностранным языкам (английскому, немецкому, французскому и т.д.) на занятие с группой учеников или
                    сотрудничество с какой-то компанией. Заявки на обучение появляются в вашем личном кабинете
                    репетитора, поэтому вы можете, согласившись на заявку, найти подходящего ученика, не занимаясь
                    расклейкой объявлений, пиаром в соц. сетях и прочими финансово- и трудозатратными делами. Также на
                    репетиторов, размещенных в базе, поступают индивидуальные заявки от учеников (если ученик сам
                    захотел работать с вами) – тогда мы сразу связываемся с репетитором и предлагаем ему поступивший
                    заказ. Таким образом, вы можете работать как репетитор только с индивидуальными заявками или же
                    сотрудничать и с частными фирмами.</p>
                <p>Размещение в базе анкеты и просмотр вакансий (заказов от учеников) для репетиторов бесплатен, но если
                    мы подберем вам ученика и вы с ним будете заниматься, то нужно оплатить соответствующую комиссию
                    ("Цена Заказа"). Цена заказа обычно несколько больше стоимости одного занятия, но может быть меньше
                    или равняться ей. Если с найденным учеником вы не договоритесь, то вы ничего не оплачиваете.
                    Достаточно зайти в Личный кабинет репетитора и сообщить об этом. Оплата комиссии происходит только
                    после получения вами оплаты от ученика, т.е. по результату. Взаимоотношения с репетиторами
                    регламентируются договором на оказание услуг, расположенном в вашем "мини офисе" - Личном кабинете
                    репетитора. О том, как репетитор должен работать с заявками, подробно написано в соответствующих
                    статьях и разделе f.a.q. в личном кабинете. Более подробную информацию о сотрудничестве можно
                    получить по электронной почте или после регистрации и авторизации, зайдя в раздел «Условия
                    сотрудничества». В среднем затрату на комиссию будут составлять около 3-7% от ваших доходов,
                    полученных от найденных нами учеников.</p>
                <p>Пожалуйста, заполняйте анкету как можно более подробно, постарайтесь загрузить фотографию. От
                    качества заполнения анкеты репетитора зависит то, насколько быстро и качественно мы сможем вам
                    подбирать учеников!</p>
            </div>
            <a href="javascript:void(0);" class="s_text_link link_2">Читать полностью</a>
        </div>
        <h4>Примеры хорошего заполнения анкет:</h4>
        <p class="regist_link">
            <a href="/include/profrep.php?id_user=4459">https://{{ env('DOMAIN') }}/include/profrep.php?id_user=4459</a>
            <br><a href="/include/profrep.php?id_user=6221">https://{{ env('DOMAIN') }}/include/profrep.php?id_user=6221</a>
            <br><a href="/include/profrep.php?id_user=3793">https://{{ env('DOMAIN') }}/include/profrep.php?id_user=3793</a>
            <br><a href="/include/profrep.php?id_user=2956">https://{{ env('DOMAIN') }}/include/profrep.php?id_user=2956</a>
        </p>
    </div>
    <div class="main width_100">
        <div class="regist">
            <div class="regist_progressbar box">
                <div class="regist_progressbar_text">Анкета заполнена на</div>
                <div class="regist_progressbar_bar">
                    <div id="circle">
                        <div class="procent">
                            <span class="num">0</span><span class="sim">%</span>
                        </div>
                    </div>
                </div>
                <div class="regist_progressbar_text_2">
                    <div>Заполните <span>профиль хотя бы на</span> 80% и получите бонус к рейтингу<span> после регистрации</span>
                    </div>
                </div>
            </div>
            <form action="" class="form_1" method="POST" style="max-width: 975px; display">

                <div class="regist_block regist_active" data-step="1">
                    <div class="regist_name">
                        <span class="pos">1.</span>Контактные данные<a href="javascript:void(0);"
                                                                       title="Вводите ваши реальные данные и верный контактный телефон - без подтверждения регистрации по телефону анкеты в базе не публикуются. Также, в дальнейшем, заявки распределяются по телефону (звонки, смс) и электронной почте."
                                                                       rel="tooltip"
                                                                       class="tooltip_link"></a>
                    </div>
                    <div class="regist_form">
                        <div class="callback_error"></div>
                        <div class="regist_form_col_left regist_form_col_left_p1">
                            <div class="regist_form_row">
                                <div class="left">Имя<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input data-rch="name" type="text" name="first_name" maxlength="27"></div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Фамилия<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input data-rch="lname" type="text" name="last_name " maxlength="27">
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Отчество<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input data-rch="oname" type="text" name="middle_name" maxlength="27">
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Пол<span class="field_obyaz">*</span>:</div>
                                <div class="right">
                                    <ul class="radio-list radio-list-input callback_jel_pol">
                                        <li class="selected"><input type="radio" class="radio" name="sex" value="0" checked="">Муж.</li>
                                        <li><input type="radio" class="radio" name="sex" value="1">Жен.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regist_form_col_right regist_form_col_right_p1">
                            <div class="regist_form_row">
                                <div class="left">Год рождения<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input class="calendar" data-rch="year" type="text" name="year_of_birth" maxlength="4"></div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Моб. телефон<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input data-rch="phone" type="text" name="phone" id="s_phone" maxlength="23"></div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Ваш e-mail<span class="field_obyaz">*</span>:</div>
                                <div class="right"><input data-rch="mail" type="text" name="email" maxlength="69"></div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Skype (никнейм):</div>
                                <div class="right"><input data-rch="login_skype" type="text" name="login_skype" maxlength="169"></div>
                            </div>
                        </div>

                        <div class="regist_form_col_photo_profile">
                            <div class="regist_form_row">
                                <div class="left">Фото профиля<a href="javascript:void(0);"
                                                                 title="Ваша фотография (в формате JPG или PNG)"
                                                                 rel="tooltip" class="tooltip_link"></a>:
                                </div>
                                <div class="right">
                                    <div class="regist_file"><label class="button_3 btn"><input data-rch="photo_profile"
                                                                                                type="file"
                                                                                                name="photo_profile"
                                                                                                id="photo_profile"
                                                                                                accept="image/jpg, image/jpeg, image/png">Выберите
                                            файл</label>
                                        <div>Файл не выбран</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_navigation">
                            <a href="javascript:void(0);" data-step="1" class="button_1 next">Сохранить и перейти к шагу 2</a>
                        </div>
                    </div>
                </div>
                <div class="regist_block" data-step="2">
                    <div class="regist_name"><span class="pos">2.</span>Преподаваемые предметы и типы учеников</div>
                    <div class="regist_form">
                        <div class="callback_error"></div>
                        <div class="regist_form_col_lern first">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="left">Предмет<span class="field_obyaz">*</span>:</div>
                                    <div class="right">
                                        <div class="select_def">
                                            <select data-rch="id_lern" name="id_lern" class="lern_select">
                                                <?php include "../predmet_regular.php"; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row regist_form_row_fltr">

                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_lern regist_form_col_hide">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="left">Предмет:</div>
                                    <div class="right">
                                        <div class="select_def">
                                            <select data-rch="id_lerntwo" name='id_lerntwo' class="lern_select">
                                                <option value="0">
                                                    <?php include "../predmet_regular.php"; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row regist_form_row_fltr">

                                </div>
                            </div>
                        </div>


                        <div class="regist_form_col_lern regist_form_col_hide">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="left">Предмет:</div>
                                    <div class="right">
                                        <div class="select_def">
                                            <select data-rch="id_lerntri" name='id_lerntri' class="lern_select">
                                                <option value="0">
                                                    <?php include "../predmet_regular.php"; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row regist_form_row_fltr">

                                </div>
                            </div>
                        </div>


                        <div class="regist_form_col_lern regist_form_col_hide last">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="left">Предмет:</div>
                                    <div class="right">
                                        <div class="select_def">
                                            <select data-rch="id_lernfour" name='id_lernfour' class="lern_select">
                                                <option value="0">
                                                    <?php include "../predmet_regular.php"; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row regist_form_row_fltr">

                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_addlern">
                            <a href="javascript:void(0);" class="button_3 btn regist_form_col_show">+ Добавить предмет</a>
                        </div>

                        <div class="regist_form_col_komment">
                            <div class="regist_form_row">
                                <div class="left">Комментарий<a href="javascript:void(0);"
                                                                title="Укажите какие типы учеников Вы берете - дошкольники, школьники, старшеклассники, студенты, взрослые. Уточните к чему вы готовите (например, занятия с дошкольниками или программа 9-11 классов средней школы, подготовка к ЕГЭ, подготовка к международным языковым экзаменам и т.д.), это нужно указать для каждого преподаваемого вами предмета. Например, если вы преподаете математику для школьников любых классов в том числе и готовите к ЕГЭ, а, например, немецкий язык только для новичков и детям его не преподаете, то так и напишите: &quot;Занятия математикой со школьниками любых классов, подготовка к ОГЭ и ЕГЭ. Немецкий язык для учеников от 12 лет. Даю крепкие начальные знания, начинающим изучать язык, помогу подготовиться к туристической или деловой поездке, чтобы быстро научить основным вещам, необходимых для общения&quot; и так далее. Пишите много и конкретно, к чему вы готовите и кого. Так проще найти подходящих вам учеников. И ученики чаще будут выбирать вас, если будут понимать, что вы за репетитор и с кем работаете."
                                                                rel="tooltip" class="tooltip_link"></a><span
                                        class="field_obyaz">*</span>:
                                </div>
                                <div class="right">
                                    <textarea data-rch="komlern" name="komlern" cols="100" rows="8"
                                              minlength="100"></textarea>
                                    <div class="regist_textarea_info">Объем поля минимум 100 символов (200 символов -
                                        бонус)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_navigation">
                            <a href="javascript:void(0);" data-step="2" class="button_1 next">Сохранить и перейти к шагу
                                3</a><a href="javascript:void(0);" data-step="2" class="button_5 prev">Вернуться к шагу 1</a>
                        </div>
                    </div>
                </div>
                <div class="regist_block" data-step="3">
                    <div class="regist_name"><span class="pos">3.</span>География проведения занятий</div>
                    <div class="regist_form">
                        <div class="callback_error"></div>

                        <div class="regist_form_col_metro">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    Выберите районы Санкт-Петербурга, где вы проводите занятия, если выезжаете к ученику
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row">
                                    <?php $list_m_id = 1; ?>
                                    <span id="list_r_id" data-rch="list_r_id"><input type="hidden" name="r_edit"
                                                                                     value="0"></span><a
                                        href="javascript:void(0);" class="button_3 btn map_open_metro"
                                        data-map-name="map_moscow">Выбрать районы</a>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_left regist_form_col_left_p2">
                            <div class="regist_form_row">
                                <div class="left left_0">Проводите ли Вы
                                    <div class="block">занятия у себя<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <ul class="radio-list radio-list-input callback_jel_pol">
                                        <li class="selected"><input type="radio" name="doma" value="Да" checked>Да</li>
                                        <li><input type="radio" name="doma" value="Нет">Нет</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left left_0">Город, в котором
                                    <div class="block">Вы проживаете<a href="javascript:void(0);"
                                                                       title="Если вы проживаете не в Санкт-Петербурге, а в каком-то другом городе, то так и укажите. Однако, если вы приезжаете в Санкт-Петербург и проводите занятия у учеников на их территории, то укажите в пунктах &quot;ближайшее метро&quot; и &quot;другое ближайшее метро&quot; те метро, на которых вы бываете или где бы вы хотели, чтобы жили ваши потенциальные ученики. Если ситуация сложная (например, в какие-то дни вы в Санкт-Петербурге, в какие-то у себя в городе), то подробно распишите это в пункте меню - &quot;Районы проведения занятий&quot;. Это очень важно для корректного поиска учеников."
                                                                       rel="tooltip" class="tooltip_link"></a><span
                                            class="field_obyaz">*</span>:
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select data-rch="live" name='live'>
                                            <option value="0">Санкт-Петербург
                                                <?php include "../gorod.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left left_0">Район, в котором
                                    <div class="block">Вы проживаете<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select data-rch="id_raion" name='id_raion'>
                                            <?php include "../raion.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left left_0">Ближайшее к Вам
                                    <div class="block">метро<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select data-rch="id_metro" name='id_metro'>
                                            <option value="0">&mdash;
                                                <?php include "../metro.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_row last">
                                <div class="left left_0">Другая ближайшая
                                    <div class="block">станция метро:</div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='id_metro2'>
                                            <option value="0">
                                                <?php include "../metro.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="regist_form_col_right regist_form_col_right_p2">
                            <div class="regist_form_row">
                                <div class="left">Ваша улица:</div>
                                <div class="right"><input data-rch="ulica" type="text" name="ulica" maxlength="49">
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Ваш дом<a href="javascript:void(0);"
                                                            title="Если Вы укажете Вашу улицу и номер дома, то Ваша анкета будет участвовать в гео-поиске и отображаться в мобильном приложении нашего сайта на карте репетиторов. Это увеличит количество учеников для вас - многие ученики ищут репетитора только рядом с домом. Особенно если вы проводите занятия у себя дома, то очень желательно эти пункты заполнить. Если же вы не проводите занятия у себя или не хотите, чтобы кто-то знал ваш адрес, то указывайте соседний дом или просто улицу без дома."
                                                            rel="tooltip" class="tooltip_link"></a>:
                                </div>
                                <div class="right"><input data-rch="adres" type="text" name="adres" maxlength="10">
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left left_0">Выезжаете ли Вы
                                    <div class="block">к ученику<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <ul class="radio-list radio-list-input callback_jel_pol">
                                        <li class="selected"><input type="radio" name="nedoma" value="Да" checked>Да
                                        </li>
                                        <li><input type="radio" name="nedoma" value="Нет">Нет</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left left_0">Проводите ли
                                    <div class="block">занятия удаленно<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <ul class="radio-list radio-list-input callback_jel_pol">
                                        <li class="selected"><input type="radio" name="skype" value="1">Да</li>
                                        <li><input type="radio" name="skype" value="0" checked>Нет</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="regist_form_row last">
                                <div class="left left_0">Выезд в другие
                                    <div class="block">города:</div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='id_gorod'>
                                            <option value="0">Санкт-Петербург
                                                <?php include "../gorod.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="regist_form_row regist_form_col_hide">
                                <div class="left">Еще город:</div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='id_gorodtwo'>
                                            <option value="0">
                                                <?php include "../gorod.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="regist_form_row regist_form_col_hide">
                                <div class="left">Еще город:</div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='id_gorodtri'>
                                            <option value="0">
                                                <?php include "../gorod.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="regist_form_row regist_form_col_hide">
                                <div class="left">Еще город:</div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='id_gorodfour'>
                                            <option value="0">
                                                <?php include "../gorod.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_addgorod">
                            <a href="javascript:void(0);" class="button_3 btn regist_form_col_show">+ Добавить город</a>
                        </div>

                        <div class="regist_form_navigation">
                            <a href="javascript:void(0);" data-step="3" class="button_1 next">Сохранить и перейти к шагу
                                4</a><a href="javascript:void(0);" data-step="3" class="button_5 prev">Вернуться к шагу 2</a>
                        </div>
                    </div>
                </div>
                <div class="regist_block" data-step="4">
                    <div class="regist_name"><span class="pos">4.</span>Стоимость занятий</div>
                    <div class="regist_form">
                        <div class="callback_error"></div>
                        <div class="regist_form_col_lern first">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="left left_0">Мин. стоимость
                                        <div class="block">часа занятия:<span class="field_obyaz">*</span>:</div>
                                    </div>
                                    <div class="right">
                                        <input data-rch="price" type="text" name="price" maxlength="4">
                                    </div>
                                </div>
                            </div>
                            <div class="regist_form_col_right">
                                <div class="regist_form_row regist_form_row_fltr">

                                </div>
                            </div>
                        </div>
                        <div class="regist_form_col_komment">
                            <div class="regist_form_row">
                                <div class="left">Стоимость занятий для каждого преподаваемого предмета<a
                                        href="javascript:void(0);"
                                        title="Стоимость занятий для каждого преподаваемого предмета, например, цена урока индивидуально и в мини-группах, по скайпу или у ученика дома и т.д."
                                        rel="tooltip" class="tooltip_link"></a>:
                                </div>
                                <div class="right">
                                    <textarea data-rch="cena" name="cena" cols="100" rows="8"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_navigation">
                            <a href="javascript:void(0);" data-step="4" class="button_1 next">Сохранить и перейти к шагу
                                5</a><a href="javascript:void(0);" data-step="4" class="button_5 prev">Вернуться к шагу 3</a>
                        </div>
                    </div>
                </div>

                <div class="regist_block" data-step="5">
                    <div class="regist_name"><span class="pos">5.</span>Опыт преподавания и образование, дипломы,
                        сертификаты
                    </div>
                    <div class="regist_form">
                        <div class="callback_error"></div>

                        <div class="regist_form_col_left regist_form_col_left_p1">
                            <div class="regist_form_row">
                                <div class="left left_0">Общий
                                    <div class="block">преподават. стаж:</div>
                                </div>
                                <div class="right">
                                    <input data-rch="stag" type="text" name="stag" maxlength="2">
                                </div>
                            </div>

                            <div class="regist_form_row">
                                <div class="left">Опыт работы<a href="javascript:void(0);"
                                                                title="Опыт работы в образовательных учреждениях (указывайте, где и сколько по времени работали)"
                                                                rel="tooltip" class="tooltip_link"></a>:
                                </div>
                                <div class="right">
                                    <textarea data-rch="stag_v" name="stag_v" cols="100" rows="8"></textarea>
                                </div>
                            </div>

                            <div class="regist_form_row">
                                <div class="left left_0">Ваш статус<span class="field_obyaz">*</span>:</div>
                                <div class="right">
                                    <div class="select_def">
                                        <select name='status'>
                                            <option value="Студент"> Студент</option>
                                            <option value="Аспирант"> Аспирант</option>
                                            <option value="Школьный преподаватель"> Школьный преподаватель</option>
                                            <option value="Преподаватель вуза"> Преподаватель вуза</option>
                                            <option value="Частный преподаватель"> Частный преподаватель</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="regist_form_row last">
                                <div class="left left_0">ВУЗ, который Вы
                                    <div class="block">окончили<span class="field_obyaz">*</span>:</div>
                                </div>
                                <div class="right">
                                    <div class="select_def">
                                        <select data-rch="id_vuz" name='id_vuz'>
                                            <?php include "../vuz.php"; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="regist_form_col_right regist_form_col_right_p1">
                            <div class="regist_form_row">
                                <div class="left">Год окончания
                                    <div class="block">ВУЗа:</div>
                                </div>
                                <div class="right"><input class="calendar" data-rch="diplom" type="text" name="diplom"
                                                          maxlength="4"></div>
                            </div>
                            <div class="regist_form_row">
                                <div class="left">Ваше образование,
                                    <div class="block">ученая степень</div>
                                    <div class="block">и др<a href="javascript:void(0);"
                                                              title="Укажите ВУЗ и факультет, год окончания/на каком курсе учитесь"
                                                              rel="tooltip" class="tooltip_link"></a>:
                                    </div>
                                </div>
                                <div class="right">
                                    <textarea data-rch="obrazovanie" name="obrazovanie" cols="100" rows="8"></textarea>
                                </div>
                            </div>
                            <div class="regist_form_row last">
                                <div class="left">Доп. информация
                                    <div class="block">о себе<a href="javascript:void(0);"
                                                                title="Здесь Вы можете поместить любую дополнительную информацию о себе"
                                                                rel="tooltip" class="tooltip_link"></a>:
                                    </div>
                                </div>
                                <div class="right">
                                    <textarea data-rch="dopinfo" name="dopinfo" cols="100" rows="8"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_photo_other">
                            <div class="regist_form_col_left">
                                <div class="regist_form_row">
                                    <div class="photo_title">Дипломы или рабочее место<a href="javascript:void(0);"
                                                                                         title="Фото ваших дипломов, грамот, рабочего места, спортивного зала, фото с ваших тренировок или занятий (для спортивных тренеров)"
                                                                                         rel="tooltip"
                                                                                         class="tooltip_link"></a></div>
                                    <div class="droparea_files">
                                        <div class="droparea_preview_images clearfix">

                                        </div>
                                        <div class="droparea_upload">
                                            Перетащите изображения дипломов в эту область,
                                            <div>либо <span>выберите</span> нужные файлы на Вашем ПК</div>
                                        </div>
                                        <input type="hidden" data-rch="photo_other_count" name="photo_other_count"
                                               value="0">
                                        <input style="display: none;" type="file" id="file" name="photo_other_area[]"
                                               multiple="multiple" accept="image/jpg, image/jpeg, image/png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 20px">
                            <div class="regist_form_row">
                                <div>Видео (ссылка на youtube): <a href="javascript:void(0);"
                                                                   title='Здесь вы можете разместить ссылку на вашу видеопрезентацию, где вы рассказываете о себе. Примеры презентаций есть на нашем Ютуб канале - "Репетит-Центр"'
                                                                   rel="tooltip" class="tooltip_link"></a></div>
                                <div class="video"><input data-rch="video_youtube" type="text" name="video_youtube">
                                </div>
                            </div>
                        </div>

                        <div class="regist_form_col_dubl">
                            <ul class="checkbox-list checkbox-list-input callback_jel_pol">
                                <li><input type="checkbox" class="checkbox" name="dubl" value="1">Вторая анкета
                                    (отметьте, если уже делалась анкета ранее - по другим дисциплинам)
                                </li>
                            </ul>
                        </div>

                        <input value="1" type="hidden" name="tip">

                        <div class="callback_error_send"></div>

                        <div class="regist_form_navigation">
                            <a href="javascript:void(0);" data-step="5" class="button_1 send">Отправить</a><a
                                href="javascript:void(0);" data-step="5" class="button_5 prev">Вернуться к шагу 4</a>
                            <div class="sogl"><span>Отправляя данные, вы подтверждаете ознакомление и согласие с </span><a
                                    class="other" href="/include/personal-data.php" target="_blank">Политикой в
                                    области обработки персональных данных полностью</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/circle-progress.min.js"></script>
    <script src="/assets/js/registration_page.min.js"></script>
    <script>
        $(document).ready(function() {
            $("form [name=phone]").inputmask({"mask": "+7 (999) 999-99-99"});
        })
    </script>
{% endblock %}
