{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        Репетиторы {{ district.in_the_direction }} &#128270; - "СПбРепетитор"
    {% else %}
        Репетиторы {{ district.in_the_direction }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }})
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Частные репетиторы {{ district.in_the_direction }}. &#11088;Отзывы, цены, бесплатный и быстрый поиск!&#11088; Репетиторы, логопеды, тренеры, инструкторы на Spbrepetitor.ru.">
    {% else %}
        <meta name="description" content="Преподаватели - {{ district.name }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}).">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ district.slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {% if repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: district.name, type: constant('Helper::REPETITOR') }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~ ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: district.slug ~ '.php', title: district.name }] }) }}
        {% endif %}

        <h1 class="header-through" itemprop="name"><span>Репетиторы - {{ district.name }} район</span></h1>
        <p class="rep_kol">Всего репетиторов в районе {{ district.name }}: <span>{{ repetitors.total }}</span></p>
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
        </section>
    </div>
    {% set filter = district.id_districts != 1 ? '/include/other_predmet_raion.php?id_raion=' ~ district.id_districts : null %}
    {{ Helper.searchSidebar(null, false, {'filter_by_course':filter}) }}
{% endblock %}
