{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        Репетиторы {{ metro.in_the_direction }} &#128270; - "СПбРепетитор"
    {% else %}
        Репетиторы {{ metro.in_the_direction }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}) - "СПбРепетитор"
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Частные репетиторы {{ metro.in_the_direction }}. &#11088;Отзывы, цены, бесплатный и быстрый поиск!&#11088; Репетиторы, логопеды, тренеры, инструкторы на Spbrepetitor.ru.">
    {% else %}
        <meta name="description" content="Преподаватели - {{ metro.name }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}).">
    {% endif %}
{% endblock %}

{% block links %}
    {% if repetitors.currentPage == 1 %}
        <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ metro.slug }}.php">
    {% else %}
        <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ metro.slug }}.php?start={{ (repetitors.currentPage - 1) * repetitors.perPage }}">
    {% endif %}
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {% if repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: metro.name, type: constant('Helper::REPETITOR') }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~  ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: metro.slug ~ '.php', title: metro.name }] }) }}
        {% endif %}

        {{ include('../components/h1.twig', { name: 'Репетиторы - ' ~ metro.name, props: 'itemprop="name"' }) }}

        <p class="rep_kol">Всего репетиторов в районе метро {{ metro.name }}: <span>{{ repetitors.total }}</span></p>
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
    {% set filter = metro.id_metro != 1 ? '/include/other_predmet_metro.php?id_metro=' ~ metro.id_metro : null %}
    {{ Helper.searchSidebar(null, false, {'filter_by_course':filter}) }}
{% endblock %}
