{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетиторов по вузам Санкт-Петербурга{% endblock %}

{% block metas %}
    <meta name="description" content="Поиск репетитора по ВУЗу, в котором он обучался.">;
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/poisk-po-vuzu.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по вузу', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск репетиторов по вузам Санкт-Петербурга' }) }}
    </div>
    <div class="main width_100">
        <div class="search-alf_block">
            {% if universities|length > 0 %}
                <ul>
                {% for university in universities %}
                    <li>
                        -&nbsp;<a href="{{ university.slug }}.php">{{ university.short_name }}</a>
                        <br>{{ university.name }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                Список вузов пуст
            {% endif %}
        </div>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
