{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетитора по номеру анкеты{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/poisk-repetitora.php">
    <link rel="stylesheet" href="/assets/css/fancybox-rep-map.css">
{% endblock %}

{% block scripts %}
    <script src="/assets/js/rep_metro_type_1.js"></script>
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Поиск репетитора по номеру его анкеты' %}
        {{ include('../components/breadcrumbs.twig', { last: title }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <form action="poisk-repetitora.php" method="post">
            {{ csrf_field() }}
            <p class="forgot-hint">Введите номер анкеты:</p>
            <div class="search-box_white3">
                <div>
                    <input type="text" name="account_number" maxlength="6" style="max-width: 304px; margin: 0 0 20px 0;">
                </div>
            </div>
            <input type="submit" value="поиск" class="button_1" style="margin: 0 0 40px 0;">
        </form>
    </div>
    <section id="tutors">
        {% if repetitor is defined %}
            {% if repetitor is not null %}
                {{ include('../components/show-account.twig') }}
            {% else %}
                <div class="no_user_predmet_new">
                    <div class="title">Репетиторов не найдено</div>
                    <div class="content">Репетитора с номером анкеты <b>{{ id }}</b> нет в базе.
                        <div class="fixedblock">
                            <a class="button_1 btn" href="javascript:void(0);" onclick="callback_rep(null, 3)">Быстрый подбор репетитора (бесплатно)</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <br><br>
        {{ include('../components/likes.twig') }}
    </section>
{% endblock %}
