{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        Репетиторы по {{ course.recommend_name }} из СПбГУ &#128270; | "СПбРепетитор"
    {% else %}
        Репетитор по {{ course.recommend_name }} из СПбГУ (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }})
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Опытные репетиторы по {{ course.recommend_name }} из СПбГУ с отзывами. &#11088;Умеренные цены, бесплатный поиск репетитора из СПбГУ по базе!&#11088; Подробнее на сайте Spbrepetitor.ru.">
    {% else %}
        <meta name="description" content="Преподаватели по {{ course.recommend_name }} из СПбГУ (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}).">
    {% endif %}
{% endblock %}

{% block links %}
    {% if repetitors.currentPage == 1 %}
        <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.url }}/spbgu.php">
    {% else %}
        <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.url }}/spbgu.php?start={{ (repetitors.currentPage - 1) * repetitors.perPage }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="lead">
        {% if repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: 'СПбГУ', type: constant('Helper::REPETITOR'), array: [{ url: '/include/' ~ course.slug_second ~ '.php', title: course.name }] }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~  ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: '/include/' ~ course.slug_second ~ '.php', title: course.name }, { url: '/include/spbgu.php', title: 'СПбГУ' }] }) }}
        {% endif %}

        {{ include('../components/h1.twig', { name: 'Репетиторы по ' ~ course.recommend_name ~ ' из СПбГУ', props: 'itemprop="name"' }) }}

        <p class="rep_kol" style="text-align: center;">Хотите найти репетитора по {{ course.recommend_name }} из СПбГУ? В нашей базе их {{ repetitors.total }}!</p>
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}

            {% if newCourse is not null %}
            <p align="justify"><font size="1"><br><p align="center">Если Вам требуется <a href="/include/{{ newCourse.slug }}/spbgu.php">репетитор по {{ newCourse.recommend_name }} из СПбГУ</a>, то оставляйте заявку в разделе "Найти репетитора".<p>
            {% endif %}
        </section>
    </div>
    {{ Helper.searchSidebar(null, false) }}
{% endblock %}
