{% extends '../layouts/main.twig' %}

{% block title %}
    {% if repetitors.currentPage == 1 %}
        Репетиторы из {{ university.short_name }} &#128270; ({{ university.name }}) | "СПбРепетитор"
    {% else %}
        Репетиторы из {{ university.short_name }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }})
    {% endif %}
{% endblock %}

{% block metas %}
    {% if repetitors.currentPage == 1 %}
        <meta name="description" content="Опытные репетиторы из {{ university.short_name }} с отзывами. &#11088;Умеренные цены, бесплатный поиск репетитора из {{ university.short_name }} по базе!&#11088; Подробнее на сайте Spbrepetitor.ru.">
    {% else %}
        <meta name="description" content="Преподаватели из {{ university.short_name }} (анкеты с {{ repetitors.firstItem }} по {{ repetitors.lastItem }}).">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ university.slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {% if repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: university.short_name, type: constant('Helper::REPETITOR') }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~ ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: [{ url: university.slug, title: university.short_name }] }) }}
        {% endif %}

        {{ include('../components/h1.twig', { name: 'Репетиторы из ' ~ university.short_name }) }}

        <p class="rep_kol">Хотите найти репетитора из {{ university.short_name }}? В нашей базе их - <span>{{ repetitors.total }}</span>!</p>
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}

            {% if repetitors.currentPage == 1 and newUniversity is not null %}
                <font size="1"><br><div class=perelink_bottom_seo><p><strong>Если Вам требуется <a href="{{ newUniversity.slug }}.php">репетитор из {{ newUniversity.short_name }}</a>, то оставляйте заявку в разделе "Найти репетитора"</strong></p></div></font>
            {% endif %}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
    {% set filter = university.id_universities == 1 ? '/include/other_predmet_mgu.php' : null %}
    {{ Helper.searchSidebar(null, false, {'filter_by_course':filter}) }}
{% endblock %}
