{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Репетиторы на м. {{ metro.name }}{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/other_predmet_metro.php?id_metro={{ metro.id_metro }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Быстрый фильтр по метро', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Быстрый фильтр по м. ' ~ metro.name }) }}
    </div>
    <table width="100%">
        {% if (courses|length + carInstructorsCount + motorInstructorsCount) == 0 %}
            Список предметов пуст
        {% else %}
            {% set index = 1 %}
            {% for course in courses %}
                {% if index % 4 == 1 %}<tr>{% endif %}
                <td width=25% valign=top><a href="{{ course.slug }}/{{ metro.slug }}.php">{{ course.name }}</a></td>
                {% if index % 4 == 0 %}</tr>{% endif %}
                {% set index = index + 1 %}
            {% endfor %}

            {% if carInstructorsCount %}
                {% if index % 4 == 1 %}<tr>{% endif %}
                <td width=25% valign=top><a href="avtoinstruktor/{{ metro.slug }}.php">Вождение автомобиля</a></td>
                {% if index % 4 == 0 %}</tr>{% endif %}
                {% set index = index + 1 %}
            {% endif %}

            {% if motorInstructorsCount %}
                {% if index % 4 == 1 %}<tr>{% endif %}
                <td width=25% valign=top><a href="motoinstruktor/{{ metro.slug }}.php">Вождение мотоцикла</a></td>
                {% if index % 4 == 0 %}</tr>{% endif %}
            {% endif %}
        {% endif %}
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
