{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Поиск репетитора из СПбГУ{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/other_predmet_mgu.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Быстрый фильтр по СПбГУ', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Быстрый фильтр по СПбГУ' }) }}
    </div>
    <table width="100%">
        {% for course in courses %}
            {% if loop.index % 4 == 1 %}
            <tr>
            {% endif %}
            <td width="25%" valign="top">
                <a href="{{ course.slug }}/spbgu.php">{{ course.name }}</a>
            </td>
            {% if loop.index % 4 == 0 %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
