{% extends '../layouts/main.twig' %}

{% block title %}{{ seo.title|raw }}{% endblock %}

{% block metas %}{% if seo.description %}<meta name="description" content="{{ seo.description|raw }}">{% endif %}{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {% set name = course.name %}

        {# Если у предмета есть третий предмет, то убираем первый и оставляем два оставшихся #}
        {% if course.id_courses_third is not empty %}
            {% set name = name|split(', ', 2)|slice(1)|join(', ')|ucfirst %}
        {# Если у предмета есть второй предмет, то убираем первый и оставляем второй, чтобы убрать дубль в хлебных крошках #}
        {% elseif course.id_courses_second is not empty %}
            {% set name = name|split(' и ') %}

            {% if name|length > 1 %}
                {% set name = name|slice(1) %}
            {% endif %}

            {% set name = name|join|ucfirst %}
        {% endif %}

        {% if repetitors.currentPage == 1 and course.id_courses_categories_second in [constant('App\\Models\\CoursesCategoriesSecond::SPORT_DISCIPLINES'), constant('App\\Models\\CoursesCategoriesSecond::DANCE')] %}
            {{ include('../components/breadcrumbs.twig', { last: 'Тренеры по ' ~ course.recommend_name, type: constant('Helper::REPETITOR') }) }}
        {% elseif repetitors.currentPage == 1 %}
            {{ include('../components/breadcrumbs.twig', { last: name, type: constant('Helper::REPETITOR'), array: course.parentCourse is not empty ? [{url: '/include/' ~ course.parentCourse.slug ~ '.php', title: course.parentCourse.name }] : null }) }}
        {% else %}
            {{ include('../components/breadcrumbs.twig', { last: 'Анкеты с ' ~ repetitors.firstItem ~ ' по ' ~ repetitors.lastItem, type: constant('Helper::REPETITOR'), array: course.parentCourse is not empty ? [{ url: '/include/' ~ course.parentCourse.slug ~ '.php', title: course.parentCourse.name }, { url: '/include/' ~ course.slug ~ '.php', title: name }] : [{ url: '/include/' ~ course.slug ~ '.php', title: name }] }) }}
        {% endif %}

        {% if repetitors.currentPage == 2 and course.id_courses_categories_second in [constant('App\\Models\\CoursesCategoriesSecond::GENERAL'), constant('App\\Models\\CoursesCategoriesSecond::LANGUAGES'), constant('App\\Models\\CoursesCategoriesSecond::MUSIC'), constant('App\\Models\\CoursesCategoriesSecond::OTHER_SUBJECTS')] %}
            {{ include('../components/h1.twig', { name: 'Частные объявления репетиторов по ' ~ course.recommend_name }) }}
        {% elseif repetitors.currentPage == 2 and course.id_courses_categories_second == constant('App\\Models\\CoursesCategoriesSecond::LOGOPEDICS') %}
            {{ include('../components/h1.twig', { name: 'Частные объявления логопедов' }) }}
        {% elseif course.seo.h1 is not empty %}
            {{ include('../components/h1.twig', { name: course.seo.h1 }) }}
        {% else %}
            {{ include('../components/h1.twig', { name: 'Репетиторы по ' ~ course.recommend_name }) }}
        {% endif %}

        {% if totalText is not empty %}
            <p class="rep_kol" style="text-align:center;">{{ totalText|raw }}</p>
        {% endif %}

        {% if not repetitors.total %}
            <p class="no_user_predmet">Если вы преподаете этот предмет - <a href="/include/registraciya.php">зарегистрирутесь</a> и станьте первым преподавателем в этой категории!</p>
        {% else %}
            {% if prependText is not empty %}
                <p class="s_text_info">{{ prependText|raw }}</p>
            {% endif %}
        {% endif %}
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
            {{ pagesAppendText|raw }}
        </section>
        {{ include('../components/likes.twig') }}
    </div>
    {{ Helper.searchSidebar(course, false) }}
{% endblock %}
