{% extends '../../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - поиск репетитора {{ course.recommend_name_second }} по классу{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/klass.php?predmet={{ course.id_courses }}">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Поиск по классам', type: constant('Helper::REPETITOR') }) }}
        {{ include('../components/h1.twig', { name: 'Поиск репетитора ' ~ course.recommend_name_second ~ ' по классу' }) }}
    </div>
    <table border="0" width="100%">
        <tr>
            <td width="50%" valign="top">
                {% if course.id_courses in [
                    constant('App\\Models\\Courses::MATHEMATICS'),
                    constant('App\\Models\\Courses::RUSSIAN')
                ] %}
                    -&nbsp;<a href="{{ course.slug }}/2-klass.php">Репетиторы по {{ course.recommend_name }} для 2 класса</a><br>
                    -&nbsp;<a href="{{ course.slug }}/3-klass.php">Репетиторы по {{ course.recommend_name }} для 3 класса</a><br>
                    -&nbsp;<a href="{{ course.slug }}/4-klass.php">Репетиторы по {{ course.recommend_name }} для 4 класса</a><br>
                    -&nbsp;<a href="{{ course.slug }}/5-klass.php">Репетиторы по {{ course.recommend_name }} для 5 класса</a><br>
                    -&nbsp;<a href="{{ course.slug }}/6-klass.php">Репетиторы по {{ course.recommend_name }} для 6 класса</a><br>
                    -&nbsp;<a href="{{ course.slug }}/7-klass.php">Репетиторы по {{ course.recommend_name }} для 7 класса</a><br>
                {% endif %}

                -&nbsp;<a href="{{ course.slug }}/8-klass.php">Репетиторы по {{ course.recommend_name }} для 8 класса</a><br>
                -&nbsp;<a href="{{ course.slug }}/9-klass.php">Репетиторы по {{ course.recommend_name }} для 9 класса</a><br>
                -&nbsp;<a href="{{ course.slug }}/10-11-klass.php">Репетиторы по {{ course.recommend_name }} для 10-11 классов</a><br>
            </td>
        </tr>
    </table>
    {{ include('../components/likes.twig') }}
{% endblock %}
