{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Найти репетитора{% endblock %}

{% block metas %}
    <meta name="description" content="Бесплатный подбор репетитора по вашим требованиям в Санкт-Петербурге. Более 20 000 анкет!">
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://spbrepetitor.ru/include/postform.php">
{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Найти репетитора' }) }}
        {{ include('../components/h1.twig', { name: 'Поиск репетитора с нашей помощью' }) }}
    </div>
    <div class="main width_100">
        <form action="/ajax/add-order?type=3" method="post" id="callback" class="form h_postform_ajax callback_js callback_postform">
            {{ csrf_field() }}

            <div class="fancybox-postform_text_all">Заполните форму ниже и мы <b>бесплатно</b> порекомендуем вам
                преподавателя в соответствии с вашими пожеланиями. Оформление заказа на поиск ни к чему вас не
                обязывает: если преподаватель вас не устроит или вы с ним не договоритесь по дням занятий и т.д., то
                мы подберем другого. Это тоже <b>бесплатно</b>.
            </div>

            <div class="callback_rep">
                <div class="callback_error"></div>
                <div class="callback_rep_l">
                    <div class="callback_bl">
                        <div class="callback_name">Имя<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" autocomplete="off" name="name" maxlength="49">
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Телефон<span class="field_obyaz">*</span>:</div>
                        <div class="callback_ff">
                            <input type="text" name="phone" id="s_phone" maxlength="23">
                        </div>
                    </div>

                    <div class="callback_bl form_share">
                        <div class="callback_name">E-mail:</div>
                        <div class="callback_ff">
                            <input type="text" name="email" maxlength="49">
                        </div>
                    </div>

                    <div class="callback_bl form_share">
                                <div class="callback_name">Предмет:</div>
                                <div class="callback_ff">
                                    <div class="select select-small">
                                        <div class="current"></div>
                                        <div class="list">
                                            <div class="select_search">
                                                <input placeholder="Введите предмет" type="text" value="">
                                            </div>
                                            <div class="list2 only_one scroll-custom radio-list radio-list-column radio-list-unchecked">
                                                {% for course in searchCoursesList %}
                                                    <input id="radio-course-{{ course.id_courses }}" type="radio" name="id_courses" value="{{ course.id_courses }}" class="change-current">
                                                    <label for="radio-course-{{ course.id_courses }}">{{ course.name }}</label>
                                                {% endfor %}

                                                {% for course in coursesList %}
                                                    <input id="radio-course-a-{{ course.id_courses }}" type="radio" name="id_courses" value="{{ course.id_courses }}" class="change-current">
                                                    <label for="radio-course-a-{{ course.id_courses }}">{{ course.name }}</label>
                                                {% endfor %}
                                            </div>
                                            <div class="select_cur_right button_3">Завершить выбор</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <div class="callback_bl form_share">
                        <div class="callback_name">Цель занятий,<br> возраст/класс ученика:</div>
                        <div class="callback_ff">
                            <textarea name="object" cols="100" rows="8"></textarea>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Место занятий:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_orders_locations">
                                    {% for location in locations %}
                                        <option value="{{ location.id_orders_locations }}">{{ location.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Город:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_cities">
                                    {% for city in cities %}
                                        <option value="{{ city.id_cities }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Метро:</div>
                        <div class="callback_ff">
                            <div class="select_def">
                                <select name="id_metro">
                                    {% for item in metro %}
                                        <option value="{{ item.id_metro }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="callback_rep_r form_share">
                    <div class="callback_bl">
                        <div class="callback_name">Цена до</div>
                        <div class="callback_ff callback_price">
                            <input type="text" name="price_limit" maxlength="4">
                            <span class="callback_price_span">за</span>
                            <div class="select_def">
                                {% set times = [60, 90, 120, 135, 180, 240] %}
                                <select name="duration">
                                    {% for time in times %}
                                        <option value="{{ time }}">{{ time }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_name">Пол репетитора:</div>
                        <div class="callback_ff">
                            <div class="radio-list">
                                <input id="man" type="radio" name="sex" value="0" checked>
                                <label for="man">Муж.</label>

                                <input id="woman" type="radio" name="sex" value="1">
                                <label for="woman">Жен.</label>

                                <input id="it" type="radio" name="sex" value="">
                                <label for="it">Не важно</label>
                            </div>
                        </div>
                    </div>

                    <div class="callback_bl callback_dopinfo">
                        <div class="callback_name">Дополнительная информация:</div>
                        <div class="callback_ff">
                            <textarea name="additional_information" cols="100" rows="8"></textarea>
                            <div class="callback_ff_smalltext">Удобные дни и время занятий; дальность от метро</div>
                        </div>
                    </div>

                    <div class="callback_bl resp_cb_area_2">
                        <div class="callback_name">&nbsp;</div>
                        <div class="callback_ff">
                            <textarea name="additional_information_second" cols="100" rows="4"></textarea>
                            <div class="callback_ff_smalltext">Возраст, статус репетитора</div>
                        </div>
                    </div>

                    <div class="callback_bl">
                        <div class="callback_rep_s">
                            <div class="postform_sogl">Отправляя заявку, подтверждаю ознакомление и согласие с <a
                                    href="/include/term-of-use.php" target="_blank">Пользовательским
                                    Соглашением</a>, <a href="/include/personal-data.php" target="_blank">Политикой
                                    в области обработки персональных данных полностью</a> и даю <a
                                    href="/include/soglasie.php" target="_blank">согласие</a> на обработку
                                персональных данных.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form_share_but">
                    <div>Скрыть дополнительную информацию</div>
                </div>

    {#            <input value="<?php echo $_COOKIE['fav']; ?>" type="hidden" name="fav_id">#}
    {#            <input value="0" type="hidden" name="id_rep">#}
    {#            <input value="rep" type="hidden" name="addpost_type">#}

    {#            <input value="1" type="hidden" name="callback">#}

                <div class="actions-row button_podbor">
                    <input type="submit" value="Подобрать репетитора" style="font-size: 12px;" class="btn button_1"
                           onclick="ga('send', 'event', 'ajax_post', 'sent_post');">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.main input[name="phone"]').inputmask("+7 (999) 999-99-99");
    </script>
{% endblock %}
