{% extends '../layouts/main.twig' %}

{% block title %}{{ seo.title|raw }}{% endblock %}

{% block metas %}
    {% if seo.description %}
        <meta name="description" content="{{ seo.description|raw }}">
    {% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ course.slug }}/{{ city.slug }}.php{{ repetitors.currentPage > 1 ? '?start=' ~ (repetitors.currentPage - 1) * repetitors.perPage : '' }}">
{% endblock %}

{% block content_scheme %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: breadcrumbs.last, type: breadcrumbs.type, array: breadcrumbs.items }) }}
        {{ include('../components/h1.twig', { name: header }) }}

        {% if totalText is not empty %}
            <p class="rep_kol" style="text-align:center;">{{ totalText|raw }}</p>
        {% endif %}

        {% if prependText is not empty %}
            <p class="s_text_info">{{ prependText|raw }}</p>
        {% endif %}
    </div>
    {{ Helper.helpButtons(constant('Helper::REPETITOR')) }}
    <div class="main">
        {{ Helper.filterButtons() }}
        {{ Helper.sortButtons(constant('Helper::REPETITOR'), repetitors.total) }}
        <section id="tutors">
            {% for repetitor in repetitors %}
                {{ include('../components/show-account.twig') }}
            {% endfor %}
            {{ repetitors.links('components.pagination')|raw }}
        </section>
    </div>
    {{ Helper.searchSidebar(null, false) }}
{% endblock %}
