{% extends '../layouts/main.twig' %}

{% block title %}Новости "СПбРепетитора" - {{ news.title }}{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/new.php?id_news={{ news.id_news }}" >
{% endblock %}

{% block content %}
    <div class="lead">
        {% set title = 'Новости' %}
        {{ include('../components/breadcrumbs.twig', { last: news.title, array: [{ url: 'news.php', title: title }] }) }}
        {{ include('../components/h1.twig', { name: title }) }}
    </div>
    <div class="main width_100">
        <table align="center" width="100%" bgcolor="white" border="0" cellpadding="0" cellspacing="0" frame="void" rules="none">
        <tr>
            <td width="20">&nbsp</td>
            <td>
                <strong>{{ news.date|localizeddate('long', 'none', 'ru_RU') }}</strong>
                <p align="justify">
                    {% if news.photo %}
                        <img src="{{ env('PHOTOS_NEWS_DIR') ~ news.photo }}" align="right" width="360" hspace="13" vspace="13">
                    {% endif %}

                    &ensp;&ensp;{{ news.text|nlbr|raw }}
                    <p align="right">{{ from }}</p>
                </p>
            </td>
            <td width="30">&nbsp</td>
        </tr>
        </table>
        {{ include('../components/likes.twig') }}
    </div>
{% endblock %}
