{% extends '../layouts/main.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block metas %}
    {% if blog.description %}<meta name="description" content="{{ blog.description }}">{% endif %}
{% endblock %}

{% block links %}
    <link rel="canonical" href="https://{{ env('DOMAIN') }}/include/{{ blog.slug }}.php">
{% endblock %}

{% block content %}
    <div class="lead">
        <div style="line-height: 19px;">
            {{ include('../components/breadcrumbs.twig', { last: blog.breadcrumb, type: constant('Helper::REPETITOR') }) }}
            <h1 style="line-height: 30px;">{{ blog.header }}</h1>
            <p align="justify">
                {% if blog.photo %}
                    <img src="{{ env('PHOTOS_NEWS_DIR') ~ blog.photo }}" align="right" width="360" hspace="13" vspace="13">
                {% endif %}
                &ensp;&ensp;{{ blog.text|nlbr|raw }}
            </p>
            <p align="right">© СПбРепетитор<br>{{ blog.date|date('d.m.Y') }}</p>

            <p>Читайте также в следующих статьях - <a href="{{ next.slug }}.php">{{ next.breadcrumb }} в СПб</a></p>

            {{ include('../components/likes.twig') }}
        </div>
    </div>
{% endblock %}
