{% extends '../layouts/main.twig' %}

{% block title %}"СПбРепетитор" - Фильтры по {{ course.recommend_name }}{% endblock %}

{% block content %}
    <div class="lead">
        {{ include('../components/breadcrumbs.twig', { last: 'Фильтры', type: constant('Helper::REPETITOR'), array: [{ url: '/include/' ~ (course.recommend_name_second is not empty ? course.slug_second ~ '.php' : course.slug ~ '/'), title: course.name }] }) }}
        <h1 class="header-through m-b_0"><span>Фильтры по {{ course.recommend_name }}</span></h1>
    </div>
    <div class="main width_100">
        <section id="tutors">
            <div class="search-alf_block search-alf_width_100 search-alf_uniqs">
                <ul>
                {% for item in courses %}
                    <li>-&nbsp;<a href="/include/{{ item.slug }}.php">{{ item.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {{ include('../components/likes.twig') }}
        </section>
    </div>
{% endblock %}
